'.source.rubymotion':
  'kGSSChangePasswordNewPassword (kGSSChangePasswordNewPassword)':
    'prefix': 'kGSSChangePasswordNewPassword'
    'body': 'KGSSChangePasswordNewPassword'
  'kGSSChangePasswordOldPassword (kGSSChangePasswordOldPassword)':
    'prefix': 'kGSSChangePasswordOldPassword'
    'body': 'KGSSChangePasswordOldPassword'
  'kGSSCredentialUsage (kGSSCredentialUsage)':
    'prefix': 'kGSSCredentialUsage'
    'body': 'KGSSCredentialUsage'
  'kGSSICAppIdentifierACL (kGSSICAppIdentifierACL)':
    'prefix': 'kGSSICAppIdentifierACL'
    'body': 'KGSSICAppIdentifierACL'
  'kGSSICCertificate (kGSSICCertificate)':
    'prefix': 'kGSSICCertificate'
    'body': 'KGSSICCertificate'
  'kGSSICKerberosCacheName (kGSSICKerberosCacheName)':
    'prefix': 'kGSSICKerberosCacheName'
    'body': 'KGSSICKerberosCacheName'
  'kGSSICLKDCHostname (kGSSICLKDCHostname)':
    'prefix': 'kGSSICLKDCHostname'
    'body': 'KGSSICLKDCHostname'
  'kGSSICPassword (kGSSICPassword)':
    'prefix': 'kGSSICPassword'
    'body': 'KGSSICPassword'
  'kGSSICVerifyCredential (kGSSICVerifyCredential)':
    'prefix': 'kGSSICVerifyCredential'
    'body': 'KGSSICVerifyCredential'
  'kGSS_C_ACCEPT (kGSS_C_ACCEPT)':
    'prefix': 'kGSS_C_ACCEPT'
    'body': 'KGSS_C_ACCEPT'
  'kGSS_C_BOTH (kGSS_C_BOTH)':
    'prefix': 'kGSS_C_BOTH'
    'body': 'KGSS_C_BOTH'
  'kGSS_C_INITIATE (kGSS_C_INITIATE)':
    'prefix': 'kGSS_C_INITIATE'
    'body': 'KGSS_C_INITIATE'
  'GSSAPI_GSSAPI_OID (1)':
    'prefix': 'GSSAPI_GSSAPI_OID'
    'body': 'GSSAPI_GSSAPI_OID'
  'GSS_C_ACCEPT (2)':
    'prefix': 'GSS_C_ACCEPT'
    'body': 'GSS_C_ACCEPT'
  'GSS_C_AF_APPLETALK (16)':
    'prefix': 'GSS_C_AF_APPLETALK'
    'body': 'GSS_C_AF_APPLETALK'
  'GSS_C_AF_BSC (17)':
    'prefix': 'GSS_C_AF_BSC'
    'body': 'GSS_C_AF_BSC'
  'GSS_C_AF_CCITT (10)':
    'prefix': 'GSS_C_AF_CCITT'
    'body': 'GSS_C_AF_CCITT'
  'GSS_C_AF_CHAOS (5)':
    'prefix': 'GSS_C_AF_CHAOS'
    'body': 'GSS_C_AF_CHAOS'
  'GSS_C_AF_DATAKIT (9)':
    'prefix': 'GSS_C_AF_DATAKIT'
    'body': 'GSS_C_AF_DATAKIT'
  'GSS_C_AF_DECnet (12)':
    'prefix': 'GSS_C_AF_DECnet'
    'body': 'GSS_C_AF_DECnet'
  'GSS_C_AF_DLI (13)':
    'prefix': 'GSS_C_AF_DLI'
    'body': 'GSS_C_AF_DLI'
  'GSS_C_AF_DSS (18)':
    'prefix': 'GSS_C_AF_DSS'
    'body': 'GSS_C_AF_DSS'
  'GSS_C_AF_ECMA (8)':
    'prefix': 'GSS_C_AF_ECMA'
    'body': 'GSS_C_AF_ECMA'
  'GSS_C_AF_HYLINK (15)':
    'prefix': 'GSS_C_AF_HYLINK'
    'body': 'GSS_C_AF_HYLINK'
  'GSS_C_AF_IMPLINK (3)':
    'prefix': 'GSS_C_AF_IMPLINK'
    'body': 'GSS_C_AF_IMPLINK'
  'GSS_C_AF_INET (2)':
    'prefix': 'GSS_C_AF_INET'
    'body': 'GSS_C_AF_INET'
  'GSS_C_AF_INET6 (24)':
    'prefix': 'GSS_C_AF_INET6'
    'body': 'GSS_C_AF_INET6'
  'GSS_C_AF_LAT (14)':
    'prefix': 'GSS_C_AF_LAT'
    'body': 'GSS_C_AF_LAT'
  'GSS_C_AF_LOCAL (1)':
    'prefix': 'GSS_C_AF_LOCAL'
    'body': 'GSS_C_AF_LOCAL'
  'GSS_C_AF_NBS (7)':
    'prefix': 'GSS_C_AF_NBS'
    'body': 'GSS_C_AF_NBS'
  'GSS_C_AF_NS (6)':
    'prefix': 'GSS_C_AF_NS'
    'body': 'GSS_C_AF_NS'
  'GSS_C_AF_NULLADDR (255)':
    'prefix': 'GSS_C_AF_NULLADDR'
    'body': 'GSS_C_AF_NULLADDR'
  'GSS_C_AF_OSI (19)':
    'prefix': 'GSS_C_AF_OSI'
    'body': 'GSS_C_AF_OSI'
  'GSS_C_AF_PUP (4)':
    'prefix': 'GSS_C_AF_PUP'
    'body': 'GSS_C_AF_PUP'
  'GSS_C_AF_SNA (11)':
    'prefix': 'GSS_C_AF_SNA'
    'body': 'GSS_C_AF_SNA'
  'GSS_C_AF_UNSPEC (0)':
    'prefix': 'GSS_C_AF_UNSPEC'
    'body': 'GSS_C_AF_UNSPEC'
  'GSS_C_AF_X25 (21)':
    'prefix': 'GSS_C_AF_X25'
    'body': 'GSS_C_AF_X25'
  'GSS_C_ANON_FLAG (64)':
    'prefix': 'GSS_C_ANON_FLAG'
    'body': 'GSS_C_ANON_FLAG'
  'GSS_C_BOTH (0)':
    'prefix': 'GSS_C_BOTH'
    'body': 'GSS_C_BOTH'
  'GSS_C_CALLING_ERROR_MASK (255)':
    'prefix': 'GSS_C_CALLING_ERROR_MASK'
    'body': 'GSS_C_CALLING_ERROR_MASK'
  'GSS_C_CALLING_ERROR_OFFSET (24)':
    'prefix': 'GSS_C_CALLING_ERROR_OFFSET'
    'body': 'GSS_C_CALLING_ERROR_OFFSET'
  'GSS_C_CONF_FLAG (16)':
    'prefix': 'GSS_C_CONF_FLAG'
    'body': 'GSS_C_CONF_FLAG'
  'GSS_C_CRED_NO_UI (65536)':
    'prefix': 'GSS_C_CRED_NO_UI'
    'body': 'GSS_C_CRED_NO_UI'
  'GSS_C_DCE_STYLE (4096)':
    'prefix': 'GSS_C_DCE_STYLE'
    'body': 'GSS_C_DCE_STYLE'
  'GSS_C_DELEG_FLAG (1)':
    'prefix': 'GSS_C_DELEG_FLAG'
    'body': 'GSS_C_DELEG_FLAG'
  'GSS_C_DELEG_POLICY_FLAG (32768)':
    'prefix': 'GSS_C_DELEG_POLICY_FLAG'
    'body': 'GSS_C_DELEG_POLICY_FLAG'
  'GSS_C_EXTENDED_ERROR_FLAG (16384)':
    'prefix': 'GSS_C_EXTENDED_ERROR_FLAG'
    'body': 'GSS_C_EXTENDED_ERROR_FLAG'
  'GSS_C_GSS_CODE (1)':
    'prefix': 'GSS_C_GSS_CODE'
    'body': 'GSS_C_GSS_CODE'
  'GSS_C_IDENTIFY_FLAG (8192)':
    'prefix': 'GSS_C_IDENTIFY_FLAG'
    'body': 'GSS_C_IDENTIFY_FLAG'
  'GSS_C_INDEFINITE (4294967295)':
    'prefix': 'GSS_C_INDEFINITE'
    'body': 'GSS_C_INDEFINITE'
  'GSS_C_INITIATE (1)':
    'prefix': 'GSS_C_INITIATE'
    'body': 'GSS_C_INITIATE'
  'GSS_C_INTEG_FLAG (32)':
    'prefix': 'GSS_C_INTEG_FLAG'
    'body': 'GSS_C_INTEG_FLAG'
  'GSS_C_MECH_CODE (2)':
    'prefix': 'GSS_C_MECH_CODE'
    'body': 'GSS_C_MECH_CODE'
  'GSS_C_MUTUAL_FLAG (2)':
    'prefix': 'GSS_C_MUTUAL_FLAG'
    'body': 'GSS_C_MUTUAL_FLAG'
  'GSS_C_OPTION_MASK (65535)':
    'prefix': 'GSS_C_OPTION_MASK'
    'body': 'GSS_C_OPTION_MASK'
  'GSS_C_PRF_KEY_FULL (0)':
    'prefix': 'GSS_C_PRF_KEY_FULL'
    'body': 'GSS_C_PRF_KEY_FULL'
  'GSS_C_PRF_KEY_PARTIAL (1)':
    'prefix': 'GSS_C_PRF_KEY_PARTIAL'
    'body': 'GSS_C_PRF_KEY_PARTIAL'
  'GSS_C_PROT_READY_FLAG (128)':
    'prefix': 'GSS_C_PROT_READY_FLAG'
    'body': 'GSS_C_PROT_READY_FLAG'
  'GSS_C_QOP_DEFAULT (0)':
    'prefix': 'GSS_C_QOP_DEFAULT'
    'body': 'GSS_C_QOP_DEFAULT'
  'GSS_C_REPLAY_FLAG (4)':
    'prefix': 'GSS_C_REPLAY_FLAG'
    'body': 'GSS_C_REPLAY_FLAG'
  'GSS_C_ROUTINE_ERROR_MASK (255)':
    'prefix': 'GSS_C_ROUTINE_ERROR_MASK'
    'body': 'GSS_C_ROUTINE_ERROR_MASK'
  'GSS_C_ROUTINE_ERROR_OFFSET (16)':
    'prefix': 'GSS_C_ROUTINE_ERROR_OFFSET'
    'body': 'GSS_C_ROUTINE_ERROR_OFFSET'
  'GSS_C_SEQUENCE_FLAG (8)':
    'prefix': 'GSS_C_SEQUENCE_FLAG'
    'body': 'GSS_C_SEQUENCE_FLAG'
  'GSS_C_SUPPLEMENTARY_MASK (65535)':
    'prefix': 'GSS_C_SUPPLEMENTARY_MASK'
    'body': 'GSS_C_SUPPLEMENTARY_MASK'
  'GSS_C_SUPPLEMENTARY_OFFSET (0)':
    'prefix': 'GSS_C_SUPPLEMENTARY_OFFSET'
    'body': 'GSS_C_SUPPLEMENTARY_OFFSET'
  'GSS_C_TRANS_FLAG (256)':
    'prefix': 'GSS_C_TRANS_FLAG'
    'body': 'GSS_C_TRANS_FLAG'
  'GSS_IOV_BUFFER_FLAG_ALLOCATE (65536)':
    'prefix': 'GSS_IOV_BUFFER_FLAG_ALLOCATE'
    'body': 'GSS_IOV_BUFFER_FLAG_ALLOCATE'
  'GSS_IOV_BUFFER_FLAG_ALLOCATED (131072)':
    'prefix': 'GSS_IOV_BUFFER_FLAG_ALLOCATED'
    'body': 'GSS_IOV_BUFFER_FLAG_ALLOCATED'
  'GSS_IOV_BUFFER_TYPE_DATA (1)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_DATA'
    'body': 'GSS_IOV_BUFFER_TYPE_DATA'
  'GSS_IOV_BUFFER_TYPE_EMPTY (0)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_EMPTY'
    'body': 'GSS_IOV_BUFFER_TYPE_EMPTY'
  'GSS_IOV_BUFFER_TYPE_FLAG_ALLOCATE (65536)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_FLAG_ALLOCATE'
    'body': 'GSS_IOV_BUFFER_TYPE_FLAG_ALLOCATE'
  'GSS_IOV_BUFFER_TYPE_FLAG_ALLOCATED (131072)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_FLAG_ALLOCATED'
    'body': 'GSS_IOV_BUFFER_TYPE_FLAG_ALLOCATED'
  'GSS_IOV_BUFFER_TYPE_FLAG_MASK (4294901760)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_FLAG_MASK'
    'body': 'GSS_IOV_BUFFER_TYPE_FLAG_MASK'
  'GSS_IOV_BUFFER_TYPE_HEADER (2)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_HEADER'
    'body': 'GSS_IOV_BUFFER_TYPE_HEADER'
  'GSS_IOV_BUFFER_TYPE_MECH_PARAMS (3)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_MECH_PARAMS'
    'body': 'GSS_IOV_BUFFER_TYPE_MECH_PARAMS'
  'GSS_IOV_BUFFER_TYPE_PADDING (9)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_PADDING'
    'body': 'GSS_IOV_BUFFER_TYPE_PADDING'
  'GSS_IOV_BUFFER_TYPE_SIGN_ONLY (11)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_SIGN_ONLY'
    'body': 'GSS_IOV_BUFFER_TYPE_SIGN_ONLY'
  'GSS_IOV_BUFFER_TYPE_STREAM (10)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_STREAM'
    'body': 'GSS_IOV_BUFFER_TYPE_STREAM'
  'GSS_IOV_BUFFER_TYPE_TRAILER (7)':
    'prefix': 'GSS_IOV_BUFFER_TYPE_TRAILER'
    'body': 'GSS_IOV_BUFFER_TYPE_TRAILER'
  'GSS_KRB5_CONF_C_QOP_DES (256)':
    'prefix': 'GSS_KRB5_CONF_C_QOP_DES'
    'body': 'GSS_KRB5_CONF_C_QOP_DES'
  'GSS_KRB5_CONF_C_QOP_DES3_KD (512)':
    'prefix': 'GSS_KRB5_CONF_C_QOP_DES3_KD'
    'body': 'GSS_KRB5_CONF_C_QOP_DES3_KD'
  'GSS_S_BAD_BINDINGS (262144)':
    'prefix': 'GSS_S_BAD_BINDINGS'
    'body': 'GSS_S_BAD_BINDINGS'
  'GSS_S_BAD_MECH (65536)':
    'prefix': 'GSS_S_BAD_MECH'
    'body': 'GSS_S_BAD_MECH'
  'GSS_S_BAD_MECH_ATTR (1245184)':
    'prefix': 'GSS_S_BAD_MECH_ATTR'
    'body': 'GSS_S_BAD_MECH_ATTR'
  'GSS_S_BAD_MIC (393216)':
    'prefix': 'GSS_S_BAD_MIC'
    'body': 'GSS_S_BAD_MIC'
  'GSS_S_BAD_NAME (131072)':
    'prefix': 'GSS_S_BAD_NAME'
    'body': 'GSS_S_BAD_NAME'
  'GSS_S_BAD_NAMETYPE (196608)':
    'prefix': 'GSS_S_BAD_NAMETYPE'
    'body': 'GSS_S_BAD_NAMETYPE'
  'GSS_S_BAD_QOP (917504)':
    'prefix': 'GSS_S_BAD_QOP'
    'body': 'GSS_S_BAD_QOP'
  'GSS_S_BAD_SIG (393216)':
    'prefix': 'GSS_S_BAD_SIG'
    'body': 'GSS_S_BAD_SIG'
  'GSS_S_BAD_STATUS (327680)':
    'prefix': 'GSS_S_BAD_STATUS'
    'body': 'GSS_S_BAD_STATUS'
  'GSS_S_CALL_BAD_STRUCTURE (50331648)':
    'prefix': 'GSS_S_CALL_BAD_STRUCTURE'
    'body': 'GSS_S_CALL_BAD_STRUCTURE'
  'GSS_S_CALL_INACCESSIBLE_READ (16777216)':
    'prefix': 'GSS_S_CALL_INACCESSIBLE_READ'
    'body': 'GSS_S_CALL_INACCESSIBLE_READ'
  'GSS_S_CALL_INACCESSIBLE_WRITE (33554432)':
    'prefix': 'GSS_S_CALL_INACCESSIBLE_WRITE'
    'body': 'GSS_S_CALL_INACCESSIBLE_WRITE'
  'GSS_S_COMPLETE (0)':
    'prefix': 'GSS_S_COMPLETE'
    'body': 'GSS_S_COMPLETE'
  'GSS_S_CONTEXT_EXPIRED (786432)':
    'prefix': 'GSS_S_CONTEXT_EXPIRED'
    'body': 'GSS_S_CONTEXT_EXPIRED'
  'GSS_S_CONTINUE_NEEDED (1)':
    'prefix': 'GSS_S_CONTINUE_NEEDED'
    'body': 'GSS_S_CONTINUE_NEEDED'
  'GSS_S_CREDENTIALS_EXPIRED (720896)':
    'prefix': 'GSS_S_CREDENTIALS_EXPIRED'
    'body': 'GSS_S_CREDENTIALS_EXPIRED'
  'GSS_S_CRED_UNAVAIL (851968)':
    'prefix': 'GSS_S_CRED_UNAVAIL'
    'body': 'GSS_S_CRED_UNAVAIL'
  'GSS_S_DEFECTIVE_CREDENTIAL (655360)':
    'prefix': 'GSS_S_DEFECTIVE_CREDENTIAL'
    'body': 'GSS_S_DEFECTIVE_CREDENTIAL'
  'GSS_S_DEFECTIVE_TOKEN (589824)':
    'prefix': 'GSS_S_DEFECTIVE_TOKEN'
    'body': 'GSS_S_DEFECTIVE_TOKEN'
  'GSS_S_DUPLICATE_ELEMENT (1114112)':
    'prefix': 'GSS_S_DUPLICATE_ELEMENT'
    'body': 'GSS_S_DUPLICATE_ELEMENT'
  'GSS_S_DUPLICATE_TOKEN (2)':
    'prefix': 'GSS_S_DUPLICATE_TOKEN'
    'body': 'GSS_S_DUPLICATE_TOKEN'
  'GSS_S_FAILURE (851968)':
    'prefix': 'GSS_S_FAILURE'
    'body': 'GSS_S_FAILURE'
  'GSS_S_GAP_TOKEN (16)':
    'prefix': 'GSS_S_GAP_TOKEN'
    'body': 'GSS_S_GAP_TOKEN'
  'GSS_S_NAME_NOT_MN (1179648)':
    'prefix': 'GSS_S_NAME_NOT_MN'
    'body': 'GSS_S_NAME_NOT_MN'
  'GSS_S_NO_CONTEXT (524288)':
    'prefix': 'GSS_S_NO_CONTEXT'
    'body': 'GSS_S_NO_CONTEXT'
  'GSS_S_NO_CRED (458752)':
    'prefix': 'GSS_S_NO_CRED'
    'body': 'GSS_S_NO_CRED'
  'GSS_S_OLD_TOKEN (4)':
    'prefix': 'GSS_S_OLD_TOKEN'
    'body': 'GSS_S_OLD_TOKEN'
  'GSS_S_UNAUTHORIZED (983040)':
    'prefix': 'GSS_S_UNAUTHORIZED'
    'body': 'GSS_S_UNAUTHORIZED'
  'GSS_S_UNAVAILABLE (1048576)':
    'prefix': 'GSS_S_UNAVAILABLE'
    'body': 'GSS_S_UNAVAILABLE'
  'GSS_S_UNSEQ_TOKEN (8)':
    'prefix': 'GSS_S_UNSEQ_TOKEN'
    'body': 'GSS_S_UNSEQ_TOKEN'
  'GSSCreateCredentialFromUUID':
    'prefix': 'GSSCreateCredentialFromUUID'
    'body': 'GSSCreateCredentialFromUUID(${1:CFUUIDRef })'
  'GSSCreateName':
    'prefix': 'GSSCreateName'
    'body': 'GSSCreateName(${1:CFTypeRef }, ${2:gss_const_OID }, ${3:CFErrorRef* })'
  'GSSCredentialCopyName':
    'prefix': 'GSSCredentialCopyName'
    'body': 'GSSCredentialCopyName(${1:gss_cred_id_t })'
  'GSSCredentialCopyUUID':
    'prefix': 'GSSCredentialCopyUUID'
    'body': 'GSSCredentialCopyUUID(${1:gss_cred_id_t })'
  'GSSCredentialGetLifetime':
    'prefix': 'GSSCredentialGetLifetime'
    'body': 'GSSCredentialGetLifetime(${1:gss_cred_id_t })'
  'GSSNameCreateDisplayString':
    'prefix': 'GSSNameCreateDisplayString'
    'body': 'GSSNameCreateDisplayString(${1:gss_name_t })'
  'gss_aapl_change_password':
    'prefix': 'gss_aapl_change_password'
    'body': 'gss_aapl_change_password(${1:gss_name_t }, ${2:gss_const_OID }, ${3:CFDictionaryRef }, ${4:CFErrorRef* })'
  'gss_aapl_initial_cred':
    'prefix': 'gss_aapl_initial_cred'
    'body': 'gss_aapl_initial_cred(${1:gss_name_t }, ${2:gss_const_OID }, ${3:CFDictionaryRef }, ${4:gss_cred_id_t* }, ${5:CFErrorRef* })'
  'gss_accept_sec_context':
    'prefix': 'gss_accept_sec_context'
    'body': 'gss_accept_sec_context(${1:OM_uint32* }, ${2:gss_ctx_id_t* }, ${3:gss_cred_id_t }, ${4:gss_buffer_t }, ${5:gss_channel_bindings_t }, ${6:gss_name_t* }, ${7:gss_OID* }, ${8:gss_buffer_t }, ${9:OM_uint32* }, ${10:OM_uint32* }, ${11:gss_cred_id_t* })'
  'gss_acquire_cred':
    'prefix': 'gss_acquire_cred'
    'body': 'gss_acquire_cred(${1:OM_uint32* }, ${2:gss_name_t }, ${3:OM_uint32 }, ${4:gss_OID_set }, ${5:gss_cred_usage_t }, ${6:gss_cred_id_t* }, ${7:gss_OID_set* }, ${8:OM_uint32* })'
  'gss_acquire_cred_with_password':
    'prefix': 'gss_acquire_cred_with_password'
    'body': 'gss_acquire_cred_with_password(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_buffer_t }, ${4:OM_uint32 }, ${5:gss_OID_set }, ${6:gss_cred_usage_t }, ${7:gss_cred_id_t* }, ${8:gss_OID_set* }, ${9:OM_uint32* })'
  'gss_add_buffer_set_member':
    'prefix': 'gss_add_buffer_set_member'
    'body': 'gss_add_buffer_set_member(${1:OM_uint32* }, ${2:gss_buffer_t }, ${3:gss_buffer_set_t* })'
  'gss_add_cred':
    'prefix': 'gss_add_cred'
    'body': 'gss_add_cred(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:gss_name_t }, ${4:gss_OID }, ${5:gss_cred_usage_t }, ${6:OM_uint32 }, ${7:OM_uint32 }, ${8:gss_cred_id_t* }, ${9:gss_OID_set* }, ${10:OM_uint32* }, ${11:OM_uint32* })'
  'gss_add_oid_set_member':
    'prefix': 'gss_add_oid_set_member'
    'body': 'gss_add_oid_set_member(${1:OM_uint32* }, ${2:gss_const_OID }, ${3:gss_OID_set* })'
  'gss_canonicalize_name':
    'prefix': 'gss_canonicalize_name'
    'body': 'gss_canonicalize_name(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_OID }, ${4:gss_name_t* })'
  'gss_compare_name':
    'prefix': 'gss_compare_name'
    'body': 'gss_compare_name(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_name_t }, ${4:int* })'
  'gss_context_time':
    'prefix': 'gss_context_time'
    'body': 'gss_context_time(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:OM_uint32* })'
  'gss_create_empty_buffer_set':
    'prefix': 'gss_create_empty_buffer_set'
    'body': 'gss_create_empty_buffer_set(${1:OM_uint32* }, ${2:gss_buffer_set_t* })'
  'gss_create_empty_oid_set':
    'prefix': 'gss_create_empty_oid_set'
    'body': 'gss_create_empty_oid_set(${1:OM_uint32* }, ${2:gss_OID_set* })'
  'gss_decapsulate_token':
    'prefix': 'gss_decapsulate_token'
    'body': 'gss_decapsulate_token(${1:gss_const_buffer_t }, ${2:gss_const_OID }, ${3:gss_buffer_t })'
  'gss_delete_sec_context':
    'prefix': 'gss_delete_sec_context'
    'body': 'gss_delete_sec_context(${1:OM_uint32* }, ${2:gss_ctx_id_t* }, ${3:gss_buffer_t })'
  'gss_destroy_cred':
    'prefix': 'gss_destroy_cred'
    'body': 'gss_destroy_cred(${1:OM_uint32* }, ${2:gss_cred_id_t* })'
  'gss_display_mech_attr':
    'prefix': 'gss_display_mech_attr'
    'body': 'gss_display_mech_attr(${1:OM_uint32* }, ${2:gss_const_OID }, ${3:gss_buffer_t }, ${4:gss_buffer_t }, ${5:gss_buffer_t })'
  'gss_display_name':
    'prefix': 'gss_display_name'
    'body': 'gss_display_name(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_buffer_t }, ${4:gss_OID* })'
  'gss_display_status':
    'prefix': 'gss_display_status'
    'body': 'gss_display_status(${1:OM_uint32* }, ${2:OM_uint32 }, ${3:int }, ${4:gss_OID }, ${5:OM_uint32* }, ${6:gss_buffer_t })'
  'gss_duplicate_name':
    'prefix': 'gss_duplicate_name'
    'body': 'gss_duplicate_name(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_name_t* })'
  'gss_duplicate_oid':
    'prefix': 'gss_duplicate_oid'
    'body': 'gss_duplicate_oid(${1:OM_uint32* }, ${2:gss_OID }, ${3:gss_OID* dest_oid})'
  'gss_encapsulate_token':
    'prefix': 'gss_encapsulate_token'
    'body': 'gss_encapsulate_token(${1:gss_const_buffer_t }, ${2:gss_const_OID }, ${3:gss_buffer_t })'
  'gss_export_cred':
    'prefix': 'gss_export_cred'
    'body': 'gss_export_cred(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:gss_buffer_t })'
  'gss_export_name':
    'prefix': 'gss_export_name'
    'body': 'gss_export_name(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_buffer_t })'
  'gss_export_sec_context':
    'prefix': 'gss_export_sec_context'
    'body': 'gss_export_sec_context(${1:OM_uint32* }, ${2:gss_ctx_id_t* }, ${3:gss_buffer_t })'
  'gss_get_mic':
    'prefix': 'gss_get_mic'
    'body': 'gss_get_mic(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_qop_t }, ${4:gss_buffer_t }, ${5:gss_buffer_t })'
  'gss_import_cred':
    'prefix': 'gss_import_cred'
    'body': 'gss_import_cred(${1:OM_uint32* }, ${2:gss_buffer_t }, ${3:gss_cred_id_t* })'
  'gss_import_name':
    'prefix': 'gss_import_name'
    'body': 'gss_import_name(${1:OM_uint32* }, ${2:gss_buffer_t }, ${3:gss_const_OID }, ${4:gss_name_t* })'
  'gss_import_sec_context':
    'prefix': 'gss_import_sec_context'
    'body': 'gss_import_sec_context(${1:OM_uint32* }, ${2:gss_buffer_t }, ${3:gss_ctx_id_t* })'
  'gss_indicate_mechs':
    'prefix': 'gss_indicate_mechs'
    'body': 'gss_indicate_mechs(${1:OM_uint32* }, ${2:gss_OID_set* })'
  'gss_init_sec_context':
    'prefix': 'gss_init_sec_context'
    'body': 'gss_init_sec_context(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:gss_ctx_id_t* }, ${4:gss_name_t }, ${5:gss_OID }, ${6:OM_uint32 }, ${7:OM_uint32 }, ${8:gss_channel_bindings_t }, ${9:gss_buffer_t }, ${10:gss_OID* }, ${11:gss_buffer_t }, ${12:OM_uint32* }, ${13:OM_uint32* })'
  'gss_inquire_attrs_for_mech':
    'prefix': 'gss_inquire_attrs_for_mech'
    'body': 'gss_inquire_attrs_for_mech(${1:OM_uint32* }, ${2:gss_const_OID }, ${3:gss_OID_set* }, ${4:gss_OID_set* })'
  'gss_inquire_context':
    'prefix': 'gss_inquire_context'
    'body': 'gss_inquire_context(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_name_t* }, ${4:gss_name_t* }, ${5:OM_uint32* }, ${6:gss_OID* }, ${7:OM_uint32* }, ${8:int* }, ${9:int* })'
  'gss_inquire_cred':
    'prefix': 'gss_inquire_cred'
    'body': 'gss_inquire_cred(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:gss_name_t* }, ${4:OM_uint32* }, ${5:gss_cred_usage_t* }, ${6:gss_OID_set* })'
  'gss_inquire_cred_by_mech':
    'prefix': 'gss_inquire_cred_by_mech'
    'body': 'gss_inquire_cred_by_mech(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:gss_OID }, ${4:gss_name_t* }, ${5:OM_uint32* }, ${6:OM_uint32* }, ${7:gss_cred_usage_t* })'
  'gss_inquire_cred_by_oid':
    'prefix': 'gss_inquire_cred_by_oid'
    'body': 'gss_inquire_cred_by_oid(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:gss_OID }, ${4:gss_buffer_set_t* })'
  'gss_inquire_mechs_for_name':
    'prefix': 'gss_inquire_mechs_for_name'
    'body': 'gss_inquire_mechs_for_name(${1:OM_uint32* }, ${2:gss_name_t }, ${3:gss_OID_set* })'
  'gss_inquire_names_for_mech':
    'prefix': 'gss_inquire_names_for_mech'
    'body': 'gss_inquire_names_for_mech(${1:OM_uint32* }, ${2:gss_const_OID }, ${3:gss_OID_set* })'
  'gss_inquire_sec_context_by_oid':
    'prefix': 'gss_inquire_sec_context_by_oid'
    'body': 'gss_inquire_sec_context_by_oid(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_OID }, ${4:gss_buffer_set_t* })'
  'gss_iter_creds':
    'prefix': 'gss_iter_creds'
    'body': 'gss_iter_creds(${1:OM_uint32* }, ${2:OM_uint32 }, ${3:gss_const_OID }, ${4:void (^)(gss_OID, gss_cred_id_t) useriter})'
  'gss_iter_creds_f':
    'prefix': 'gss_iter_creds_f'
    'body': 'gss_iter_creds_f(${1:OM_uint32* }, ${2:OM_uint32 }, ${3:gss_const_OID }, ${4:void* }, ${5:void (*)(void *, gss_OID, gss_cred_id_t) })'
  'gss_krb5_ccache_name':
    'prefix': 'gss_krb5_ccache_name'
    'body': 'gss_krb5_ccache_name(${1:OM_uint32* }, ${2:char* }, ${3:char** })'
  'gss_krb5_copy_ccache':
    'prefix': 'gss_krb5_copy_ccache'
    'body': 'gss_krb5_copy_ccache(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:struct krb5_ccache_data* })'
  'gss_krb5_export_lucid_sec_context':
    'prefix': 'gss_krb5_export_lucid_sec_context'
    'body': 'gss_krb5_export_lucid_sec_context(${1:OM_uint32* }, ${2:gss_ctx_id_t* }, ${3:OM_uint32 }, ${4:void** })'
  'gss_krb5_free_lucid_sec_context':
    'prefix': 'gss_krb5_free_lucid_sec_context'
    'body': 'gss_krb5_free_lucid_sec_context(${1:OM_uint32* }, ${2:void* })'
  'gss_krb5_set_allowable_enctypes':
    'prefix': 'gss_krb5_set_allowable_enctypes'
    'body': 'gss_krb5_set_allowable_enctypes(${1:OM_uint32* }, ${2:gss_cred_id_t }, ${3:OM_uint32 }, ${4:int32_t* })'
  'gss_oid_equal':
    'prefix': 'gss_oid_equal'
    'body': 'gss_oid_equal(${1:gss_const_OID }, ${2:gss_const_OID })'
  'gss_oid_to_str':
    'prefix': 'gss_oid_to_str'
    'body': 'gss_oid_to_str(${1:OM_uint32* }, ${2:gss_OID }, ${3:gss_buffer_t })'
  'gss_process_context_token':
    'prefix': 'gss_process_context_token'
    'body': 'gss_process_context_token(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_buffer_t })'
  'gss_pseudo_random':
    'prefix': 'gss_pseudo_random'
    'body': 'gss_pseudo_random(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:int }, ${4:gss_buffer_t }, ${5:ssize_t }, ${6:gss_buffer_t })'
  'gss_release_buffer':
    'prefix': 'gss_release_buffer'
    'body': 'gss_release_buffer(${1:OM_uint32* }, ${2:gss_buffer_t })'
  'gss_release_buffer_set':
    'prefix': 'gss_release_buffer_set'
    'body': 'gss_release_buffer_set(${1:OM_uint32* }, ${2:gss_buffer_set_t* })'
  'gss_release_cred':
    'prefix': 'gss_release_cred'
    'body': 'gss_release_cred(${1:OM_uint32* }, ${2:gss_cred_id_t* })'
  'gss_release_name':
    'prefix': 'gss_release_name'
    'body': 'gss_release_name(${1:OM_uint32* }, ${2:gss_name_t* })'
  'gss_release_oid':
    'prefix': 'gss_release_oid'
    'body': 'gss_release_oid(${1:OM_uint32* }, ${2:gss_OID* })'
  'gss_release_oid_set':
    'prefix': 'gss_release_oid_set'
    'body': 'gss_release_oid_set(${1:OM_uint32* }, ${2:gss_OID_set* })'
  'gss_seal':
    'prefix': 'gss_seal'
    'body': 'gss_seal(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:int }, ${4:int }, ${5:gss_buffer_t }, ${6:int* }, ${7:gss_buffer_t })'
  'gss_set_cred_option':
    'prefix': 'gss_set_cred_option'
    'body': 'gss_set_cred_option(${1:OM_uint32* }, ${2:gss_cred_id_t* }, ${3:gss_OID }, ${4:gss_buffer_t })'
  'gss_set_sec_context_option':
    'prefix': 'gss_set_sec_context_option'
    'body': 'gss_set_sec_context_option(${1:OM_uint32* }, ${2:gss_ctx_id_t* }, ${3:gss_OID }, ${4:gss_buffer_t })'
  'gss_sign':
    'prefix': 'gss_sign'
    'body': 'gss_sign(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:int }, ${4:gss_buffer_t }, ${5:gss_buffer_t })'
  'gss_test_oid_set_member':
    'prefix': 'gss_test_oid_set_member'
    'body': 'gss_test_oid_set_member(${1:OM_uint32* }, ${2:gss_const_OID }, ${3:gss_OID_set }, ${4:int* })'
  'gss_unseal':
    'prefix': 'gss_unseal'
    'body': 'gss_unseal(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_buffer_t }, ${4:gss_buffer_t }, ${5:int* }, ${6:int* })'
  'gss_unwrap':
    'prefix': 'gss_unwrap'
    'body': 'gss_unwrap(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_buffer_t }, ${4:gss_buffer_t }, ${5:int* }, ${6:gss_qop_t* })'
  'gss_userok':
    'prefix': 'gss_userok'
    'body': 'gss_userok(${1:gss_name_t }, ${2:char* })'
  'gss_verify':
    'prefix': 'gss_verify'
    'body': 'gss_verify(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_buffer_t }, ${4:gss_buffer_t }, ${5:int* })'
  'gss_verify_mic':
    'prefix': 'gss_verify_mic'
    'body': 'gss_verify_mic(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:gss_buffer_t }, ${4:gss_buffer_t }, ${5:gss_qop_t* })'
  'gss_wrap':
    'prefix': 'gss_wrap'
    'body': 'gss_wrap(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:int }, ${4:gss_qop_t }, ${5:gss_buffer_t }, ${6:int* }, ${7:gss_buffer_t })'
  'gss_wrap_size_limit':
    'prefix': 'gss_wrap_size_limit'
    'body': 'gss_wrap_size_limit(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:int }, ${4:gss_qop_t }, ${5:OM_uint32 }, ${6:OM_uint32* })'
  'gsskrb5_extract_authz_data_from_sec_context':
    'prefix': 'gsskrb5_extract_authz_data_from_sec_context'
    'body': 'gsskrb5_extract_authz_data_from_sec_context(${1:OM_uint32* }, ${2:gss_ctx_id_t }, ${3:int }, ${4:gss_buffer_t })'
  'gsskrb5_register_acceptor_identity':
    'prefix': 'gsskrb5_register_acceptor_identity'
    'body': 'gsskrb5_register_acceptor_identity(${1:char* })'
  'krb5_gss_register_acceptor_identity':
    'prefix': 'krb5_gss_register_acceptor_identity'
    'body': 'Krb5_gss_register_acceptor_identity(${1:char* })'
