'.source.rubymotion':
  'SSReadingListErrorDomain (NSString*)':
    'prefix': 'SSReadingListErrorDomain'
    'body': 'SSReadingListErrorDomain'
  'SSReadingListErrorURLSchemeNotAllowed (1)':
    'prefix': 'SSReadingListErrorURLSchemeNotAllowed'
    'body': 'SSReadingListErrorURLSchemeNotAllowed'
  'addReadingListItemWithURL:title:previewText:error:':
    'prefix': 'addReadingListItemWithURL:title:previewText:error:'
    'body': 'addReadingListItemWithURL(${1:NSURL* URL}, title:${2:NSString* title}, previewText:${3:NSString* previewText}, error:${4:NSError** error})'
  'SSReadingList.defaultReadingList':
    'prefix': 'defaultReadingList'
    'body': 'SSReadingList.defaultReadingList()'
  'SSReadingList.supportsURL:':
    'prefix': 'supportsURL:'
    'body': 'SSReadingList.supportsURL(${1:NSURL* URL})'
