'.source.rubymotion':
  'JSPropertyDescriptorConfigurableKey (NSString*)':
    'prefix': 'JSPropertyDescriptorConfigurableKey'
    'body': 'JSPropertyDescriptorConfigurableKey'
  'JSPropertyDescriptorEnumerableKey (NSString*)':
    'prefix': 'JSPropertyDescriptorEnumerableKey'
    'body': 'JSPropertyDescriptorEnumerableKey'
  'JSPropertyDescriptorGetKey (NSString*)':
    'prefix': 'JSPropertyDescriptorGetKey'
    'body': 'JSPropertyDescriptorGetKey'
  'JSPropertyDescriptorSetKey (NSString*)':
    'prefix': 'JSPropertyDescriptorSetKey'
    'body': 'JSPropertyDescriptorSetKey'
  'JSPropertyDescriptorValueKey (NSString*)':
    'prefix': 'JSPropertyDescriptorValueKey'
    'body': 'JSPropertyDescriptorValueKey'
  'JSPropertyDescriptorWritableKey (NSString*)':
    'prefix': 'JSPropertyDescriptorWritableKey'
    'body': 'JSPropertyDescriptorWritableKey'
  'kJSClassDefinitionEmpty (JSClassDefinition)':
    'prefix': 'kJSClassDefinitionEmpty'
    'body': 'KJSClassDefinitionEmpty'
  'WEBKIT_VERSION_1_0 (256)':
    'prefix': 'WEBKIT_VERSION_1_0'
    'body': 'WEBKIT_VERSION_1_0'
  'WEBKIT_VERSION_1_1 (272)':
    'prefix': 'WEBKIT_VERSION_1_1'
    'body': 'WEBKIT_VERSION_1_1'
  'WEBKIT_VERSION_1_2 (288)':
    'prefix': 'WEBKIT_VERSION_1_2'
    'body': 'WEBKIT_VERSION_1_2'
  'WEBKIT_VERSION_1_3 (304)':
    'prefix': 'WEBKIT_VERSION_1_3'
    'body': 'WEBKIT_VERSION_1_3'
  'WEBKIT_VERSION_2_0 (512)':
    'prefix': 'WEBKIT_VERSION_2_0'
    'body': 'WEBKIT_VERSION_2_0'
  'WEBKIT_VERSION_3_0 (768)':
    'prefix': 'WEBKIT_VERSION_3_0'
    'body': 'WEBKIT_VERSION_3_0'
  'WEBKIT_VERSION_3_1 (784)':
    'prefix': 'WEBKIT_VERSION_3_1'
    'body': 'WEBKIT_VERSION_3_1'
  'WEBKIT_VERSION_4_0 (1024)':
    'prefix': 'WEBKIT_VERSION_4_0'
    'body': 'WEBKIT_VERSION_4_0'
  'WEBKIT_VERSION_LATEST (39321)':
    'prefix': 'WEBKIT_VERSION_LATEST'
    'body': 'WEBKIT_VERSION_LATEST'
  'WEBKIT_VERSION_MAX_ALLOWED (39321)':
    'prefix': 'WEBKIT_VERSION_MAX_ALLOWED'
    'body': 'WEBKIT_VERSION_MAX_ALLOWED'
  'WEBKIT_VERSION_MIN_REQUIRED (39321)':
    'prefix': 'WEBKIT_VERSION_MIN_REQUIRED'
    'body': 'WEBKIT_VERSION_MIN_REQUIRED'
  'WTF_PLATFORM_IOS (1)':
    'prefix': 'WTF_PLATFORM_IOS'
    'body': 'WTF_PLATFORM_IOS'
  'kJSClassAttributeNoAutomaticPrototype (2)':
    'prefix': 'kJSClassAttributeNoAutomaticPrototype'
    'body': 'KJSClassAttributeNoAutomaticPrototype'
  'kJSClassAttributeNone (0)':
    'prefix': 'kJSClassAttributeNone'
    'body': 'KJSClassAttributeNone'
  'kJSPropertyAttributeDontDelete (8)':
    'prefix': 'kJSPropertyAttributeDontDelete'
    'body': 'KJSPropertyAttributeDontDelete'
  'kJSPropertyAttributeDontEnum (4)':
    'prefix': 'kJSPropertyAttributeDontEnum'
    'body': 'KJSPropertyAttributeDontEnum'
  'kJSPropertyAttributeNone (0)':
    'prefix': 'kJSPropertyAttributeNone'
    'body': 'KJSPropertyAttributeNone'
  'kJSPropertyAttributeReadOnly (2)':
    'prefix': 'kJSPropertyAttributeReadOnly'
    'body': 'KJSPropertyAttributeReadOnly'
  'kJSTypeBoolean (2)':
    'prefix': 'kJSTypeBoolean'
    'body': 'KJSTypeBoolean'
  'kJSTypeNull (1)':
    'prefix': 'kJSTypeNull'
    'body': 'KJSTypeNull'
  'kJSTypeNumber (3)':
    'prefix': 'kJSTypeNumber'
    'body': 'KJSTypeNumber'
  'kJSTypeObject (5)':
    'prefix': 'kJSTypeObject'
    'body': 'KJSTypeObject'
  'kJSTypeString (4)':
    'prefix': 'kJSTypeString'
    'body': 'KJSTypeString'
  'kJSTypeUndefined (0)':
    'prefix': 'kJSTypeUndefined'
    'body': 'KJSTypeUndefined'
  'JSCheckScriptSyntax':
    'prefix': 'JSCheckScriptSyntax'
    'body': 'JSCheckScriptSyntax(${1:JSContextRef ctx}, ${2:JSStringRef script}, ${3:JSStringRef sourceURL}, ${4:int startingLineNumber}, ${5:JSValueRef* exception})'
  'JSClassCreate':
    'prefix': 'JSClassCreate'
    'body': 'JSClassCreate(${1:JSClassDefinition* definition})'
  'JSClassRelease':
    'prefix': 'JSClassRelease'
    'body': 'JSClassRelease(${1:JSClassRef jsClass})'
  'JSClassRetain':
    'prefix': 'JSClassRetain'
    'body': 'JSClassRetain(${1:JSClassRef jsClass})'
  'JSContextGetGlobalObject':
    'prefix': 'JSContextGetGlobalObject'
    'body': 'JSContextGetGlobalObject(${1:JSContextRef ctx})'
  'JSContextGetGroup':
    'prefix': 'JSContextGetGroup'
    'body': 'JSContextGetGroup(${1:JSContextRef ctx})'
  'JSContextGroupCreate':
    'prefix': 'JSContextGroupCreate'
    'body': 'JSContextGroupCreate()'
  'JSContextGroupRelease':
    'prefix': 'JSContextGroupRelease'
    'body': 'JSContextGroupRelease(${1:JSContextGroupRef group})'
  'JSContextGroupRetain':
    'prefix': 'JSContextGroupRetain'
    'body': 'JSContextGroupRetain(${1:JSContextGroupRef group})'
  'JSEvaluateScript':
    'prefix': 'JSEvaluateScript'
    'body': 'JSEvaluateScript(${1:JSContextRef ctx}, ${2:JSStringRef script}, ${3:JSObjectRef thisObject}, ${4:JSStringRef sourceURL}, ${5:int startingLineNumber}, ${6:JSValueRef* exception})'
  'JSGarbageCollect':
    'prefix': 'JSGarbageCollect'
    'body': 'JSGarbageCollect(${1:JSContextRef ctx})'
  'JSGlobalContextCreate':
    'prefix': 'JSGlobalContextCreate'
    'body': 'JSGlobalContextCreate(${1:JSClassRef globalObjectClass})'
  'JSGlobalContextCreateInGroup':
    'prefix': 'JSGlobalContextCreateInGroup'
    'body': 'JSGlobalContextCreateInGroup(${1:JSContextGroupRef group}, ${2:JSClassRef globalObjectClass})'
  'JSGlobalContextRelease':
    'prefix': 'JSGlobalContextRelease'
    'body': 'JSGlobalContextRelease(${1:JSGlobalContextRef ctx})'
  'JSGlobalContextRetain':
    'prefix': 'JSGlobalContextRetain'
    'body': 'JSGlobalContextRetain(${1:JSGlobalContextRef ctx})'
  'JSObjectCallAsConstructor':
    'prefix': 'JSObjectCallAsConstructor'
    'body': 'JSObjectCallAsConstructor(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:size_t argumentCount}, ${4:JSValueRef* arguments}, ${5:JSValueRef* exception})'
  'JSObjectCallAsFunction':
    'prefix': 'JSObjectCallAsFunction'
    'body': 'JSObjectCallAsFunction(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:JSObjectRef thisObject}, ${4:size_t argumentCount}, ${5:JSValueRef* arguments}, ${6:JSValueRef* exception})'
  'JSObjectCopyPropertyNames':
    'prefix': 'JSObjectCopyPropertyNames'
    'body': 'JSObjectCopyPropertyNames(${1:JSContextRef ctx}, ${2:JSObjectRef object})'
  'JSObjectDeleteProperty':
    'prefix': 'JSObjectDeleteProperty'
    'body': 'JSObjectDeleteProperty(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:JSStringRef propertyName}, ${4:JSValueRef* exception})'
  'JSObjectGetPrivate':
    'prefix': 'JSObjectGetPrivate'
    'body': 'JSObjectGetPrivate(${1:JSObjectRef object})'
  'JSObjectGetProperty':
    'prefix': 'JSObjectGetProperty'
    'body': 'JSObjectGetProperty(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:JSStringRef propertyName}, ${4:JSValueRef* exception})'
  'JSObjectGetPropertyAtIndex':
    'prefix': 'JSObjectGetPropertyAtIndex'
    'body': 'JSObjectGetPropertyAtIndex(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:unsigned int propertyIndex}, ${4:JSValueRef* exception})'
  'JSObjectGetPrototype':
    'prefix': 'JSObjectGetPrototype'
    'body': 'JSObjectGetPrototype(${1:JSContextRef ctx}, ${2:JSObjectRef object})'
  'JSObjectHasProperty':
    'prefix': 'JSObjectHasProperty'
    'body': 'JSObjectHasProperty(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:JSStringRef propertyName})'
  'JSObjectIsConstructor':
    'prefix': 'JSObjectIsConstructor'
    'body': 'JSObjectIsConstructor(${1:JSContextRef ctx}, ${2:JSObjectRef object})'
  'JSObjectIsFunction':
    'prefix': 'JSObjectIsFunction'
    'body': 'JSObjectIsFunction(${1:JSContextRef ctx}, ${2:JSObjectRef object})'
  'JSObjectMake':
    'prefix': 'JSObjectMake'
    'body': 'JSObjectMake(${1:JSContextRef ctx}, ${2:JSClassRef jsClass}, ${3:void* data})'
  'JSObjectMakeArray':
    'prefix': 'JSObjectMakeArray'
    'body': 'JSObjectMakeArray(${1:JSContextRef ctx}, ${2:size_t argumentCount}, ${3:JSValueRef* arguments}, ${4:JSValueRef* exception})'
  'JSObjectMakeConstructor':
    'prefix': 'JSObjectMakeConstructor'
    'body': 'JSObjectMakeConstructor(${1:JSContextRef ctx}, ${2:JSClassRef jsClass}, ${3:JSObjectCallAsConstructorCallback callAsConstructor})'
  'JSObjectMakeDate':
    'prefix': 'JSObjectMakeDate'
    'body': 'JSObjectMakeDate(${1:JSContextRef ctx}, ${2:size_t argumentCount}, ${3:JSValueRef* arguments}, ${4:JSValueRef* exception})'
  'JSObjectMakeError':
    'prefix': 'JSObjectMakeError'
    'body': 'JSObjectMakeError(${1:JSContextRef ctx}, ${2:size_t argumentCount}, ${3:JSValueRef* arguments}, ${4:JSValueRef* exception})'
  'JSObjectMakeFunction':
    'prefix': 'JSObjectMakeFunction'
    'body': 'JSObjectMakeFunction(${1:JSContextRef ctx}, ${2:JSStringRef name}, ${3:unsigned int parameterCount}, ${4:JSStringRef* parameterNames}, ${5:JSStringRef body}, ${6:JSStringRef sourceURL}, ${7:int startingLineNumber}, ${8:JSValueRef* exception})'
  'JSObjectMakeFunctionWithCallback':
    'prefix': 'JSObjectMakeFunctionWithCallback'
    'body': 'JSObjectMakeFunctionWithCallback(${1:JSContextRef ctx}, ${2:JSStringRef name}, ${3:JSObjectCallAsFunctionCallback callAsFunction})'
  'JSObjectMakeRegExp':
    'prefix': 'JSObjectMakeRegExp'
    'body': 'JSObjectMakeRegExp(${1:JSContextRef ctx}, ${2:size_t argumentCount}, ${3:JSValueRef* arguments}, ${4:JSValueRef* exception})'
  'JSObjectSetPrivate':
    'prefix': 'JSObjectSetPrivate'
    'body': 'JSObjectSetPrivate(${1:JSObjectRef object}, ${2:void* data})'
  'JSObjectSetProperty':
    'prefix': 'JSObjectSetProperty'
    'body': 'JSObjectSetProperty(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:JSStringRef propertyName}, ${4:JSValueRef value}, ${5:JSPropertyAttributes attributes}, ${6:JSValueRef* exception})'
  'JSObjectSetPropertyAtIndex':
    'prefix': 'JSObjectSetPropertyAtIndex'
    'body': 'JSObjectSetPropertyAtIndex(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:unsigned int propertyIndex}, ${4:JSValueRef value}, ${5:JSValueRef* exception})'
  'JSObjectSetPrototype':
    'prefix': 'JSObjectSetPrototype'
    'body': 'JSObjectSetPrototype(${1:JSContextRef ctx}, ${2:JSObjectRef object}, ${3:JSValueRef value})'
  'JSPropertyNameAccumulatorAddName':
    'prefix': 'JSPropertyNameAccumulatorAddName'
    'body': 'JSPropertyNameAccumulatorAddName(${1:JSPropertyNameAccumulatorRef accumulator}, ${2:JSStringRef propertyName})'
  'JSPropertyNameArrayGetCount':
    'prefix': 'JSPropertyNameArrayGetCount'
    'body': 'JSPropertyNameArrayGetCount(${1:JSPropertyNameArrayRef array})'
  'JSPropertyNameArrayGetNameAtIndex':
    'prefix': 'JSPropertyNameArrayGetNameAtIndex'
    'body': 'JSPropertyNameArrayGetNameAtIndex(${1:JSPropertyNameArrayRef array}, ${2:size_t index})'
  'JSPropertyNameArrayRelease':
    'prefix': 'JSPropertyNameArrayRelease'
    'body': 'JSPropertyNameArrayRelease(${1:JSPropertyNameArrayRef array})'
  'JSPropertyNameArrayRetain':
    'prefix': 'JSPropertyNameArrayRetain'
    'body': 'JSPropertyNameArrayRetain(${1:JSPropertyNameArrayRef array})'
  'JSStringCopyCFString':
    'prefix': 'JSStringCopyCFString'
    'body': 'JSStringCopyCFString(${1:CFAllocatorRef alloc}, ${2:JSStringRef string})'
  'JSStringCreateWithCFString':
    'prefix': 'JSStringCreateWithCFString'
    'body': 'JSStringCreateWithCFString(${1:CFStringRef string})'
  'JSStringCreateWithCharacters':
    'prefix': 'JSStringCreateWithCharacters'
    'body': 'JSStringCreateWithCharacters(${1:JSChar* chars}, ${2:size_t numChars})'
  'JSStringCreateWithUTF8CString':
    'prefix': 'JSStringCreateWithUTF8CString'
    'body': 'JSStringCreateWithUTF8CString(${1:char* string})'
  'JSStringGetCharactersPtr':
    'prefix': 'JSStringGetCharactersPtr'
    'body': 'JSStringGetCharactersPtr(${1:JSStringRef string})'
  'JSStringGetLength':
    'prefix': 'JSStringGetLength'
    'body': 'JSStringGetLength(${1:JSStringRef string})'
  'JSStringGetMaximumUTF8CStringSize':
    'prefix': 'JSStringGetMaximumUTF8CStringSize'
    'body': 'JSStringGetMaximumUTF8CStringSize(${1:JSStringRef string})'
  'JSStringGetUTF8CString':
    'prefix': 'JSStringGetUTF8CString'
    'body': 'JSStringGetUTF8CString(${1:JSStringRef string}, ${2:char* buffer}, ${3:size_t bufferSize})'
  'JSStringIsEqual':
    'prefix': 'JSStringIsEqual'
    'body': 'JSStringIsEqual(${1:JSStringRef a}, ${2:JSStringRef b})'
  'JSStringIsEqualToUTF8CString':
    'prefix': 'JSStringIsEqualToUTF8CString'
    'body': 'JSStringIsEqualToUTF8CString(${1:JSStringRef a}, ${2:char* b})'
  'JSStringRelease':
    'prefix': 'JSStringRelease'
    'body': 'JSStringRelease(${1:JSStringRef string})'
  'JSStringRetain':
    'prefix': 'JSStringRetain'
    'body': 'JSStringRetain(${1:JSStringRef string})'
  'JSValueCreateJSONString':
    'prefix': 'JSValueCreateJSONString'
    'body': 'JSValueCreateJSONString(${1:JSContextRef ctx}, ${2:JSValueRef value}, ${3:unsigned int indent}, ${4:JSValueRef* exception})'
  'JSValueGetType':
    'prefix': 'JSValueGetType'
    'body': 'JSValueGetType(${1:JSContextRef ctx}, ${2:JSValueRef })'
  'JSValueIsBoolean':
    'prefix': 'JSValueIsBoolean'
    'body': 'JSValueIsBoolean(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueIsEqual':
    'prefix': 'JSValueIsEqual'
    'body': 'JSValueIsEqual(${1:JSContextRef ctx}, ${2:JSValueRef a}, ${3:JSValueRef b}, ${4:JSValueRef* exception})'
  'JSValueIsInstanceOfConstructor':
    'prefix': 'JSValueIsInstanceOfConstructor'
    'body': 'JSValueIsInstanceOfConstructor(${1:JSContextRef ctx}, ${2:JSValueRef value}, ${3:JSObjectRef constructor}, ${4:JSValueRef* exception})'
  'JSValueIsNull':
    'prefix': 'JSValueIsNull'
    'body': 'JSValueIsNull(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueIsNumber':
    'prefix': 'JSValueIsNumber'
    'body': 'JSValueIsNumber(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueIsObject':
    'prefix': 'JSValueIsObject'
    'body': 'JSValueIsObject(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueIsObjectOfClass':
    'prefix': 'JSValueIsObjectOfClass'
    'body': 'JSValueIsObjectOfClass(${1:JSContextRef ctx}, ${2:JSValueRef value}, ${3:JSClassRef jsClass})'
  'JSValueIsStrictEqual':
    'prefix': 'JSValueIsStrictEqual'
    'body': 'JSValueIsStrictEqual(${1:JSContextRef ctx}, ${2:JSValueRef a}, ${3:JSValueRef b})'
  'JSValueIsString':
    'prefix': 'JSValueIsString'
    'body': 'JSValueIsString(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueIsUndefined':
    'prefix': 'JSValueIsUndefined'
    'body': 'JSValueIsUndefined(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueMakeBoolean':
    'prefix': 'JSValueMakeBoolean'
    'body': 'JSValueMakeBoolean(${1:JSContextRef ctx}, ${2:_Bool boolean})'
  'JSValueMakeFromJSONString':
    'prefix': 'JSValueMakeFromJSONString'
    'body': 'JSValueMakeFromJSONString(${1:JSContextRef ctx}, ${2:JSStringRef string})'
  'JSValueMakeNull':
    'prefix': 'JSValueMakeNull'
    'body': 'JSValueMakeNull(${1:JSContextRef ctx})'
  'JSValueMakeNumber':
    'prefix': 'JSValueMakeNumber'
    'body': 'JSValueMakeNumber(${1:JSContextRef ctx}, ${2:double number})'
  'JSValueMakeString':
    'prefix': 'JSValueMakeString'
    'body': 'JSValueMakeString(${1:JSContextRef ctx}, ${2:JSStringRef string})'
  'JSValueMakeUndefined':
    'prefix': 'JSValueMakeUndefined'
    'body': 'JSValueMakeUndefined(${1:JSContextRef ctx})'
  'JSValueProtect':
    'prefix': 'JSValueProtect'
    'body': 'JSValueProtect(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueToBoolean':
    'prefix': 'JSValueToBoolean'
    'body': 'JSValueToBoolean(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSValueToNumber':
    'prefix': 'JSValueToNumber'
    'body': 'JSValueToNumber(${1:JSContextRef ctx}, ${2:JSValueRef value}, ${3:JSValueRef* exception})'
  'JSValueToObject':
    'prefix': 'JSValueToObject'
    'body': 'JSValueToObject(${1:JSContextRef ctx}, ${2:JSValueRef value}, ${3:JSValueRef* exception})'
  'JSValueToStringCopy':
    'prefix': 'JSValueToStringCopy'
    'body': 'JSValueToStringCopy(${1:JSContextRef ctx}, ${2:JSValueRef value}, ${3:JSValueRef* exception})'
  'JSValueUnprotect':
    'prefix': 'JSValueUnprotect'
    'body': 'JSValueUnprotect(${1:JSContextRef ctx}, ${2:JSValueRef value})'
  'JSGlobalContextRef':
    'prefix': 'JSGlobalContextRef'
    'body': 'JSGlobalContextRef()'
  'JSContext.contextWithJSGlobalContextRef:':
    'prefix': 'contextWithJSGlobalContextRef:'
    'body': 'JSContext.contextWithJSGlobalContextRef(${1:JSGlobalContextRef jsGlobalContextRef})'
  'JSContext.currentArguments':
    'prefix': 'currentArguments'
    'body': 'JSContext.currentArguments()'
  'JSContext.currentContext':
    'prefix': 'currentContext'
    'body': 'JSContext.currentContext()'
  'JSContext.currentThis':
    'prefix': 'currentThis'
    'body': 'JSContext.currentThis()'
  'evaluateScript:':
    'prefix': 'evaluateScript:'
    'body': 'evaluateScript(${1:NSString* script})'
  'exception':
    'prefix': 'exception'
    'body': 'exception()'
  'exceptionHandler':
    'prefix': 'exceptionHandler'
    'body': 'exceptionHandler()'
  'globalObject':
    'prefix': 'globalObject'
    'body': 'globalObject()'
  'init':
    'prefix': 'init'
    'body': 'init()'
  'initWithVirtualMachine:':
    'prefix': 'initWithVirtualMachine:'
    'body': 'initWithVirtualMachine(${1:JSVirtualMachine* virtualMachine})'
  'objectForKeyedSubscript:':
    'prefix': 'objectForKeyedSubscript:'
    'body': 'objectForKeyedSubscript(${1:id key})'
  'setException:':
    'prefix': 'setException:'
    'body': 'setException(${1:JSValue* exception})'
  'setExceptionHandler:':
    'prefix': 'setExceptionHandler:'
    'body': 'setExceptionHandler(${1:void (^)(JSContext *, JSValue *) exceptionHandler})'
  'setObject:forKeyedSubscript:':
    'prefix': 'setObject:forKeyedSubscript:'
    'body': 'setObject(${1:id object}, forKeyedSubscript:${2:NSObject* key})'
  'virtualMachine':
    'prefix': 'virtualMachine'
    'body': 'virtualMachine()'
  'initWithValue:':
    'prefix': 'initWithValue:'
    'body': 'initWithValue(${1:JSValue* value})'
  'JSManagedValue.managedValueWithValue:':
    'prefix': 'managedValueWithValue:'
    'body': 'JSManagedValue.managedValueWithValue(${1:JSValue* value})'
  'value':
    'prefix': 'value'
    'body': 'value()'
  'JSValueRef':
    'prefix': 'JSValueRef'
    'body': 'JSValueRef()'
  'callWithArguments:':
    'prefix': 'callWithArguments:'
    'body': 'callWithArguments(${1:NSArray* arguments})'
  'constructWithArguments:':
    'prefix': 'constructWithArguments:'
    'body': 'constructWithArguments(${1:NSArray* arguments})'
  'context':
    'prefix': 'context'
    'body': 'context()'
  'defineProperty:descriptor:':
    'prefix': 'defineProperty:descriptor:'
    'body': 'defineProperty(${1:NSString* property}, descriptor:${2:id descriptor})'
  'deleteProperty:':
    'prefix': 'deleteProperty:'
    'body': 'deleteProperty(${1:NSString* property})'
  'hasProperty:':
    'prefix': 'hasProperty:'
    'body': 'hasProperty(${1:NSString* property})'
  'invokeMethod:withArguments:':
    'prefix': 'invokeMethod:withArguments:'
    'body': 'invokeMethod(${1:NSString* method}, withArguments:${2:NSArray* arguments})'
  'isBoolean':
    'prefix': 'isBoolean'
    'body': 'isBoolean()'
  'isEqualToObject:':
    'prefix': 'isEqualToObject:'
    'body': 'isEqualToObject(${1:id value})'
  'isEqualWithTypeCoercionToObject:':
    'prefix': 'isEqualWithTypeCoercionToObject:'
    'body': 'isEqualWithTypeCoercionToObject(${1:id value})'
  'isInstanceOf:':
    'prefix': 'isInstanceOf:'
    'body': 'isInstanceOf(${1:id value})'
  'isNull':
    'prefix': 'isNull'
    'body': 'isNull()'
  'isNumber':
    'prefix': 'isNumber'
    'body': 'isNumber()'
  'isObject':
    'prefix': 'isObject'
    'body': 'isObject()'
  'isString':
    'prefix': 'isString'
    'body': 'isString()'
  'isUndefined':
    'prefix': 'isUndefined'
    'body': 'isUndefined()'
  'objectAtIndexedSubscript:':
    'prefix': 'objectAtIndexedSubscript:'
    'body': 'objectAtIndexedSubscript(${1:NSUInteger index})'
  'objectForKeyedSubscript:':
    'prefix': 'objectForKeyedSubscript:'
    'body': 'objectForKeyedSubscript(${1:id key})'
  'setObject:atIndexedSubscript:':
    'prefix': 'setObject:atIndexedSubscript:'
    'body': 'setObject(${1:id object}, atIndexedSubscript:${2:NSUInteger index})'
  'setObject:forKeyedSubscript:':
    'prefix': 'setObject:forKeyedSubscript:'
    'body': 'setObject(${1:id object}, forKeyedSubscript:${2:NSObject* key})'
  'setValue:atIndex:':
    'prefix': 'setValue:atIndex:'
    'body': 'setValue(${1:id value}, atIndex:${2:NSUInteger index})'
  'setValue:forProperty:':
    'prefix': 'setValue:forProperty:'
    'body': 'setValue(${1:id value}, forProperty:${2:NSString* property})'
  'toArray':
    'prefix': 'toArray'
    'body': 'toArray()'
  'toBool':
    'prefix': 'toBool'
    'body': 'toBool()'
  'toDate':
    'prefix': 'toDate'
    'body': 'toDate()'
  'toDictionary':
    'prefix': 'toDictionary'
    'body': 'toDictionary()'
  'toDouble':
    'prefix': 'toDouble'
    'body': 'toDouble()'
  'toInt32':
    'prefix': 'toInt32'
    'body': 'toInt32()'
  'toNumber':
    'prefix': 'toNumber'
    'body': 'toNumber()'
  'toObject':
    'prefix': 'toObject'
    'body': 'toObject()'
  'toObjectOfClass:':
    'prefix': 'toObjectOfClass:'
    'body': 'toObjectOfClass(${1:Class expectedClass})'
  'toPoint':
    'prefix': 'toPoint'
    'body': 'toPoint()'
  'toRange':
    'prefix': 'toRange'
    'body': 'toRange()'
  'toRect':
    'prefix': 'toRect'
    'body': 'toRect()'
  'toSize':
    'prefix': 'toSize'
    'body': 'toSize()'
  'toString':
    'prefix': 'toString'
    'body': 'toString()'
  'toUInt32':
    'prefix': 'toUInt32'
    'body': 'toUInt32()'
  'valueAtIndex:':
    'prefix': 'valueAtIndex:'
    'body': 'valueAtIndex(${1:NSUInteger index})'
  'valueForProperty:':
    'prefix': 'valueForProperty:'
    'body': 'valueForProperty(${1:NSString* property})'
  'JSValue.valueWithBool:inContext:':
    'prefix': 'valueWithBool:inContext:'
    'body': 'JSValue.valueWithBool(${1:BOOL value}, inContext:${2:JSContext* context})'
  'JSValue.valueWithDouble:inContext:':
    'prefix': 'valueWithDouble:inContext:'
    'body': 'JSValue.valueWithDouble(${1:double value}, inContext:${2:JSContext* context})'
  'JSValue.valueWithInt32:inContext:':
    'prefix': 'valueWithInt32:inContext:'
    'body': 'JSValue.valueWithInt32(${1:int32_t value}, inContext:${2:JSContext* context})'
  'JSValue.valueWithJSValueRef:inContext:':
    'prefix': 'valueWithJSValueRef:inContext:'
    'body': 'JSValue.valueWithJSValueRef(${1:JSValueRef value}, inContext:${2:JSContext* context})'
  'JSValue.valueWithNewArrayInContext:':
    'prefix': 'valueWithNewArrayInContext:'
    'body': 'JSValue.valueWithNewArrayInContext(${1:JSContext* context})'
  'JSValue.valueWithNewErrorFromMessage:inContext:':
    'prefix': 'valueWithNewErrorFromMessage:inContext:'
    'body': 'JSValue.valueWithNewErrorFromMessage(${1:NSString* message}, inContext:${2:JSContext* context})'
  'JSValue.valueWithNewObjectInContext:':
    'prefix': 'valueWithNewObjectInContext:'
    'body': 'JSValue.valueWithNewObjectInContext(${1:JSContext* context})'
  'JSValue.valueWithNewRegularExpressionFromPattern:flags:inContext:':
    'prefix': 'valueWithNewRegularExpressionFromPattern:flags:inContext:'
    'body': 'JSValue.valueWithNewRegularExpressionFromPattern(${1:NSString* pattern}, flags:${2:NSString* flags}, inContext:${3:JSContext* context})'
  'JSValue.valueWithNullInContext:':
    'prefix': 'valueWithNullInContext:'
    'body': 'JSValue.valueWithNullInContext(${1:JSContext* context})'
  'JSValue.valueWithObject:inContext:':
    'prefix': 'valueWithObject:inContext:'
    'body': 'JSValue.valueWithObject(${1:id value}, inContext:${2:JSContext* context})'
  'JSValue.valueWithPoint:inContext:':
    'prefix': 'valueWithPoint:inContext:'
    'body': 'JSValue.valueWithPoint(${1:CGPoint point}, inContext:${2:JSContext* context})'
  'JSValue.valueWithRange:inContext:':
    'prefix': 'valueWithRange:inContext:'
    'body': 'JSValue.valueWithRange(${1:NSRange range}, inContext:${2:JSContext* context})'
  'JSValue.valueWithRect:inContext:':
    'prefix': 'valueWithRect:inContext:'
    'body': 'JSValue.valueWithRect(${1:CGRect rect}, inContext:${2:JSContext* context})'
  'JSValue.valueWithSize:inContext:':
    'prefix': 'valueWithSize:inContext:'
    'body': 'JSValue.valueWithSize(${1:CGSize size}, inContext:${2:JSContext* context})'
  'JSValue.valueWithUInt32:inContext:':
    'prefix': 'valueWithUInt32:inContext:'
    'body': 'JSValue.valueWithUInt32(${1:uint32_t value}, inContext:${2:JSContext* context})'
  'JSValue.valueWithUndefinedInContext:':
    'prefix': 'valueWithUndefinedInContext:'
    'body': 'JSValue.valueWithUndefinedInContext(${1:JSContext* context})'
  'addManagedReference:withOwner:':
    'prefix': 'addManagedReference:withOwner:'
    'body': 'addManagedReference(${1:id object}, withOwner:${2:id owner})'
  'init':
    'prefix': 'init'
    'body': 'init()'
  'removeManagedReference:withOwner:':
    'prefix': 'removeManagedReference:withOwner:'
    'body': 'removeManagedReference(${1:id object}, withOwner:${2:id owner})'
