'.source.rubymotion':
  'if … else … end':
    'prefix': 'ife'
    'body': 'if ${1:condition}\n\t$2\nelse\n\t$3\nend'
  'if … end':
    'prefix': 'if'
    'body': 'if ${1:condition}\n\t$0\nend'
  'case … end':
    'prefix': 'case'
    'body': 'case ${1:object}\nwhen ${2:condition}\n\t$0\nend'
  'Add ‘# =>’ Marker':
    'prefix': '#'
    'body': '# => '
  'alias_method ..':
    'prefix': 'am'
    'body': 'alias_method :${1:new_name}, :${0:old_name}'
  'attr_accessor ..':
    'prefix': 'rw'
    'body': 'attr_accessor :${0:attr_names}'
  'attr_reader ..':
    'prefix': 'r'
    'body': 'attr_reader :${0:attr_names}'
  'attr_writer ..':
    'prefix': 'w'
    'body': 'attr_writer :${0:attr_names}'
  'class .. end':
    'prefix': 'cla'
    'body': 'class $1\n\t$0\nend'
  'class << self .. end':
    'prefix': 'cla'
    'body': 'class << ${1:self}\n\t$0\nend'
  'def … end':
    'prefix': 'def'
    'body': 'def ${1:method_name}\n\t$0\nend'
  'module .. end':
    'prefix': 'mod'
    'body': 'module $1\n\t$0\nend'
  'unless … end':
    'prefix': 'unless'
    'body': 'unless ${1:condition}\n\t$0\nend'
  'until ... end':
    'prefix': 'until'
    'body': 'until ${1:condition}\n\t$0\nend'
  'when …':
    'prefix': 'when'
    'body': 'when ${1:condition}\n\t$0'
  'while ... end':
    'prefix': 'while'
    'body': 'while ${1:condition}\n\t$0\nend'
'.source.rubymotion .comment':
  ':yields:':
    'prefix': 'y'
    'body': ' :yields: ${0:arguments}'
