# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Look Up in Dash': 'rubymotion:dash'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RubyMotion'
      'submenu': [
        { 'label': 'Look Up in Dash', 'command': 'rubymotion:dash' }
      ]
    ]
  }
]
