'.source.rubymotion':
  'NSBundle':
    'prefix': 'NSBundle'
    'body': 'NSBundle'
  'loadAppleScriptObjectiveCScripts':
    'prefix': 'loadAppleScriptObjectiveCScripts'
    'body': 'loadAppleScriptObjectiveCScripts'
