'.source.rubymotion':
  'E_PENDING (2147483658)':
    'prefix': 'E_PENDING'
    'body': 'E_PENDING'
  'FFCAP_ET_CONSTANTFORCE (1)':
    'prefix': 'FFCAP_ET_CONSTANTFORCE'
    'body': 'FFCAP_ET_CONSTANTFORCE'
  'FFCAP_ET_CUSTOMFORCE (2048)':
    'prefix': 'FFCAP_ET_CUSTOMFORCE'
    'body': 'FFCAP_ET_CUSTOMFORCE'
  'FFCAP_ET_DAMPER (256)':
    'prefix': 'FFCAP_ET_DAMPER'
    'body': 'FFCAP_ET_DAMPER'
  'FFCAP_ET_FRICTION (1024)':
    'prefix': 'FFCAP_ET_FRICTION'
    'body': 'FFCAP_ET_FRICTION'
  'FFCAP_ET_INERTIA (512)':
    'prefix': 'FFCAP_ET_INERTIA'
    'body': 'FFCAP_ET_INERTIA'
  'FFCAP_ET_RAMPFORCE (2)':
    'prefix': 'FFCAP_ET_RAMPFORCE'
    'body': 'FFCAP_ET_RAMPFORCE'
  'FFCAP_ET_SAWTOOTHDOWN (64)':
    'prefix': 'FFCAP_ET_SAWTOOTHDOWN'
    'body': 'FFCAP_ET_SAWTOOTHDOWN'
  'FFCAP_ET_SAWTOOTHUP (32)':
    'prefix': 'FFCAP_ET_SAWTOOTHUP'
    'body': 'FFCAP_ET_SAWTOOTHUP'
  'FFCAP_ET_SINE (8)':
    'prefix': 'FFCAP_ET_SINE'
    'body': 'FFCAP_ET_SINE'
  'FFCAP_ET_SPRING (128)':
    'prefix': 'FFCAP_ET_SPRING'
    'body': 'FFCAP_ET_SPRING'
  'FFCAP_ET_SQUARE (4)':
    'prefix': 'FFCAP_ET_SQUARE'
    'body': 'FFCAP_ET_SQUARE'
  'FFCAP_ET_TRIANGLE (16)':
    'prefix': 'FFCAP_ET_TRIANGLE'
    'body': 'FFCAP_ET_TRIANGLE'
  'FFCAP_ST_KINESTHETIC (1)':
    'prefix': 'FFCAP_ST_KINESTHETIC'
    'body': 'FFCAP_ST_KINESTHETIC'
  'FFCAP_ST_VIBRATION (2)':
    'prefix': 'FFCAP_ST_VIBRATION'
    'body': 'FFCAP_ST_VIBRATION'
  'FFEB_NOTRIGGER (4294967295)':
    'prefix': 'FFEB_NOTRIGGER'
    'body': 'FFEB_NOTRIGGER'
  'FFEFF_CARTESIAN (16)':
    'prefix': 'FFEFF_CARTESIAN'
    'body': 'FFEFF_CARTESIAN'
  'FFEFF_OBJECTOFFSETS (2)':
    'prefix': 'FFEFF_OBJECTOFFSETS'
    'body': 'FFEFF_OBJECTOFFSETS'
  'FFEFF_POLAR (32)':
    'prefix': 'FFEFF_POLAR'
    'body': 'FFEFF_POLAR'
  'FFEFF_SPHERICAL (64)':
    'prefix': 'FFEFF_SPHERICAL'
    'body': 'FFEFF_SPHERICAL'
  'FFEGES_EMULATED (2)':
    'prefix': 'FFEGES_EMULATED'
    'body': 'FFEGES_EMULATED'
  'FFEGES_NOTPLAYING (0)':
    'prefix': 'FFEGES_NOTPLAYING'
    'body': 'FFEGES_NOTPLAYING'
  'FFEGES_PLAYING (1)':
    'prefix': 'FFEGES_PLAYING'
    'body': 'FFEGES_PLAYING'
  'FFEP_ALLPARAMS (1023)':
    'prefix': 'FFEP_ALLPARAMS'
    'body': 'FFEP_ALLPARAMS'
  'FFEP_AXES (32)':
    'prefix': 'FFEP_AXES'
    'body': 'FFEP_AXES'
  'FFEP_DIRECTION (64)':
    'prefix': 'FFEP_DIRECTION'
    'body': 'FFEP_DIRECTION'
  'FFEP_DURATION (1)':
    'prefix': 'FFEP_DURATION'
    'body': 'FFEP_DURATION'
  'FFEP_ENVELOPE (128)':
    'prefix': 'FFEP_ENVELOPE'
    'body': 'FFEP_ENVELOPE'
  'FFEP_GAIN (4)':
    'prefix': 'FFEP_GAIN'
    'body': 'FFEP_GAIN'
  'FFEP_NODOWNLOAD (2147483648)':
    'prefix': 'FFEP_NODOWNLOAD'
    'body': 'FFEP_NODOWNLOAD'
  'FFEP_NORESTART (1073741824)':
    'prefix': 'FFEP_NORESTART'
    'body': 'FFEP_NORESTART'
  'FFEP_SAMPLEPERIOD (2)':
    'prefix': 'FFEP_SAMPLEPERIOD'
    'body': 'FFEP_SAMPLEPERIOD'
  'FFEP_START (536870912)':
    'prefix': 'FFEP_START'
    'body': 'FFEP_START'
  'FFEP_STARTDELAY (512)':
    'prefix': 'FFEP_STARTDELAY'
    'body': 'FFEP_STARTDELAY'
  'FFEP_TRIGGERBUTTON (8)':
    'prefix': 'FFEP_TRIGGERBUTTON'
    'body': 'FFEP_TRIGGERBUTTON'
  'FFEP_TRIGGERREPEATINTERVAL (16)':
    'prefix': 'FFEP_TRIGGERREPEATINTERVAL'
    'body': 'FFEP_TRIGGERREPEATINTERVAL'
  'FFEP_TYPESPECIFICPARAMS (256)':
    'prefix': 'FFEP_TYPESPECIFICPARAMS'
    'body': 'FFEP_TYPESPECIFICPARAMS'
  'FFERR_DEVICEFULL (2147746305)':
    'prefix': 'FFERR_DEVICEFULL'
    'body': 'FFERR_DEVICEFULL'
  'FFERR_DEVICEPAUSED (2147746561)':
    'prefix': 'FFERR_DEVICEPAUSED'
    'body': 'FFERR_DEVICEPAUSED'
  'FFERR_DEVICERELEASED (2147746567)':
    'prefix': 'FFERR_DEVICERELEASED'
    'body': 'FFERR_DEVICERELEASED'
  'FFERR_EFFECTPLAYING (2147746312)':
    'prefix': 'FFERR_EFFECTPLAYING'
    'body': 'FFERR_EFFECTPLAYING'
  'FFERR_EFFECTTYPEMISMATCH (2147746563)':
    'prefix': 'FFERR_EFFECTTYPEMISMATCH'
    'body': 'FFERR_EFFECTTYPEMISMATCH'
  'FFERR_EFFECTTYPENOTSUPPORTED (2147746566)':
    'prefix': 'FFERR_EFFECTTYPENOTSUPPORTED'
    'body': 'FFERR_EFFECTTYPENOTSUPPORTED'
  'FFERR_GENERIC (-2147483640)':
    'prefix': 'FFERR_GENERIC'
    'body': 'FFERR_GENERIC'
  'FFERR_HASEFFECTS (2147746308)':
    'prefix': 'FFERR_HASEFFECTS'
    'body': 'FFERR_HASEFFECTS'
  'FFERR_INCOMPLETEEFFECT (2147746310)':
    'prefix': 'FFERR_INCOMPLETEEFFECT'
    'body': 'FFERR_INCOMPLETEEFFECT'
  'FFERR_INTERNAL (2147746562)':
    'prefix': 'FFERR_INTERNAL'
    'body': 'FFERR_INTERNAL'
  'FFERR_INVALIDDOWNLOADID (2147746560)':
    'prefix': 'FFERR_INVALIDDOWNLOADID'
    'body': 'FFERR_INVALIDDOWNLOADID'
  'FFERR_INVALIDPARAM (-2147483645)':
    'prefix': 'FFERR_INVALIDPARAM'
    'body': 'FFERR_INVALIDPARAM'
  'FFERR_MOREDATA (2147746306)':
    'prefix': 'FFERR_MOREDATA'
    'body': 'FFERR_MOREDATA'
  'FFERR_NOINTERFACE (-2147483644)':
    'prefix': 'FFERR_NOINTERFACE'
    'body': 'FFERR_NOINTERFACE'
  'FFERR_NOTDOWNLOADED (2147746307)':
    'prefix': 'FFERR_NOTDOWNLOADED'
    'body': 'FFERR_NOTDOWNLOADED'
  'FFERR_NOTINITIALIZED (2147746565)':
    'prefix': 'FFERR_NOTINITIALIZED'
    'body': 'FFERR_NOTINITIALIZED'
  'FFERR_OUTOFMEMORY (-2147483646)':
    'prefix': 'FFERR_OUTOFMEMORY'
    'body': 'FFERR_OUTOFMEMORY'
  'FFERR_UNPLUGGED (2147746313)':
    'prefix': 'FFERR_UNPLUGGED'
    'body': 'FFERR_UNPLUGGED'
  'FFERR_UNSUPPORTED (-2147483647)':
    'prefix': 'FFERR_UNSUPPORTED'
    'body': 'FFERR_UNSUPPORTED'
  'FFERR_UNSUPPORTEDAXIS (2147746564)':
    'prefix': 'FFERR_UNSUPPORTEDAXIS'
    'body': 'FFERR_UNSUPPORTEDAXIS'
  'FFES_NODOWNLOAD (2147483648)':
    'prefix': 'FFES_NODOWNLOAD'
    'body': 'FFES_NODOWNLOAD'
  'FFES_SOLO (1)':
    'prefix': 'FFES_SOLO'
    'body': 'FFES_SOLO'
  'FFGFFS_ACTUATORSOFF (32)':
    'prefix': 'FFGFFS_ACTUATORSOFF'
    'body': 'FFGFFS_ACTUATORSOFF'
  'FFGFFS_ACTUATORSON (16)':
    'prefix': 'FFGFFS_ACTUATORSON'
    'body': 'FFGFFS_ACTUATORSON'
  'FFGFFS_DEVICELOST (2147483648)':
    'prefix': 'FFGFFS_DEVICELOST'
    'body': 'FFGFFS_DEVICELOST'
  'FFGFFS_EMPTY (1)':
    'prefix': 'FFGFFS_EMPTY'
    'body': 'FFGFFS_EMPTY'
  'FFGFFS_PAUSED (4)':
    'prefix': 'FFGFFS_PAUSED'
    'body': 'FFGFFS_PAUSED'
  'FFGFFS_POWEROFF (128)':
    'prefix': 'FFGFFS_POWEROFF'
    'body': 'FFGFFS_POWEROFF'
  'FFGFFS_POWERON (64)':
    'prefix': 'FFGFFS_POWERON'
    'body': 'FFGFFS_POWERON'
  'FFGFFS_SAFETYSWITCHOFF (512)':
    'prefix': 'FFGFFS_SAFETYSWITCHOFF'
    'body': 'FFGFFS_SAFETYSWITCHOFF'
  'FFGFFS_SAFETYSWITCHON (256)':
    'prefix': 'FFGFFS_SAFETYSWITCHON'
    'body': 'FFGFFS_SAFETYSWITCHON'
  'FFGFFS_STOPPED (2)':
    'prefix': 'FFGFFS_STOPPED'
    'body': 'FFGFFS_STOPPED'
  'FFGFFS_USERFFSWITCHOFF (2048)':
    'prefix': 'FFGFFS_USERFFSWITCHOFF'
    'body': 'FFGFFS_USERFFSWITCHOFF'
  'FFGFFS_USERFFSWITCHON (1024)':
    'prefix': 'FFGFFS_USERFFSWITCHON'
    'body': 'FFGFFS_USERFFSWITCHON'
  'FFJOFS_BUTTON0 (48)':
    'prefix': 'FFJOFS_BUTTON0'
    'body': 'FFJOFS_BUTTON0'
  'FFJOFS_BUTTON1 (49)':
    'prefix': 'FFJOFS_BUTTON1'
    'body': 'FFJOFS_BUTTON1'
  'FFJOFS_BUTTON10 (58)':
    'prefix': 'FFJOFS_BUTTON10'
    'body': 'FFJOFS_BUTTON10'
  'FFJOFS_BUTTON11 (59)':
    'prefix': 'FFJOFS_BUTTON11'
    'body': 'FFJOFS_BUTTON11'
  'FFJOFS_BUTTON12 (60)':
    'prefix': 'FFJOFS_BUTTON12'
    'body': 'FFJOFS_BUTTON12'
  'FFJOFS_BUTTON13 (61)':
    'prefix': 'FFJOFS_BUTTON13'
    'body': 'FFJOFS_BUTTON13'
  'FFJOFS_BUTTON14 (62)':
    'prefix': 'FFJOFS_BUTTON14'
    'body': 'FFJOFS_BUTTON14'
  'FFJOFS_BUTTON15 (63)':
    'prefix': 'FFJOFS_BUTTON15'
    'body': 'FFJOFS_BUTTON15'
  'FFJOFS_BUTTON16 (64)':
    'prefix': 'FFJOFS_BUTTON16'
    'body': 'FFJOFS_BUTTON16'
  'FFJOFS_BUTTON17 (65)':
    'prefix': 'FFJOFS_BUTTON17'
    'body': 'FFJOFS_BUTTON17'
  'FFJOFS_BUTTON18 (66)':
    'prefix': 'FFJOFS_BUTTON18'
    'body': 'FFJOFS_BUTTON18'
  'FFJOFS_BUTTON19 (67)':
    'prefix': 'FFJOFS_BUTTON19'
    'body': 'FFJOFS_BUTTON19'
  'FFJOFS_BUTTON2 (50)':
    'prefix': 'FFJOFS_BUTTON2'
    'body': 'FFJOFS_BUTTON2'
  'FFJOFS_BUTTON20 (68)':
    'prefix': 'FFJOFS_BUTTON20'
    'body': 'FFJOFS_BUTTON20'
  'FFJOFS_BUTTON21 (69)':
    'prefix': 'FFJOFS_BUTTON21'
    'body': 'FFJOFS_BUTTON21'
  'FFJOFS_BUTTON22 (70)':
    'prefix': 'FFJOFS_BUTTON22'
    'body': 'FFJOFS_BUTTON22'
  'FFJOFS_BUTTON23 (71)':
    'prefix': 'FFJOFS_BUTTON23'
    'body': 'FFJOFS_BUTTON23'
  'FFJOFS_BUTTON24 (72)':
    'prefix': 'FFJOFS_BUTTON24'
    'body': 'FFJOFS_BUTTON24'
  'FFJOFS_BUTTON25 (73)':
    'prefix': 'FFJOFS_BUTTON25'
    'body': 'FFJOFS_BUTTON25'
  'FFJOFS_BUTTON26 (74)':
    'prefix': 'FFJOFS_BUTTON26'
    'body': 'FFJOFS_BUTTON26'
  'FFJOFS_BUTTON27 (75)':
    'prefix': 'FFJOFS_BUTTON27'
    'body': 'FFJOFS_BUTTON27'
  'FFJOFS_BUTTON28 (76)':
    'prefix': 'FFJOFS_BUTTON28'
    'body': 'FFJOFS_BUTTON28'
  'FFJOFS_BUTTON29 (77)':
    'prefix': 'FFJOFS_BUTTON29'
    'body': 'FFJOFS_BUTTON29'
  'FFJOFS_BUTTON3 (51)':
    'prefix': 'FFJOFS_BUTTON3'
    'body': 'FFJOFS_BUTTON3'
  'FFJOFS_BUTTON30 (78)':
    'prefix': 'FFJOFS_BUTTON30'
    'body': 'FFJOFS_BUTTON30'
  'FFJOFS_BUTTON31 (79)':
    'prefix': 'FFJOFS_BUTTON31'
    'body': 'FFJOFS_BUTTON31'
  'FFJOFS_BUTTON4 (52)':
    'prefix': 'FFJOFS_BUTTON4'
    'body': 'FFJOFS_BUTTON4'
  'FFJOFS_BUTTON5 (53)':
    'prefix': 'FFJOFS_BUTTON5'
    'body': 'FFJOFS_BUTTON5'
  'FFJOFS_BUTTON6 (54)':
    'prefix': 'FFJOFS_BUTTON6'
    'body': 'FFJOFS_BUTTON6'
  'FFJOFS_BUTTON7 (55)':
    'prefix': 'FFJOFS_BUTTON7'
    'body': 'FFJOFS_BUTTON7'
  'FFJOFS_BUTTON8 (56)':
    'prefix': 'FFJOFS_BUTTON8'
    'body': 'FFJOFS_BUTTON8'
  'FFJOFS_BUTTON9 (57)':
    'prefix': 'FFJOFS_BUTTON9'
    'body': 'FFJOFS_BUTTON9'
  'FFJOFS_RX (12)':
    'prefix': 'FFJOFS_RX'
    'body': 'FFJOFS_RX'
  'FFJOFS_RY (16)':
    'prefix': 'FFJOFS_RY'
    'body': 'FFJOFS_RY'
  'FFJOFS_RZ (20)':
    'prefix': 'FFJOFS_RZ'
    'body': 'FFJOFS_RZ'
  'FFJOFS_X (0)':
    'prefix': 'FFJOFS_X'
    'body': 'FFJOFS_X'
  'FFJOFS_Y (4)':
    'prefix': 'FFJOFS_Y'
    'body': 'FFJOFS_Y'
  'FFJOFS_Z (8)':
    'prefix': 'FFJOFS_Z'
    'body': 'FFJOFS_Z'
  'FFPROP_AUTOCENTER (3)':
    'prefix': 'FFPROP_AUTOCENTER'
    'body': 'FFPROP_AUTOCENTER'
  'FFPROP_FFGAIN (1)':
    'prefix': 'FFPROP_FFGAIN'
    'body': 'FFPROP_FFGAIN'
  'FFSCL_BACKGROUND (8)':
    'prefix': 'FFSCL_BACKGROUND'
    'body': 'FFSCL_BACKGROUND'
  'FFSCL_EXCLUSIVE (1)':
    'prefix': 'FFSCL_EXCLUSIVE'
    'body': 'FFSCL_EXCLUSIVE'
  'FFSCL_FOREGROUND (4)':
    'prefix': 'FFSCL_FOREGROUND'
    'body': 'FFSCL_FOREGROUND'
  'FFSCL_NONEXCLUSIVE (2)':
    'prefix': 'FFSCL_NONEXCLUSIVE'
    'body': 'FFSCL_NONEXCLUSIVE'
  'FFSFFC_CONTINUE (8)':
    'prefix': 'FFSFFC_CONTINUE'
    'body': 'FFSFFC_CONTINUE'
  'FFSFFC_PAUSE (4)':
    'prefix': 'FFSFFC_PAUSE'
    'body': 'FFSFFC_PAUSE'
  'FFSFFC_RESET (1)':
    'prefix': 'FFSFFC_RESET'
    'body': 'FFSFFC_RESET'
  'FFSFFC_SETACTUATORSOFF (32)':
    'prefix': 'FFSFFC_SETACTUATORSOFF'
    'body': 'FFSFFC_SETACTUATORSOFF'
  'FFSFFC_SETACTUATORSON (16)':
    'prefix': 'FFSFFC_SETACTUATORSON'
    'body': 'FFSFFC_SETACTUATORSON'
  'FFSFFC_STOPALL (2)':
    'prefix': 'FFSFFC_STOPALL'
    'body': 'FFSFFC_STOPALL'
  'FF_DEGREES (100)':
    'prefix': 'FF_DEGREES'
    'body': 'FF_DEGREES'
  'FF_DOWNLOADSKIPPED (3)':
    'prefix': 'FF_DOWNLOADSKIPPED'
    'body': 'FF_DOWNLOADSKIPPED'
  'FF_EFFECTRESTARTED (4)':
    'prefix': 'FF_EFFECTRESTARTED'
    'body': 'FF_EFFECTRESTARTED'
  'FF_FALSE (1)':
    'prefix': 'FF_FALSE'
    'body': 'FF_FALSE'
  'FF_FFNOMINALMAX (10000)':
    'prefix': 'FF_FFNOMINALMAX'
    'body': 'FF_FFNOMINALMAX'
  'FF_INFINITE (4294967295)':
    'prefix': 'FF_INFINITE'
    'body': 'FF_INFINITE'
  'FF_OK (0)':
    'prefix': 'FF_OK'
    'body': 'FF_OK'
  'FF_SECONDS (1000000)':
    'prefix': 'FF_SECONDS'
    'body': 'FF_SECONDS'
  'FF_TRUNCATED (8)':
    'prefix': 'FF_TRUNCATED'
    'body': 'FF_TRUNCATED'
  'FF_TRUNCATEDANDRESTARTED (12)':
    'prefix': 'FF_TRUNCATEDANDRESTARTED'
    'body': 'FF_TRUNCATEDANDRESTARTED'
  'kFFAPIMajorRev (1)':
    'prefix': 'kFFAPIMajorRev'
    'body': 'KFFAPIMajorRev'
  'kFFAPIMinorAndBugRev (0)':
    'prefix': 'kFFAPIMinorAndBugRev'
    'body': 'KFFAPIMinorAndBugRev'
  'kFFAPINonRelRev (0)':
    'prefix': 'kFFAPINonRelRev'
    'body': 'KFFAPINonRelRev'
  'kFFAPIStage (128)':
    'prefix': 'kFFAPIStage'
    'body': 'KFFAPIStage'
  'kFFPlugInAPIMajorRev (1)':
    'prefix': 'kFFPlugInAPIMajorRev'
    'body': 'KFFPlugInAPIMajorRev'
  'kFFPlugInAPIMinorAndBugRev (0)':
    'prefix': 'kFFPlugInAPIMinorAndBugRev'
    'body': 'KFFPlugInAPIMinorAndBugRev'
  'kFFPlugInAPINonRelRev (0)':
    'prefix': 'kFFPlugInAPINonRelRev'
    'body': 'KFFPlugInAPINonRelRev'
  'kFFPlugInAPIStage (128)':
    'prefix': 'kFFPlugInAPIStage'
    'body': 'KFFPlugInAPIStage'
  'FFCreateDevice':
    'prefix': 'FFCreateDevice'
    'body': 'FFCreateDevice(${1:io_service_t hidDevice}, ${2:FFDeviceObjectReference* pDeviceReference})'
  'FFDeviceCreateEffect':
    'prefix': 'FFDeviceCreateEffect'
    'body': 'FFDeviceCreateEffect(${1:FFDeviceObjectReference deviceReference}, ${2:CFUUIDRef uuidRef}, ${3:FFEFFECT* pEffectDefinition}, ${4:FFEffectObjectReference* pEffectReference})'
  'FFDeviceEscape':
    'prefix': 'FFDeviceEscape'
    'body': 'FFDeviceEscape(${1:FFDeviceObjectReference deviceReference}, ${2:FFEFFESCAPE* pFFEffectEscape})'
  'FFDeviceGetForceFeedbackCapabilities':
    'prefix': 'FFDeviceGetForceFeedbackCapabilities'
    'body': 'FFDeviceGetForceFeedbackCapabilities(${1:FFDeviceObjectReference deviceReference}, ${2:FFCAPABILITIES* pFFCapabilities})'
  'FFDeviceGetForceFeedbackProperty':
    'prefix': 'FFDeviceGetForceFeedbackProperty'
    'body': 'FFDeviceGetForceFeedbackProperty(${1:FFDeviceObjectReference deviceReference}, ${2:FFProperty property}, ${3:void* pValue}, ${4:IOByteCount valueSize})'
  'FFDeviceGetForceFeedbackState':
    'prefix': 'FFDeviceGetForceFeedbackState'
    'body': 'FFDeviceGetForceFeedbackState(${1:FFDeviceObjectReference deviceReference}, ${2:FFState* pFFState})'
  'FFDeviceReleaseEffect':
    'prefix': 'FFDeviceReleaseEffect'
    'body': 'FFDeviceReleaseEffect(${1:FFDeviceObjectReference deviceReference}, ${2:FFEffectObjectReference effectReference})'
  'FFDeviceSendForceFeedbackCommand':
    'prefix': 'FFDeviceSendForceFeedbackCommand'
    'body': 'FFDeviceSendForceFeedbackCommand(${1:FFDeviceObjectReference deviceReference}, ${2:FFCommandFlag flags})'
  'FFDeviceSetCooperativeLevel':
    'prefix': 'FFDeviceSetCooperativeLevel'
    'body': 'FFDeviceSetCooperativeLevel(${1:FFDeviceObjectReference deviceReference}, ${2:void* taskIdentifier}, ${3:FFCooperativeLevelFlag flags})'
  'FFDeviceSetForceFeedbackProperty':
    'prefix': 'FFDeviceSetForceFeedbackProperty'
    'body': 'FFDeviceSetForceFeedbackProperty(${1:FFDeviceObjectReference deviceReference}, ${2:FFProperty property}, ${3:void* pValue})'
  'FFEffectDownload':
    'prefix': 'FFEffectDownload'
    'body': 'FFEffectDownload(${1:FFEffectObjectReference effectReference})'
  'FFEffectEscape':
    'prefix': 'FFEffectEscape'
    'body': 'FFEffectEscape(${1:FFEffectObjectReference effectReference}, ${2:FFEFFESCAPE* pFFEffectEscape})'
  'FFEffectGetEffectStatus':
    'prefix': 'FFEffectGetEffectStatus'
    'body': 'FFEffectGetEffectStatus(${1:FFEffectObjectReference effectReference}, ${2:FFEffectStatusFlag* pFlags})'
  'FFEffectGetParameters':
    'prefix': 'FFEffectGetParameters'
    'body': 'FFEffectGetParameters(${1:FFEffectObjectReference effectReference}, ${2:FFEFFECT* pFFEffect}, ${3:FFEffectParameterFlag flags})'
  'FFEffectSetParameters':
    'prefix': 'FFEffectSetParameters'
    'body': 'FFEffectSetParameters(${1:FFEffectObjectReference effectReference}, ${2:FFEFFECT* pFFEffect}, ${3:FFEffectParameterFlag flags})'
  'FFEffectStart':
    'prefix': 'FFEffectStart'
    'body': 'FFEffectStart(${1:FFEffectObjectReference effectReference}, ${2:UInt32 iterations}, ${3:FFEffectStartFlag flags})'
  'FFEffectStop':
    'prefix': 'FFEffectStop'
    'body': 'FFEffectStop(${1:FFEffectObjectReference effectReference})'
  'FFEffectUnload':
    'prefix': 'FFEffectUnload'
    'body': 'FFEffectUnload(${1:FFEffectObjectReference effectReference})'
  'FFIsForceFeedback':
    'prefix': 'FFIsForceFeedback'
    'body': 'FFIsForceFeedback(${1:io_service_t hidDevice})'
  'FFReleaseDevice':
    'prefix': 'FFReleaseDevice'
    'body': 'FFReleaseDevice(${1:FFDeviceObjectReference deviceReference})'
