'.source.rubymotion':
  'JavaFrameViewDidCreateJavaFrame (NSString*)':
    'prefix': 'JavaFrameViewDidCreateJavaFrame'
    'body': 'JavaFrameViewDidCreateJavaFrame'
  'delegate':
    'prefix': 'delegate'
    'body': 'delegate()'
  'initWithFrame:javaFrameClassName:':
    'prefix': 'initWithFrame:javaFrameClassName:'
    'body': 'initWithFrame(${1:NSRect inFrameRect}, javaFrameClassName:${2:NSString* inClassName})'
  'javaFrame':
    'prefix': 'javaFrame'
    'body': 'javaFrame()'
  'javaFrameClassName':
    'prefix': 'javaFrameClassName'
    'body': 'javaFrameClassName()'
  'setDelegate:':
    'prefix': 'setDelegate:'
    'body': 'setDelegate(${1:id anObject})'
  'setJavaFrameClassName:':
    'prefix': 'setJavaFrameClassName:'
    'body': 'setJavaFrameClassName(${1:NSString* inClassName})'
  'JavaFrameView.setJavaStartupOptions:':
    'prefix': 'setJavaStartupOptions:'
    'body': 'setJavaStartupOptions(${1:NSArray* inStartupOptions})'
  'javaFrameView:didCreateJavaFrame:withJNIEnv:':
    'prefix': 'javaFrameView:didCreateJavaFrame:withJNIEnv:'
    'body': 'javaFrameView(${1:JavaFrameView* sender}, didCreateJavaFrame:${2:jobject javaFrame}, withJNIEnv:${3:JNIEnv* theEnv})'
  'javaFrameView:didCreateJavaFrame:withJNIEnv:':
    'prefix': 'javaFrameView:didCreateJavaFrame:withJNIEnv:'
    'body': 'javaFrameView(${1:JavaFrameView* sender}, didCreateJavaFrame:${2:jobject javaFrame}, withJNIEnv:${3:JNIEnv* theEnv})'
