'.source.rubymotion':
  'MLApertureAllPhotosTypeIdentifier ()':
    'prefix': 'MLApertureAllPhotosTypeIdentifier'
    'body': 'MLApertureAllPhotosTypeIdentifier'
  'MLApertureAllProjectsTypeIdentifier ()':
    'prefix': 'MLApertureAllProjectsTypeIdentifier'
    'body': 'MLApertureAllProjectsTypeIdentifier'
  'MLApertureFacebookAlbumTypeIdentifier ()':
    'prefix': 'MLApertureFacebookAlbumTypeIdentifier'
    'body': 'MLApertureFacebookAlbumTypeIdentifier'
  'MLApertureFacebookGroupTypeIdentifier ()':
    'prefix': 'MLApertureFacebookGroupTypeIdentifier'
    'body': 'MLApertureFacebookGroupTypeIdentifier'
  'MLApertureFacesAlbumTypeIdentifier ()':
    'prefix': 'MLApertureFacesAlbumTypeIdentifier'
    'body': 'MLApertureFacesAlbumTypeIdentifier'
  'MLApertureFlaggedTypeIdentifier ()':
    'prefix': 'MLApertureFlaggedTypeIdentifier'
    'body': 'MLApertureFlaggedTypeIdentifier'
  'MLApertureFlickrAlbumTypeIdentifier ()':
    'prefix': 'MLApertureFlickrAlbumTypeIdentifier'
    'body': 'MLApertureFlickrAlbumTypeIdentifier'
  'MLApertureFlickrGroupTypeIdentifier ()':
    'prefix': 'MLApertureFlickrGroupTypeIdentifier'
    'body': 'MLApertureFlickrGroupTypeIdentifier'
  'MLApertureFolderAlbumTypeIdentifier ()':
    'prefix': 'MLApertureFolderAlbumTypeIdentifier'
    'body': 'MLApertureFolderAlbumTypeIdentifier'
  'MLApertureLastImportAlbumTypeIdentifier ()':
    'prefix': 'MLApertureLastImportAlbumTypeIdentifier'
    'body': 'MLApertureLastImportAlbumTypeIdentifier'
  'MLApertureLastNMonthsAlbumTypeIdentifier ()':
    'prefix': 'MLApertureLastNMonthsAlbumTypeIdentifier'
    'body': 'MLApertureLastNMonthsAlbumTypeIdentifier'
  'MLApertureLastViewedEventAlbumTypeIdentifier ()':
    'prefix': 'MLApertureLastViewedEventAlbumTypeIdentifier'
    'body': 'MLApertureLastViewedEventAlbumTypeIdentifier'
  'MLApertureLightTableTypeIdentifier ()':
    'prefix': 'MLApertureLightTableTypeIdentifier'
    'body': 'MLApertureLightTableTypeIdentifier'
  'MLAperturePhotoStreamAlbumTypeIdentifier ()':
    'prefix': 'MLAperturePhotoStreamAlbumTypeIdentifier'
    'body': 'MLAperturePhotoStreamAlbumTypeIdentifier'
  'MLAperturePlacesAlbumTypeIdentifier ()':
    'prefix': 'MLAperturePlacesAlbumTypeIdentifier'
    'body': 'MLAperturePlacesAlbumTypeIdentifier'
  'MLAperturePlacesCityAlbumTypeIdentifier ()':
    'prefix': 'MLAperturePlacesCityAlbumTypeIdentifier'
    'body': 'MLAperturePlacesCityAlbumTypeIdentifier'
  'MLAperturePlacesCountryAlbumTypeIdentifier ()':
    'prefix': 'MLAperturePlacesCountryAlbumTypeIdentifier'
    'body': 'MLAperturePlacesCountryAlbumTypeIdentifier'
  'MLAperturePlacesPointOfInterestAlbumTypeIdentifier ()':
    'prefix': 'MLAperturePlacesPointOfInterestAlbumTypeIdentifier'
    'body': 'MLAperturePlacesPointOfInterestAlbumTypeIdentifier'
  'MLAperturePlacesProvinceAlbumTypeIdentifier ()':
    'prefix': 'MLAperturePlacesProvinceAlbumTypeIdentifier'
    'body': 'MLAperturePlacesProvinceAlbumTypeIdentifier'
  'MLApertureProjectAlbumTypeIdentifier ()':
    'prefix': 'MLApertureProjectAlbumTypeIdentifier'
    'body': 'MLApertureProjectAlbumTypeIdentifier'
  'MLApertureProjectFolderAlbumTypeIdentifier ()':
    'prefix': 'MLApertureProjectFolderAlbumTypeIdentifier'
    'body': 'MLApertureProjectFolderAlbumTypeIdentifier'
  'MLApertureRootGroupTypeIdentifier ()':
    'prefix': 'MLApertureRootGroupTypeIdentifier'
    'body': 'MLApertureRootGroupTypeIdentifier'
  'MLApertureSlideShowTypeIdentifier ()':
    'prefix': 'MLApertureSlideShowTypeIdentifier'
    'body': 'MLApertureSlideShowTypeIdentifier'
  'MLApertureSmugMugAlbumTypeIdentifier ()':
    'prefix': 'MLApertureSmugMugAlbumTypeIdentifier'
    'body': 'MLApertureSmugMugAlbumTypeIdentifier'
  'MLApertureSmugMugGroupTypeIdentifier ()':
    'prefix': 'MLApertureSmugMugGroupTypeIdentifier'
    'body': 'MLApertureSmugMugGroupTypeIdentifier'
  'MLApertureUserAlbumTypeIdentifier ()':
    'prefix': 'MLApertureUserAlbumTypeIdentifier'
    'body': 'MLApertureUserAlbumTypeIdentifier'
  'MLApertureUserSmartAlbumTypeIdentifier ()':
    'prefix': 'MLApertureUserSmartAlbumTypeIdentifier'
    'body': 'MLApertureUserSmartAlbumTypeIdentifier'
  'MLFinalCutEventCalendarGroupTypeIdentifier ()':
    'prefix': 'MLFinalCutEventCalendarGroupTypeIdentifier'
    'body': 'MLFinalCutEventCalendarGroupTypeIdentifier'
  'MLFinalCutEventGroupTypeIdentifier ()':
    'prefix': 'MLFinalCutEventGroupTypeIdentifier'
    'body': 'MLFinalCutEventGroupTypeIdentifier'
  'MLFinalCutEventLibraryGroupTypeIdentifier ()':
    'prefix': 'MLFinalCutEventLibraryGroupTypeIdentifier'
    'body': 'MLFinalCutEventLibraryGroupTypeIdentifier'
  'MLFinalCutFolderGroupTypeIdentifier ()':
    'prefix': 'MLFinalCutFolderGroupTypeIdentifier'
    'body': 'MLFinalCutFolderGroupTypeIdentifier'
  'MLFinalCutProjectGroupTypeIdentifier ()':
    'prefix': 'MLFinalCutProjectGroupTypeIdentifier'
    'body': 'MLFinalCutProjectGroupTypeIdentifier'
  'MLFinalCutRootGroupTypeIdentifier ()':
    'prefix': 'MLFinalCutRootGroupTypeIdentifier'
    'body': 'MLFinalCutRootGroupTypeIdentifier'
  'MLFolderGroupTypeIdentifier ()':
    'prefix': 'MLFolderGroupTypeIdentifier'
    'body': 'MLFolderGroupTypeIdentifier'
  'MLFolderRootGroupTypeIdentifier ()':
    'prefix': 'MLFolderRootGroupTypeIdentifier'
    'body': 'MLFolderRootGroupTypeIdentifier'
  'MLGarageBandFolderGroupTypeIdentifier ()':
    'prefix': 'MLGarageBandFolderGroupTypeIdentifier'
    'body': 'MLGarageBandFolderGroupTypeIdentifier'
  'MLGarageBandRootGroupTypeIdentifier ()':
    'prefix': 'MLGarageBandRootGroupTypeIdentifier'
    'body': 'MLGarageBandRootGroupTypeIdentifier'
  'MLLogicBouncesGroupTypeIdentifier ()':
    'prefix': 'MLLogicBouncesGroupTypeIdentifier'
    'body': 'MLLogicBouncesGroupTypeIdentifier'
  'MLLogicProjectTypeIdentifier ()':
    'prefix': 'MLLogicProjectTypeIdentifier'
    'body': 'MLLogicProjectTypeIdentifier'
  'MLLogicProjectsGroupTypeIdentifier ()':
    'prefix': 'MLLogicProjectsGroupTypeIdentifier'
    'body': 'MLLogicProjectsGroupTypeIdentifier'
  'MLLogicRootGroupTypeIdentifier ()':
    'prefix': 'MLLogicRootGroupTypeIdentifier'
    'body': 'MLLogicRootGroupTypeIdentifier'
  'MLMediaLoadAppFoldersKey ()':
    'prefix': 'MLMediaLoadAppFoldersKey'
    'body': 'MLMediaLoadAppFoldersKey'
  'MLMediaLoadAppleLoops ()':
    'prefix': 'MLMediaLoadAppleLoops'
    'body': 'MLMediaLoadAppleLoops'
  'MLMediaLoadExcludeSourcesKey ()':
    'prefix': 'MLMediaLoadExcludeSourcesKey'
    'body': 'MLMediaLoadExcludeSourcesKey'
  'MLMediaLoadFoldersKey ()':
    'prefix': 'MLMediaLoadFoldersKey'
    'body': 'MLMediaLoadFoldersKey'
  'MLMediaLoadIncludeSourcesKey ()':
    'prefix': 'MLMediaLoadIncludeSourcesKey'
    'body': 'MLMediaLoadIncludeSourcesKey'
  'MLMediaLoadMoviesFolder ()':
    'prefix': 'MLMediaLoadMoviesFolder'
    'body': 'MLMediaLoadMoviesFolder'
  'MLMediaLoadSourceTypesKey ()':
    'prefix': 'MLMediaLoadSourceTypesKey'
    'body': 'MLMediaLoadSourceTypesKey'
  'MLMediaObjectAlbumKey ()':
    'prefix': 'MLMediaObjectAlbumKey'
    'body': 'MLMediaObjectAlbumKey'
  'MLMediaObjectArtistKey ()':
    'prefix': 'MLMediaObjectArtistKey'
    'body': 'MLMediaObjectArtistKey'
  'MLMediaObjectBitRateKey ()':
    'prefix': 'MLMediaObjectBitRateKey'
    'body': 'MLMediaObjectBitRateKey'
  'MLMediaObjectChannelCountKey ()':
    'prefix': 'MLMediaObjectChannelCountKey'
    'body': 'MLMediaObjectChannelCountKey'
  'MLMediaObjectCommentsKey ()':
    'prefix': 'MLMediaObjectCommentsKey'
    'body': 'MLMediaObjectCommentsKey'
  'MLMediaObjectDurationKey ()':
    'prefix': 'MLMediaObjectDurationKey'
    'body': 'MLMediaObjectDurationKey'
  'MLMediaObjectGenreKey ()':
    'prefix': 'MLMediaObjectGenreKey'
    'body': 'MLMediaObjectGenreKey'
  'MLMediaObjectKeywordsKey ()':
    'prefix': 'MLMediaObjectKeywordsKey'
    'body': 'MLMediaObjectKeywordsKey'
  'MLMediaObjectKindKey ()':
    'prefix': 'MLMediaObjectKindKey'
    'body': 'MLMediaObjectKindKey'
  'MLMediaObjectProtectedKey ()':
    'prefix': 'MLMediaObjectProtectedKey'
    'body': 'MLMediaObjectProtectedKey'
  'MLMediaObjectResolutionStringKey ()':
    'prefix': 'MLMediaObjectResolutionStringKey'
    'body': 'MLMediaObjectResolutionStringKey'
  'MLMediaObjectSampleRateKey ()':
    'prefix': 'MLMediaObjectSampleRateKey'
    'body': 'MLMediaObjectSampleRateKey'
  'MLMediaObjectTrackNumberKey ()':
    'prefix': 'MLMediaObjectTrackNumberKey'
    'body': 'MLMediaObjectTrackNumberKey'
  'MLMediaSourceApertureIdentifier ()':
    'prefix': 'MLMediaSourceApertureIdentifier'
    'body': 'MLMediaSourceApertureIdentifier'
  'MLMediaSourceAppDefinedFoldersIdentifier ()':
    'prefix': 'MLMediaSourceAppDefinedFoldersIdentifier'
    'body': 'MLMediaSourceAppDefinedFoldersIdentifier'
  'MLMediaSourceCustomFoldersIdentifier ()':
    'prefix': 'MLMediaSourceCustomFoldersIdentifier'
    'body': 'MLMediaSourceCustomFoldersIdentifier'
  'MLMediaSourceFinalCutIdentifier ()':
    'prefix': 'MLMediaSourceFinalCutIdentifier'
    'body': 'MLMediaSourceFinalCutIdentifier'
  'MLMediaSourceGarageBandIdentifier ()':
    'prefix': 'MLMediaSourceGarageBandIdentifier'
    'body': 'MLMediaSourceGarageBandIdentifier'
  'MLMediaSourceLogicIdentifier ()':
    'prefix': 'MLMediaSourceLogicIdentifier'
    'body': 'MLMediaSourceLogicIdentifier'
  'MLMediaSourceMoviesFolderIdentifier ()':
    'prefix': 'MLMediaSourceMoviesFolderIdentifier'
    'body': 'MLMediaSourceMoviesFolderIdentifier'
  'MLMediaSourcePhotoBoothIdentifier ()':
    'prefix': 'MLMediaSourcePhotoBoothIdentifier'
    'body': 'MLMediaSourcePhotoBoothIdentifier'
  'MLMediaSourceiMovieIdentifier ()':
    'prefix': 'MLMediaSourceiMovieIdentifier'
    'body': 'MLMediaSourceiMovieIdentifier'
  'MLMediaSourceiPhotoIdentifier ()':
    'prefix': 'MLMediaSourceiPhotoIdentifier'
    'body': 'MLMediaSourceiPhotoIdentifier'
  'MLMediaSourceiTunesIdentifier ()':
    'prefix': 'MLMediaSourceiTunesIdentifier'
    'body': 'MLMediaSourceiTunesIdentifier'
  'MLiMovieEventCalendarGroupTypeIdentifier ()':
    'prefix': 'MLiMovieEventCalendarGroupTypeIdentifier'
    'body': 'MLiMovieEventCalendarGroupTypeIdentifier'
  'MLiMovieEventGroupTypeIdentifier ()':
    'prefix': 'MLiMovieEventGroupTypeIdentifier'
    'body': 'MLiMovieEventGroupTypeIdentifier'
  'MLiMovieEventLibraryGroupTypeIdentifier ()':
    'prefix': 'MLiMovieEventLibraryGroupTypeIdentifier'
    'body': 'MLiMovieEventLibraryGroupTypeIdentifier'
  'MLiMovieFolderGroupTypeIdentifier ()':
    'prefix': 'MLiMovieFolderGroupTypeIdentifier'
    'body': 'MLiMovieFolderGroupTypeIdentifier'
  'MLiMovieProjectGroupTypeIdentifier ()':
    'prefix': 'MLiMovieProjectGroupTypeIdentifier'
    'body': 'MLiMovieProjectGroupTypeIdentifier'
  'MLiMovieRootGroupTypeIdentifier ()':
    'prefix': 'MLiMovieRootGroupTypeIdentifier'
    'body': 'MLiMovieRootGroupTypeIdentifier'
  'MLiPhotoAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoAlbumTypeIdentifier'
    'body': 'MLiPhotoAlbumTypeIdentifier'
  'MLiPhotoEventAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoEventAlbumTypeIdentifier'
    'body': 'MLiPhotoEventAlbumTypeIdentifier'
  'MLiPhotoEventsFolderTypeIdentifier ()':
    'prefix': 'MLiPhotoEventsFolderTypeIdentifier'
    'body': 'MLiPhotoEventsFolderTypeIdentifier'
  'MLiPhotoFacebookAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoFacebookAlbumTypeIdentifier'
    'body': 'MLiPhotoFacebookAlbumTypeIdentifier'
  'MLiPhotoFacebookGroupTypeIdentifier ()':
    'prefix': 'MLiPhotoFacebookGroupTypeIdentifier'
    'body': 'MLiPhotoFacebookGroupTypeIdentifier'
  'MLiPhotoFacesAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoFacesAlbumTypeIdentifier'
    'body': 'MLiPhotoFacesAlbumTypeIdentifier'
  'MLiPhotoFlaggedAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoFlaggedAlbumTypeIdentifier'
    'body': 'MLiPhotoFlaggedAlbumTypeIdentifier'
  'MLiPhotoFlickrAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoFlickrAlbumTypeIdentifier'
    'body': 'MLiPhotoFlickrAlbumTypeIdentifier'
  'MLiPhotoFlickrGroupTypeIdentifier ()':
    'prefix': 'MLiPhotoFlickrGroupTypeIdentifier'
    'body': 'MLiPhotoFlickrGroupTypeIdentifier'
  'MLiPhotoFolderAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoFolderAlbumTypeIdentifier'
    'body': 'MLiPhotoFolderAlbumTypeIdentifier'
  'MLiPhotoLastImportAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoLastImportAlbumTypeIdentifier'
    'body': 'MLiPhotoLastImportAlbumTypeIdentifier'
  'MLiPhotoLastNMonthsAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoLastNMonthsAlbumTypeIdentifier'
    'body': 'MLiPhotoLastNMonthsAlbumTypeIdentifier'
  'MLiPhotoLastViewedEventAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoLastViewedEventAlbumTypeIdentifier'
    'body': 'MLiPhotoLastViewedEventAlbumTypeIdentifier'
  'MLiPhotoLibraryAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoLibraryAlbumTypeIdentifier'
    'body': 'MLiPhotoLibraryAlbumTypeIdentifier'
  'MLiPhotoPhotoStreamAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoPhotoStreamAlbumTypeIdentifier'
    'body': 'MLiPhotoPhotoStreamAlbumTypeIdentifier'
  'MLiPhotoPlacesAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoPlacesAlbumTypeIdentifier'
    'body': 'MLiPhotoPlacesAlbumTypeIdentifier'
  'MLiPhotoPlacesCityAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoPlacesCityAlbumTypeIdentifier'
    'body': 'MLiPhotoPlacesCityAlbumTypeIdentifier'
  'MLiPhotoPlacesCountryAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoPlacesCountryAlbumTypeIdentifier'
    'body': 'MLiPhotoPlacesCountryAlbumTypeIdentifier'
  'MLiPhotoPlacesPointOfInterestAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoPlacesPointOfInterestAlbumTypeIdentifier'
    'body': 'MLiPhotoPlacesPointOfInterestAlbumTypeIdentifier'
  'MLiPhotoPlacesProvinceAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoPlacesProvinceAlbumTypeIdentifier'
    'body': 'MLiPhotoPlacesProvinceAlbumTypeIdentifier'
  'MLiPhotoRootGroupTypeIdentifier ()':
    'prefix': 'MLiPhotoRootGroupTypeIdentifier'
    'body': 'MLiPhotoRootGroupTypeIdentifier'
  'MLiPhotoSlideShowAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoSlideShowAlbumTypeIdentifier'
    'body': 'MLiPhotoSlideShowAlbumTypeIdentifier'
  'MLiPhotoSmartAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoSmartAlbumTypeIdentifier'
    'body': 'MLiPhotoSmartAlbumTypeIdentifier'
  'MLiPhotoSubscribedAlbumTypeIdentifier ()':
    'prefix': 'MLiPhotoSubscribedAlbumTypeIdentifier'
    'body': 'MLiPhotoSubscribedAlbumTypeIdentifier'
  'MLiTunesAudioBooksPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesAudioBooksPlaylistTypeIdentifier'
    'body': 'MLiTunesAudioBooksPlaylistTypeIdentifier'
  'MLiTunesFolderPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesFolderPlaylistTypeIdentifier'
    'body': 'MLiTunesFolderPlaylistTypeIdentifier'
  'MLiTunesGeniusPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesGeniusPlaylistTypeIdentifier'
    'body': 'MLiTunesGeniusPlaylistTypeIdentifier'
  'MLiTunesMoviesPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesMoviesPlaylistTypeIdentifier'
    'body': 'MLiTunesMoviesPlaylistTypeIdentifier'
  'MLiTunesMusicPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesMusicPlaylistTypeIdentifier'
    'body': 'MLiTunesMusicPlaylistTypeIdentifier'
  'MLiTunesPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesPlaylistTypeIdentifier'
    'body': 'MLiTunesPlaylistTypeIdentifier'
  'MLiTunesPodcastPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesPodcastPlaylistTypeIdentifier'
    'body': 'MLiTunesPodcastPlaylistTypeIdentifier'
  'MLiTunesPurchasedPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesPurchasedPlaylistTypeIdentifier'
    'body': 'MLiTunesPurchasedPlaylistTypeIdentifier'
  'MLiTunesRootGroupTypeIdentifier ()':
    'prefix': 'MLiTunesRootGroupTypeIdentifier'
    'body': 'MLiTunesRootGroupTypeIdentifier'
  'MLiTunesSavedGeniusPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesSavedGeniusPlaylistTypeIdentifier'
    'body': 'MLiTunesSavedGeniusPlaylistTypeIdentifier'
  'MLiTunesSmartPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesSmartPlaylistTypeIdentifier'
    'body': 'MLiTunesSmartPlaylistTypeIdentifier'
  'MLiTunesTVShowsPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesTVShowsPlaylistTypeIdentifier'
    'body': 'MLiTunesTVShowsPlaylistTypeIdentifier'
  'MLiTunesiTunesUPlaylistTypeIdentifier ()':
    'prefix': 'MLiTunesiTunesUPlaylistTypeIdentifier'
    'body': 'MLiTunesiTunesUPlaylistTypeIdentifier'
  'MLMediaSourceTypeAudio ()':
    'prefix': 'MLMediaSourceTypeAudio'
    'body': 'MLMediaSourceTypeAudio'
  'MLMediaSourceTypeImage ()':
    'prefix': 'MLMediaSourceTypeImage'
    'body': 'MLMediaSourceTypeImage'
  'MLMediaSourceTypeMovie ()':
    'prefix': 'MLMediaSourceTypeMovie'
    'body': 'MLMediaSourceTypeMovie'
  'MLMediaTypeAudio ()':
    'prefix': 'MLMediaTypeAudio'
    'body': 'MLMediaTypeAudio'
  'MLMediaTypeImage ()':
    'prefix': 'MLMediaTypeImage'
    'body': 'MLMediaTypeImage'
  'MLMediaTypeMovie ()':
    'prefix': 'MLMediaTypeMovie'
    'body': 'MLMediaTypeMovie'
  'URL':
    'prefix': 'URL'
    'body': 'URL()'
  'attributes':
    'prefix': 'attributes'
    'body': 'attributes()'
  'childGroups':
    'prefix': 'childGroups'
    'body': 'childGroups()'
  'iconImage':
    'prefix': 'iconImage'
    'body': 'iconImage()'
  'identifier':
    'prefix': 'identifier'
    'body': 'identifier()'
  'mediaLibrary':
    'prefix': 'mediaLibrary'
    'body': 'mediaLibrary()'
  'mediaObjects':
    'prefix': 'mediaObjects'
    'body': 'mediaObjects()'
  'mediaSourceIdentifier':
    'prefix': 'mediaSourceIdentifier'
    'body': 'mediaSourceIdentifier()'
  'modificationDate':
    'prefix': 'modificationDate'
    'body': 'modificationDate()'
  'name':
    'prefix': 'name'
    'body': 'name()'
  'parent':
    'prefix': 'parent'
    'body': 'parent()'
  'typeIdentifier':
    'prefix': 'typeIdentifier'
    'body': 'typeIdentifier()'
  'initWithOptions:':
    'prefix': 'initWithOptions:'
    'body': 'initWithOptions(${1: options})'
  'mediaSources':
    'prefix': 'mediaSources'
    'body': 'mediaSources()'
  'URL':
    'prefix': 'URL'
    'body': 'URL()'
  'artworkImage':
    'prefix': 'artworkImage'
    'body': 'artworkImage()'
  'attributes':
    'prefix': 'attributes'
    'body': 'attributes()'
  'contentType':
    'prefix': 'contentType'
    'body': 'contentType()'
  'fileSize':
    'prefix': 'fileSize'
    'body': 'fileSize()'
  'identifier':
    'prefix': 'identifier'
    'body': 'identifier()'
  'mediaLibrary':
    'prefix': 'mediaLibrary'
    'body': 'mediaLibrary()'
  'mediaSourceIdentifier':
    'prefix': 'mediaSourceIdentifier'
    'body': 'mediaSourceIdentifier()'
  'mediaType':
    'prefix': 'mediaType'
    'body': 'mediaType()'
  'modificationDate':
    'prefix': 'modificationDate'
    'body': 'modificationDate()'
  'name':
    'prefix': 'name'
    'body': 'name()'
  'originalURL':
    'prefix': 'originalURL'
    'body': 'originalURL()'
  'thumbnailURL':
    'prefix': 'thumbnailURL'
    'body': 'thumbnailURL()'
  'attributes':
    'prefix': 'attributes'
    'body': 'attributes()'
  'mediaGroupForIdentifier:':
    'prefix': 'mediaGroupForIdentifier:'
    'body': 'mediaGroupForIdentifier(${1: mediaGroupIdentifier})'
  'mediaGroupsForIdentifiers:':
    'prefix': 'mediaGroupsForIdentifiers:'
    'body': 'mediaGroupsForIdentifiers(${1: mediaGroupIdentifiers})'
  'mediaLibrary':
    'prefix': 'mediaLibrary'
    'body': 'mediaLibrary()'
  'mediaObjectForIdentifier:':
    'prefix': 'mediaObjectForIdentifier:'
    'body': 'mediaObjectForIdentifier(${1: mediaObjectIdentifier})'
  'mediaObjectsForIdentifiers:':
    'prefix': 'mediaObjectsForIdentifiers:'
    'body': 'mediaObjectsForIdentifiers(${1: mediaObjectIdentifiers})'
  'mediaSourceIdentifier':
    'prefix': 'mediaSourceIdentifier'
    'body': 'mediaSourceIdentifier()'
  'rootMediaGroup':
    'prefix': 'rootMediaGroup'
    'body': 'rootMediaGroup()'
