'.source.rubymotion':
  'ABCreateStringWithAddressDictionary':
    'prefix': 'ABCreateStringWithAddressDictionary'
    'body': 'ABCreateStringWithAddressDictionary(${1:NSDictionary* address}, ${2:BOOL addCountryName})'
  'addressBook':
    'prefix': 'addressBook'
    'body': 'addressBook()'
  'displayedPerson':
    'prefix': 'displayedPerson'
    'body': 'displayedPerson()'
  'newPersonViewDelegate':
    'prefix': 'newPersonViewDelegate'
    'body': 'newPersonViewDelegate()'
  'parentGroup':
    'prefix': 'parentGroup'
    'body': 'parentGroup()'
  'setAddressBook:':
    'prefix': 'setAddressBook:'
    'body': 'setAddressBook(${1:ABAddressBookRef addressBook})'
  'setDisplayedPerson:':
    'prefix': 'setDisplayedPerson:'
    'body': 'setDisplayedPerson(${1:ABRecordRef displayedPerson})'
  'setNewPersonViewDelegate:':
    'prefix': 'setNewPersonViewDelegate:'
    'body': 'setNewPersonViewDelegate(${1:id newPersonViewDelegate})'
  'setParentGroup:':
    'prefix': 'setParentGroup:'
    'body': 'setParentGroup(${1:ABRecordRef parentGroup})'
  'addressBook':
    'prefix': 'addressBook'
    'body': 'addressBook()'
  'displayedProperties':
    'prefix': 'displayedProperties'
    'body': 'displayedProperties()'
  'peoplePickerDelegate':
    'prefix': 'peoplePickerDelegate'
    'body': 'peoplePickerDelegate()'
  'setAddressBook:':
    'prefix': 'setAddressBook:'
    'body': 'setAddressBook(${1:ABAddressBookRef addressBook})'
  'setDisplayedProperties:':
    'prefix': 'setDisplayedProperties:'
    'body': 'setDisplayedProperties(${1:NSArray* displayedProperties})'
  'setPeoplePickerDelegate:':
    'prefix': 'setPeoplePickerDelegate:'
    'body': 'setPeoplePickerDelegate(${1:id peoplePickerDelegate})'
  'addressBook':
    'prefix': 'addressBook'
    'body': 'addressBook()'
  'allowsActions':
    'prefix': 'allowsActions'
    'body': 'allowsActions()'
  'allowsEditing':
    'prefix': 'allowsEditing'
    'body': 'allowsEditing()'
  'displayedPerson':
    'prefix': 'displayedPerson'
    'body': 'displayedPerson()'
  'displayedProperties':
    'prefix': 'displayedProperties'
    'body': 'displayedProperties()'
  'personViewDelegate':
    'prefix': 'personViewDelegate'
    'body': 'personViewDelegate()'
  'setAddressBook:':
    'prefix': 'setAddressBook:'
    'body': 'setAddressBook(${1:ABAddressBookRef addressBook})'
  'setAllowsActions:':
    'prefix': 'setAllowsActions:'
    'body': 'setAllowsActions(${1:BOOL allowsActions})'
  'setAllowsEditing:':
    'prefix': 'setAllowsEditing:'
    'body': 'setAllowsEditing(${1:BOOL allowsEditing})'
  'setDisplayedPerson:':
    'prefix': 'setDisplayedPerson:'
    'body': 'setDisplayedPerson(${1:ABRecordRef displayedPerson})'
  'setDisplayedProperties:':
    'prefix': 'setDisplayedProperties:'
    'body': 'setDisplayedProperties(${1:NSArray* displayedProperties})'
  'setHighlightedItemForProperty:withIdentifier:':
    'prefix': 'setHighlightedItemForProperty:withIdentifier:'
    'body': 'setHighlightedItemForProperty(${1:ABPropertyID property}, withIdentifier:${2:ABMultiValueIdentifier identifier})'
  'setPersonViewDelegate:':
    'prefix': 'setPersonViewDelegate:'
    'body': 'setPersonViewDelegate(${1:id personViewDelegate})'
  'setShouldShowLinkedPeople:':
    'prefix': 'setShouldShowLinkedPeople:'
    'body': 'setShouldShowLinkedPeople(${1:BOOL shouldShowLinkedPeople})'
  'shouldShowLinkedPeople':
    'prefix': 'shouldShowLinkedPeople'
    'body': 'shouldShowLinkedPeople()'
  'addressBook':
    'prefix': 'addressBook'
    'body': 'addressBook()'
  'allowsActions':
    'prefix': 'allowsActions'
    'body': 'allowsActions()'
  'allowsAddingToAddressBook':
    'prefix': 'allowsAddingToAddressBook'
    'body': 'allowsAddingToAddressBook()'
  'alternateName':
    'prefix': 'alternateName'
    'body': 'alternateName()'
  'displayedPerson':
    'prefix': 'displayedPerson'
    'body': 'displayedPerson()'
  'message':
    'prefix': 'message'
    'body': 'message()'
  'setAddressBook:':
    'prefix': 'setAddressBook:'
    'body': 'setAddressBook(${1:ABAddressBookRef addressBook})'
  'setAllowsActions:':
    'prefix': 'setAllowsActions:'
    'body': 'setAllowsActions(${1:BOOL allowsActions})'
  'setAllowsAddingToAddressBook:':
    'prefix': 'setAllowsAddingToAddressBook:'
    'body': 'setAllowsAddingToAddressBook(${1:BOOL allowsAddingToAddressBook})'
  'setAlternateName:':
    'prefix': 'setAlternateName:'
    'body': 'setAlternateName(${1:NSString* alternateName})'
  'setDisplayedPerson:':
    'prefix': 'setDisplayedPerson:'
    'body': 'setDisplayedPerson(${1:ABRecordRef displayedPerson})'
  'setMessage:':
    'prefix': 'setMessage:'
    'body': 'setMessage(${1:NSString* message})'
  'setUnknownPersonViewDelegate:':
    'prefix': 'setUnknownPersonViewDelegate:'
    'body': 'setUnknownPersonViewDelegate(${1:id unknownPersonViewDelegate})'
  'unknownPersonViewDelegate':
    'prefix': 'unknownPersonViewDelegate'
    'body': 'unknownPersonViewDelegate()'
  'newPersonViewController:didCompleteWithNewPerson:':
    'prefix': 'newPersonViewController:didCompleteWithNewPerson:'
    'body': 'newPersonViewController(${1:ABNewPersonViewController* newPersonView}, didCompleteWithNewPerson:${2:ABRecordRef person})'
  'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:':
    'prefix': 'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:'
    'body': 'peoplePickerNavigationController(${1:ABPeoplePickerNavigationController* peoplePicker}, shouldContinueAfterSelectingPerson:${2:ABRecordRef person})'
  'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:property:identifier:':
    'prefix': 'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:property:identifier:'
    'body': 'peoplePickerNavigationController(${1:ABPeoplePickerNavigationController* peoplePicker}, shouldContinueAfterSelectingPerson:${2:ABRecordRef person}, property:${3:ABPropertyID property}, identifier:${4:ABMultiValueIdentifier identifier})'
  'peoplePickerNavigationControllerDidCancel:':
    'prefix': 'peoplePickerNavigationControllerDidCancel:'
    'body': 'peoplePickerNavigationControllerDidCancel(${1:ABPeoplePickerNavigationController* peoplePicker})'
  'personViewController:shouldPerformDefaultActionForPerson:property:identifier:':
    'prefix': 'personViewController:shouldPerformDefaultActionForPerson:property:identifier:'
    'body': 'personViewController(${1:ABPersonViewController* personViewController}, shouldPerformDefaultActionForPerson:${2:ABRecordRef person}, property:${3:ABPropertyID property}, identifier:${4:ABMultiValueIdentifier identifier})'
  'unknownPersonViewController:didResolveToPerson:':
    'prefix': 'unknownPersonViewController:didResolveToPerson:'
    'body': 'unknownPersonViewController(${1:ABUnknownPersonViewController* unknownCardViewController}, didResolveToPerson:${2:ABRecordRef person})'
  'unknownPersonViewController:shouldPerformDefaultActionForPerson:property:identifier:':
    'prefix': 'unknownPersonViewController:shouldPerformDefaultActionForPerson:property:identifier:'
    'body': 'unknownPersonViewController(${1:ABUnknownPersonViewController* personViewController}, shouldPerformDefaultActionForPerson:${2:ABRecordRef person}, property:${3:ABPropertyID property}, identifier:${4:ABMultiValueIdentifier identifier})'
  'newPersonViewController:didCompleteWithNewPerson:':
    'prefix': 'newPersonViewController:didCompleteWithNewPerson:'
    'body': 'newPersonViewController(${1:ABNewPersonViewController* newPersonView}, didCompleteWithNewPerson:${2:ABRecordRef person})'
  'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:':
    'prefix': 'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:'
    'body': 'peoplePickerNavigationController(${1:ABPeoplePickerNavigationController* peoplePicker}, shouldContinueAfterSelectingPerson:${2:ABRecordRef person})'
  'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:property:identifier:':
    'prefix': 'peoplePickerNavigationController:shouldContinueAfterSelectingPerson:property:identifier:'
    'body': 'peoplePickerNavigationController(${1:ABPeoplePickerNavigationController* peoplePicker}, shouldContinueAfterSelectingPerson:${2:ABRecordRef person}, property:${3:ABPropertyID property}, identifier:${4:ABMultiValueIdentifier identifier})'
  'peoplePickerNavigationControllerDidCancel:':
    'prefix': 'peoplePickerNavigationControllerDidCancel:'
    'body': 'peoplePickerNavigationControllerDidCancel(${1:ABPeoplePickerNavigationController* peoplePicker})'
  'personViewController:shouldPerformDefaultActionForPerson:property:identifier:':
    'prefix': 'personViewController:shouldPerformDefaultActionForPerson:property:identifier:'
    'body': 'personViewController(${1:ABPersonViewController* personViewController}, shouldPerformDefaultActionForPerson:${2:ABRecordRef person}, property:${3:ABPropertyID property}, identifier:${4:ABMultiValueIdentifier identifier})'
  'unknownPersonViewController:didResolveToPerson:':
    'prefix': 'unknownPersonViewController:didResolveToPerson:'
    'body': 'unknownPersonViewController(${1:ABUnknownPersonViewController* unknownCardViewController}, didResolveToPerson:${2:ABRecordRef person})'
  'unknownPersonViewController:shouldPerformDefaultActionForPerson:property:identifier:':
    'prefix': 'unknownPersonViewController:shouldPerformDefaultActionForPerson:property:identifier:'
    'body': 'unknownPersonViewController(${1:ABUnknownPersonViewController* personViewController}, shouldPerformDefaultActionForPerson:${2:ABRecordRef person}, property:${3:ABPropertyID property}, identifier:${4:ABMultiValueIdentifier identifier})'
