'.source.rubymotion':
  'ABAddressBookErrorDomain (CFStringRef)':
    'prefix': 'ABAddressBookErrorDomain'
    'body': 'ABAddressBookErrorDomain'
  'kABGroupNameProperty (int)':
    'prefix': 'kABGroupNameProperty'
    'body': 'KABGroupNameProperty'
  'kABHomeLabel (CFStringRef)':
    'prefix': 'kABHomeLabel'
    'body': 'KABHomeLabel'
  'kABOtherLabel (CFStringRef)':
    'prefix': 'kABOtherLabel'
    'body': 'KABOtherLabel'
  'kABPersonAddressCityKey (CFStringRef)':
    'prefix': 'kABPersonAddressCityKey'
    'body': 'KABPersonAddressCityKey'
  'kABPersonAddressCountryCodeKey (CFStringRef)':
    'prefix': 'kABPersonAddressCountryCodeKey'
    'body': 'KABPersonAddressCountryCodeKey'
  'kABPersonAddressCountryKey (CFStringRef)':
    'prefix': 'kABPersonAddressCountryKey'
    'body': 'KABPersonAddressCountryKey'
  'kABPersonAddressProperty (ABPropertyID)':
    'prefix': 'kABPersonAddressProperty'
    'body': 'KABPersonAddressProperty'
  'kABPersonAddressStateKey (CFStringRef)':
    'prefix': 'kABPersonAddressStateKey'
    'body': 'KABPersonAddressStateKey'
  'kABPersonAddressStreetKey (CFStringRef)':
    'prefix': 'kABPersonAddressStreetKey'
    'body': 'KABPersonAddressStreetKey'
  'kABPersonAddressZIPKey (CFStringRef)':
    'prefix': 'kABPersonAddressZIPKey'
    'body': 'KABPersonAddressZIPKey'
  'kABPersonAnniversaryLabel (CFStringRef)':
    'prefix': 'kABPersonAnniversaryLabel'
    'body': 'KABPersonAnniversaryLabel'
  'kABPersonAssistantLabel (CFStringRef)':
    'prefix': 'kABPersonAssistantLabel'
    'body': 'KABPersonAssistantLabel'
  'kABPersonBirthdayProperty (ABPropertyID)':
    'prefix': 'kABPersonBirthdayProperty'
    'body': 'KABPersonBirthdayProperty'
  'kABPersonBrotherLabel (CFStringRef)':
    'prefix': 'kABPersonBrotherLabel'
    'body': 'KABPersonBrotherLabel'
  'kABPersonChildLabel (CFStringRef)':
    'prefix': 'kABPersonChildLabel'
    'body': 'KABPersonChildLabel'
  'kABPersonCreationDateProperty (ABPropertyID)':
    'prefix': 'kABPersonCreationDateProperty'
    'body': 'KABPersonCreationDateProperty'
  'kABPersonDateProperty (ABPropertyID)':
    'prefix': 'kABPersonDateProperty'
    'body': 'KABPersonDateProperty'
  'kABPersonDepartmentProperty (ABPropertyID)':
    'prefix': 'kABPersonDepartmentProperty'
    'body': 'KABPersonDepartmentProperty'
  'kABPersonEmailProperty (ABPropertyID)':
    'prefix': 'kABPersonEmailProperty'
    'body': 'KABPersonEmailProperty'
  'kABPersonFatherLabel (CFStringRef)':
    'prefix': 'kABPersonFatherLabel'
    'body': 'KABPersonFatherLabel'
  'kABPersonFirstNamePhoneticProperty (ABPropertyID)':
    'prefix': 'kABPersonFirstNamePhoneticProperty'
    'body': 'KABPersonFirstNamePhoneticProperty'
  'kABPersonFirstNameProperty (ABPropertyID)':
    'prefix': 'kABPersonFirstNameProperty'
    'body': 'KABPersonFirstNameProperty'
  'kABPersonFriendLabel (CFStringRef)':
    'prefix': 'kABPersonFriendLabel'
    'body': 'KABPersonFriendLabel'
  'kABPersonHomePageLabel (CFStringRef)':
    'prefix': 'kABPersonHomePageLabel'
    'body': 'KABPersonHomePageLabel'
  'kABPersonInstantMessageProperty (ABPropertyID)':
    'prefix': 'kABPersonInstantMessageProperty'
    'body': 'KABPersonInstantMessageProperty'
  'kABPersonInstantMessageServiceAIM (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceAIM'
    'body': 'KABPersonInstantMessageServiceAIM'
  'kABPersonInstantMessageServiceFacebook (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceFacebook'
    'body': 'KABPersonInstantMessageServiceFacebook'
  'kABPersonInstantMessageServiceGaduGadu (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceGaduGadu'
    'body': 'KABPersonInstantMessageServiceGaduGadu'
  'kABPersonInstantMessageServiceGoogleTalk (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceGoogleTalk'
    'body': 'KABPersonInstantMessageServiceGoogleTalk'
  'kABPersonInstantMessageServiceICQ (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceICQ'
    'body': 'KABPersonInstantMessageServiceICQ'
  'kABPersonInstantMessageServiceJabber (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceJabber'
    'body': 'KABPersonInstantMessageServiceJabber'
  'kABPersonInstantMessageServiceKey (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceKey'
    'body': 'KABPersonInstantMessageServiceKey'
  'kABPersonInstantMessageServiceMSN (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceMSN'
    'body': 'KABPersonInstantMessageServiceMSN'
  'kABPersonInstantMessageServiceQQ (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceQQ'
    'body': 'KABPersonInstantMessageServiceQQ'
  'kABPersonInstantMessageServiceSkype (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceSkype'
    'body': 'KABPersonInstantMessageServiceSkype'
  'kABPersonInstantMessageServiceYahoo (CFStringRef)':
    'prefix': 'kABPersonInstantMessageServiceYahoo'
    'body': 'KABPersonInstantMessageServiceYahoo'
  'kABPersonInstantMessageUsernameKey (CFStringRef)':
    'prefix': 'kABPersonInstantMessageUsernameKey'
    'body': 'KABPersonInstantMessageUsernameKey'
  'kABPersonJobTitleProperty (ABPropertyID)':
    'prefix': 'kABPersonJobTitleProperty'
    'body': 'KABPersonJobTitleProperty'
  'kABPersonKindOrganization (CFNumberRef)':
    'prefix': 'kABPersonKindOrganization'
    'body': 'KABPersonKindOrganization'
  'kABPersonKindPerson (CFNumberRef)':
    'prefix': 'kABPersonKindPerson'
    'body': 'KABPersonKindPerson'
  'kABPersonKindProperty (ABPropertyID)':
    'prefix': 'kABPersonKindProperty'
    'body': 'KABPersonKindProperty'
  'kABPersonLastNamePhoneticProperty (ABPropertyID)':
    'prefix': 'kABPersonLastNamePhoneticProperty'
    'body': 'KABPersonLastNamePhoneticProperty'
  'kABPersonLastNameProperty (ABPropertyID)':
    'prefix': 'kABPersonLastNameProperty'
    'body': 'KABPersonLastNameProperty'
  'kABPersonManagerLabel (CFStringRef)':
    'prefix': 'kABPersonManagerLabel'
    'body': 'KABPersonManagerLabel'
  'kABPersonMiddleNamePhoneticProperty (ABPropertyID)':
    'prefix': 'kABPersonMiddleNamePhoneticProperty'
    'body': 'KABPersonMiddleNamePhoneticProperty'
  'kABPersonMiddleNameProperty (ABPropertyID)':
    'prefix': 'kABPersonMiddleNameProperty'
    'body': 'KABPersonMiddleNameProperty'
  'kABPersonModificationDateProperty (ABPropertyID)':
    'prefix': 'kABPersonModificationDateProperty'
    'body': 'KABPersonModificationDateProperty'
  'kABPersonMotherLabel (CFStringRef)':
    'prefix': 'kABPersonMotherLabel'
    'body': 'KABPersonMotherLabel'
  'kABPersonNicknameProperty (ABPropertyID)':
    'prefix': 'kABPersonNicknameProperty'
    'body': 'KABPersonNicknameProperty'
  'kABPersonNoteProperty (ABPropertyID)':
    'prefix': 'kABPersonNoteProperty'
    'body': 'KABPersonNoteProperty'
  'kABPersonOrganizationProperty (ABPropertyID)':
    'prefix': 'kABPersonOrganizationProperty'
    'body': 'KABPersonOrganizationProperty'
  'kABPersonParentLabel (CFStringRef)':
    'prefix': 'kABPersonParentLabel'
    'body': 'KABPersonParentLabel'
  'kABPersonPartnerLabel (CFStringRef)':
    'prefix': 'kABPersonPartnerLabel'
    'body': 'KABPersonPartnerLabel'
  'kABPersonPhoneHomeFAXLabel (CFStringRef)':
    'prefix': 'kABPersonPhoneHomeFAXLabel'
    'body': 'KABPersonPhoneHomeFAXLabel'
  'kABPersonPhoneIPhoneLabel (CFStringRef)':
    'prefix': 'kABPersonPhoneIPhoneLabel'
    'body': 'KABPersonPhoneIPhoneLabel'
  'kABPersonPhoneMainLabel (CFStringRef)':
    'prefix': 'kABPersonPhoneMainLabel'
    'body': 'KABPersonPhoneMainLabel'
  'kABPersonPhoneMobileLabel (CFStringRef)':
    'prefix': 'kABPersonPhoneMobileLabel'
    'body': 'KABPersonPhoneMobileLabel'
  'kABPersonPhoneOtherFAXLabel (CFStringRef)':
    'prefix': 'kABPersonPhoneOtherFAXLabel'
    'body': 'KABPersonPhoneOtherFAXLabel'
  'kABPersonPhonePagerLabel (CFStringRef)':
    'prefix': 'kABPersonPhonePagerLabel'
    'body': 'KABPersonPhonePagerLabel'
  'kABPersonPhoneProperty (ABPropertyID)':
    'prefix': 'kABPersonPhoneProperty'
    'body': 'KABPersonPhoneProperty'
  'kABPersonPhoneWorkFAXLabel (CFStringRef)':
    'prefix': 'kABPersonPhoneWorkFAXLabel'
    'body': 'KABPersonPhoneWorkFAXLabel'
  'kABPersonPrefixProperty (ABPropertyID)':
    'prefix': 'kABPersonPrefixProperty'
    'body': 'KABPersonPrefixProperty'
  'kABPersonRelatedNamesProperty (ABPropertyID)':
    'prefix': 'kABPersonRelatedNamesProperty'
    'body': 'KABPersonRelatedNamesProperty'
  'kABPersonSisterLabel (CFStringRef)':
    'prefix': 'kABPersonSisterLabel'
    'body': 'KABPersonSisterLabel'
  'kABPersonSocialProfileProperty (ABPropertyID)':
    'prefix': 'kABPersonSocialProfileProperty'
    'body': 'KABPersonSocialProfileProperty'
  'kABPersonSocialProfileServiceFacebook (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceFacebook'
    'body': 'KABPersonSocialProfileServiceFacebook'
  'kABPersonSocialProfileServiceFlickr (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceFlickr'
    'body': 'KABPersonSocialProfileServiceFlickr'
  'kABPersonSocialProfileServiceGameCenter (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceGameCenter'
    'body': 'KABPersonSocialProfileServiceGameCenter'
  'kABPersonSocialProfileServiceKey (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceKey'
    'body': 'KABPersonSocialProfileServiceKey'
  'kABPersonSocialProfileServiceLinkedIn (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceLinkedIn'
    'body': 'KABPersonSocialProfileServiceLinkedIn'
  'kABPersonSocialProfileServiceMyspace (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceMyspace'
    'body': 'KABPersonSocialProfileServiceMyspace'
  'kABPersonSocialProfileServiceSinaWeibo (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceSinaWeibo'
    'body': 'KABPersonSocialProfileServiceSinaWeibo'
  'kABPersonSocialProfileServiceTwitter (CFStringRef)':
    'prefix': 'kABPersonSocialProfileServiceTwitter'
    'body': 'KABPersonSocialProfileServiceTwitter'
  'kABPersonSocialProfileURLKey (CFStringRef)':
    'prefix': 'kABPersonSocialProfileURLKey'
    'body': 'KABPersonSocialProfileURLKey'
  'kABPersonSocialProfileUserIdentifierKey (CFStringRef)':
    'prefix': 'kABPersonSocialProfileUserIdentifierKey'
    'body': 'KABPersonSocialProfileUserIdentifierKey'
  'kABPersonSocialProfileUsernameKey (CFStringRef)':
    'prefix': 'kABPersonSocialProfileUsernameKey'
    'body': 'KABPersonSocialProfileUsernameKey'
  'kABPersonSpouseLabel (CFStringRef)':
    'prefix': 'kABPersonSpouseLabel'
    'body': 'KABPersonSpouseLabel'
  'kABPersonSuffixProperty (ABPropertyID)':
    'prefix': 'kABPersonSuffixProperty'
    'body': 'KABPersonSuffixProperty'
  'kABPersonURLProperty (ABPropertyID)':
    'prefix': 'kABPersonURLProperty'
    'body': 'KABPersonURLProperty'
  'kABSourceNameProperty (ABPropertyID)':
    'prefix': 'kABSourceNameProperty'
    'body': 'KABSourceNameProperty'
  'kABSourceTypeProperty (ABPropertyID)':
    'prefix': 'kABSourceTypeProperty'
    'body': 'KABSourceTypeProperty'
  'kABWorkLabel (CFStringRef)':
    'prefix': 'kABWorkLabel'
    'body': 'KABWorkLabel'
  'kABAuthorizationStatusAuthorized (3)':
    'prefix': 'kABAuthorizationStatusAuthorized'
    'body': 'KABAuthorizationStatusAuthorized'
  'kABAuthorizationStatusDenied (2)':
    'prefix': 'kABAuthorizationStatusDenied'
    'body': 'KABAuthorizationStatusDenied'
  'kABAuthorizationStatusNotDetermined (0)':
    'prefix': 'kABAuthorizationStatusNotDetermined'
    'body': 'KABAuthorizationStatusNotDetermined'
  'kABAuthorizationStatusRestricted (1)':
    'prefix': 'kABAuthorizationStatusRestricted'
    'body': 'KABAuthorizationStatusRestricted'
  'kABDateTimePropertyType (4)':
    'prefix': 'kABDateTimePropertyType'
    'body': 'KABDateTimePropertyType'
  'kABDictionaryPropertyType (5)':
    'prefix': 'kABDictionaryPropertyType'
    'body': 'KABDictionaryPropertyType'
  'kABGroupType (1)':
    'prefix': 'kABGroupType'
    'body': 'KABGroupType'
  'kABIntegerPropertyType (2)':
    'prefix': 'kABIntegerPropertyType'
    'body': 'KABIntegerPropertyType'
  'kABInvalidPropertyType (0)':
    'prefix': 'kABInvalidPropertyType'
    'body': 'KABInvalidPropertyType'
  'kABMultiDateTimePropertyType (260)':
    'prefix': 'kABMultiDateTimePropertyType'
    'body': 'KABMultiDateTimePropertyType'
  'kABMultiDictionaryPropertyType (261)':
    'prefix': 'kABMultiDictionaryPropertyType'
    'body': 'KABMultiDictionaryPropertyType'
  'kABMultiIntegerPropertyType (258)':
    'prefix': 'kABMultiIntegerPropertyType'
    'body': 'KABMultiIntegerPropertyType'
  'kABMultiRealPropertyType (259)':
    'prefix': 'kABMultiRealPropertyType'
    'body': 'KABMultiRealPropertyType'
  'kABMultiStringPropertyType (257)':
    'prefix': 'kABMultiStringPropertyType'
    'body': 'KABMultiStringPropertyType'
  'kABMultiValueInvalidIdentifier (-1)':
    'prefix': 'kABMultiValueInvalidIdentifier'
    'body': 'KABMultiValueInvalidIdentifier'
  'kABMultiValueMask (256)':
    'prefix': 'kABMultiValueMask'
    'body': 'KABMultiValueMask'
  'kABOperationNotPermittedByStoreError (0)':
    'prefix': 'kABOperationNotPermittedByStoreError'
    'body': 'KABOperationNotPermittedByStoreError'
  'kABOperationNotPermittedByUserError (1)':
    'prefix': 'kABOperationNotPermittedByUserError'
    'body': 'KABOperationNotPermittedByUserError'
  'kABPersonCompositeNameFormatFirstNameFirst (0)':
    'prefix': 'kABPersonCompositeNameFormatFirstNameFirst'
    'body': 'KABPersonCompositeNameFormatFirstNameFirst'
  'kABPersonCompositeNameFormatLastNameFirst (1)':
    'prefix': 'kABPersonCompositeNameFormatLastNameFirst'
    'body': 'KABPersonCompositeNameFormatLastNameFirst'
  'kABPersonImageFormatOriginalSize (2)':
    'prefix': 'kABPersonImageFormatOriginalSize'
    'body': 'KABPersonImageFormatOriginalSize'
  'kABPersonImageFormatThumbnail (0)':
    'prefix': 'kABPersonImageFormatThumbnail'
    'body': 'KABPersonImageFormatThumbnail'
  'kABPersonSortByFirstName (0)':
    'prefix': 'kABPersonSortByFirstName'
    'body': 'KABPersonSortByFirstName'
  'kABPersonSortByLastName (1)':
    'prefix': 'kABPersonSortByLastName'
    'body': 'KABPersonSortByLastName'
  'kABPersonType (0)':
    'prefix': 'kABPersonType'
    'body': 'KABPersonType'
  'kABPropertyInvalidID (-1)':
    'prefix': 'kABPropertyInvalidID'
    'body': 'KABPropertyInvalidID'
  'kABRealPropertyType (3)':
    'prefix': 'kABRealPropertyType'
    'body': 'KABRealPropertyType'
  'kABRecordInvalidID (-1)':
    'prefix': 'kABRecordInvalidID'
    'body': 'KABRecordInvalidID'
  'kABSourceType (2)':
    'prefix': 'kABSourceType'
    'body': 'KABSourceType'
  'kABSourceTypeCardDAV (4)':
    'prefix': 'kABSourceTypeCardDAV'
    'body': 'KABSourceTypeCardDAV'
  'kABSourceTypeCardDAVSearch (16777220)':
    'prefix': 'kABSourceTypeCardDAVSearch'
    'body': 'KABSourceTypeCardDAVSearch'
  'kABSourceTypeExchange (1)':
    'prefix': 'kABSourceTypeExchange'
    'body': 'KABSourceTypeExchange'
  'kABSourceTypeExchangeGAL (16777217)':
    'prefix': 'kABSourceTypeExchangeGAL'
    'body': 'KABSourceTypeExchangeGAL'
  'kABSourceTypeLDAP (16777219)':
    'prefix': 'kABSourceTypeLDAP'
    'body': 'KABSourceTypeLDAP'
  'kABSourceTypeLocal (0)':
    'prefix': 'kABSourceTypeLocal'
    'body': 'KABSourceTypeLocal'
  'kABSourceTypeMobileMe (2)':
    'prefix': 'kABSourceTypeMobileMe'
    'body': 'KABSourceTypeMobileMe'
  'kABSourceTypeSearchableMask (16777216)':
    'prefix': 'kABSourceTypeSearchableMask'
    'body': 'KABSourceTypeSearchableMask'
  'kABStringPropertyType (1)':
    'prefix': 'kABStringPropertyType'
    'body': 'KABStringPropertyType'
  'ABAddressBookAddRecord':
    'prefix': 'ABAddressBookAddRecord'
    'body': 'ABAddressBookAddRecord(${1:ABAddressBookRef addressBook}, ${2:ABRecordRef record}, ${3:CFErrorRef* error})'
  'ABAddressBookCopyArrayOfAllGroups':
    'prefix': 'ABAddressBookCopyArrayOfAllGroups'
    'body': 'ABAddressBookCopyArrayOfAllGroups(${1:ABAddressBookRef addressBook})'
  'ABAddressBookCopyArrayOfAllGroupsInSource':
    'prefix': 'ABAddressBookCopyArrayOfAllGroupsInSource'
    'body': 'ABAddressBookCopyArrayOfAllGroupsInSource(${1:ABAddressBookRef addressBook}, ${2:ABRecordRef source})'
  'ABAddressBookCopyArrayOfAllPeople':
    'prefix': 'ABAddressBookCopyArrayOfAllPeople'
    'body': 'ABAddressBookCopyArrayOfAllPeople(${1:ABAddressBookRef addressBook})'
  'ABAddressBookCopyArrayOfAllPeopleInSource':
    'prefix': 'ABAddressBookCopyArrayOfAllPeopleInSource'
    'body': 'ABAddressBookCopyArrayOfAllPeopleInSource(${1:ABAddressBookRef addressBook}, ${2:ABRecordRef source})'
  'ABAddressBookCopyArrayOfAllPeopleInSourceWithSortOrdering':
    'prefix': 'ABAddressBookCopyArrayOfAllPeopleInSourceWithSortOrdering'
    'body': 'ABAddressBookCopyArrayOfAllPeopleInSourceWithSortOrdering(${1:ABAddressBookRef addressBook}, ${2:ABRecordRef source}, ${3:ABPersonSortOrdering sortOrdering})'
  'ABAddressBookCopyArrayOfAllSources':
    'prefix': 'ABAddressBookCopyArrayOfAllSources'
    'body': 'ABAddressBookCopyArrayOfAllSources(${1:ABAddressBookRef addressBook})'
  'ABAddressBookCopyDefaultSource':
    'prefix': 'ABAddressBookCopyDefaultSource'
    'body': 'ABAddressBookCopyDefaultSource(${1:ABAddressBookRef addressBook})'
  'ABAddressBookCopyLocalizedLabel':
    'prefix': 'ABAddressBookCopyLocalizedLabel'
    'body': 'ABAddressBookCopyLocalizedLabel(${1:CFStringRef label})'
  'ABAddressBookCopyPeopleWithName':
    'prefix': 'ABAddressBookCopyPeopleWithName'
    'body': 'ABAddressBookCopyPeopleWithName(${1:ABAddressBookRef addressBook}, ${2:CFStringRef name})'
  'ABAddressBookCreate':
    'prefix': 'ABAddressBookCreate'
    'body': 'ABAddressBookCreate()'
  'ABAddressBookCreateWithOptions':
    'prefix': 'ABAddressBookCreateWithOptions'
    'body': 'ABAddressBookCreateWithOptions(${1:CFDictionaryRef options}, ${2:CFErrorRef* error})'
  'ABAddressBookGetAuthorizationStatus':
    'prefix': 'ABAddressBookGetAuthorizationStatus'
    'body': 'ABAddressBookGetAuthorizationStatus()'
  'ABAddressBookGetGroupCount':
    'prefix': 'ABAddressBookGetGroupCount'
    'body': 'ABAddressBookGetGroupCount(${1:ABAddressBookRef addressBook})'
  'ABAddressBookGetGroupWithRecordID':
    'prefix': 'ABAddressBookGetGroupWithRecordID'
    'body': 'ABAddressBookGetGroupWithRecordID(${1:ABAddressBookRef addressBook}, ${2:ABRecordID recordID})'
  'ABAddressBookGetPersonCount':
    'prefix': 'ABAddressBookGetPersonCount'
    'body': 'ABAddressBookGetPersonCount(${1:ABAddressBookRef addressBook})'
  'ABAddressBookGetPersonWithRecordID':
    'prefix': 'ABAddressBookGetPersonWithRecordID'
    'body': 'ABAddressBookGetPersonWithRecordID(${1:ABAddressBookRef addressBook}, ${2:ABRecordID recordID})'
  'ABAddressBookGetSourceWithRecordID':
    'prefix': 'ABAddressBookGetSourceWithRecordID'
    'body': 'ABAddressBookGetSourceWithRecordID(${1:ABAddressBookRef addressBook}, ${2:ABRecordID sourceID})'
  'ABAddressBookHasUnsavedChanges':
    'prefix': 'ABAddressBookHasUnsavedChanges'
    'body': 'ABAddressBookHasUnsavedChanges(${1:ABAddressBookRef addressBook})'
  'ABAddressBookRegisterExternalChangeCallback':
    'prefix': 'ABAddressBookRegisterExternalChangeCallback'
    'body': 'ABAddressBookRegisterExternalChangeCallback(${1:ABAddressBookRef addressBook}, ${2:ABExternalChangeCallback callback}, ${3:void* context})'
  'ABAddressBookRemoveRecord':
    'prefix': 'ABAddressBookRemoveRecord'
    'body': 'ABAddressBookRemoveRecord(${1:ABAddressBookRef addressBook}, ${2:ABRecordRef record}, ${3:CFErrorRef* error})'
  'ABAddressBookRequestAccessWithCompletion':
    'prefix': 'ABAddressBookRequestAccessWithCompletion'
    'body': 'ABAddressBookRequestAccessWithCompletion(${1:ABAddressBookRef addressBook}, ${2:ABAddressBookRequestAccessCompletionHandler completion})'
  'ABAddressBookRevert':
    'prefix': 'ABAddressBookRevert'
    'body': 'ABAddressBookRevert(${1:ABAddressBookRef addressBook})'
  'ABAddressBookSave':
    'prefix': 'ABAddressBookSave'
    'body': 'ABAddressBookSave(${1:ABAddressBookRef addressBook}, ${2:CFErrorRef* error})'
  'ABAddressBookUnregisterExternalChangeCallback':
    'prefix': 'ABAddressBookUnregisterExternalChangeCallback'
    'body': 'ABAddressBookUnregisterExternalChangeCallback(${1:ABAddressBookRef addressBook}, ${2:ABExternalChangeCallback callback}, ${3:void* context})'
  'ABGroupAddMember':
    'prefix': 'ABGroupAddMember'
    'body': 'ABGroupAddMember(${1:ABRecordRef group}, ${2:ABRecordRef person}, ${3:CFErrorRef* error})'
  'ABGroupCopyArrayOfAllMembers':
    'prefix': 'ABGroupCopyArrayOfAllMembers'
    'body': 'ABGroupCopyArrayOfAllMembers(${1:ABRecordRef group})'
  'ABGroupCopyArrayOfAllMembersWithSortOrdering':
    'prefix': 'ABGroupCopyArrayOfAllMembersWithSortOrdering'
    'body': 'ABGroupCopyArrayOfAllMembersWithSortOrdering(${1:ABRecordRef group}, ${2:ABPersonSortOrdering sortOrdering})'
  'ABGroupCopySource':
    'prefix': 'ABGroupCopySource'
    'body': 'ABGroupCopySource(${1:ABRecordRef group})'
  'ABGroupCreate':
    'prefix': 'ABGroupCreate'
    'body': 'ABGroupCreate()'
  'ABGroupCreateInSource':
    'prefix': 'ABGroupCreateInSource'
    'body': 'ABGroupCreateInSource(${1:ABRecordRef source})'
  'ABGroupRemoveMember':
    'prefix': 'ABGroupRemoveMember'
    'body': 'ABGroupRemoveMember(${1:ABRecordRef group}, ${2:ABRecordRef member}, ${3:CFErrorRef* error})'
  'ABMultiValueAddValueAndLabel':
    'prefix': 'ABMultiValueAddValueAndLabel'
    'body': 'ABMultiValueAddValueAndLabel(${1:ABMutableMultiValueRef multiValue}, ${2:CFTypeRef value}, ${3:CFStringRef label}, ${4:ABMultiValueIdentifier* outIdentifier})'
  'ABMultiValueCopyArrayOfAllValues':
    'prefix': 'ABMultiValueCopyArrayOfAllValues'
    'body': 'ABMultiValueCopyArrayOfAllValues(${1:ABMultiValueRef multiValue})'
  'ABMultiValueCopyLabelAtIndex':
    'prefix': 'ABMultiValueCopyLabelAtIndex'
    'body': 'ABMultiValueCopyLabelAtIndex(${1:ABMultiValueRef multiValue}, ${2:CFIndex index})'
  'ABMultiValueCopyValueAtIndex':
    'prefix': 'ABMultiValueCopyValueAtIndex'
    'body': 'ABMultiValueCopyValueAtIndex(${1:ABMultiValueRef multiValue}, ${2:CFIndex index})'
  'ABMultiValueCreateMutable':
    'prefix': 'ABMultiValueCreateMutable'
    'body': 'ABMultiValueCreateMutable(${1:ABPropertyType type})'
  'ABMultiValueCreateMutableCopy':
    'prefix': 'ABMultiValueCreateMutableCopy'
    'body': 'ABMultiValueCreateMutableCopy(${1:ABMultiValueRef multiValue})'
  'ABMultiValueGetCount':
    'prefix': 'ABMultiValueGetCount'
    'body': 'ABMultiValueGetCount(${1:ABMultiValueRef multiValue})'
  'ABMultiValueGetFirstIndexOfValue':
    'prefix': 'ABMultiValueGetFirstIndexOfValue'
    'body': 'ABMultiValueGetFirstIndexOfValue(${1:ABMultiValueRef multiValue}, ${2:CFTypeRef value})'
  'ABMultiValueGetIdentifierAtIndex':
    'prefix': 'ABMultiValueGetIdentifierAtIndex'
    'body': 'ABMultiValueGetIdentifierAtIndex(${1:ABMultiValueRef multiValue}, ${2:CFIndex index})'
  'ABMultiValueGetIndexForIdentifier':
    'prefix': 'ABMultiValueGetIndexForIdentifier'
    'body': 'ABMultiValueGetIndexForIdentifier(${1:ABMultiValueRef multiValue}, ${2:ABMultiValueIdentifier identifier})'
  'ABMultiValueGetPropertyType':
    'prefix': 'ABMultiValueGetPropertyType'
    'body': 'ABMultiValueGetPropertyType(${1:ABMultiValueRef multiValue})'
  'ABMultiValueInsertValueAndLabelAtIndex':
    'prefix': 'ABMultiValueInsertValueAndLabelAtIndex'
    'body': 'ABMultiValueInsertValueAndLabelAtIndex(${1:ABMutableMultiValueRef multiValue}, ${2:CFTypeRef value}, ${3:CFStringRef label}, ${4:CFIndex index}, ${5:ABMultiValueIdentifier* outIdentifier})'
  'ABMultiValueRemoveValueAndLabelAtIndex':
    'prefix': 'ABMultiValueRemoveValueAndLabelAtIndex'
    'body': 'ABMultiValueRemoveValueAndLabelAtIndex(${1:ABMutableMultiValueRef multiValue}, ${2:CFIndex index})'
  'ABMultiValueReplaceLabelAtIndex':
    'prefix': 'ABMultiValueReplaceLabelAtIndex'
    'body': 'ABMultiValueReplaceLabelAtIndex(${1:ABMutableMultiValueRef multiValue}, ${2:CFStringRef label}, ${3:CFIndex index})'
  'ABMultiValueReplaceValueAtIndex':
    'prefix': 'ABMultiValueReplaceValueAtIndex'
    'body': 'ABMultiValueReplaceValueAtIndex(${1:ABMutableMultiValueRef multiValue}, ${2:CFTypeRef value}, ${3:CFIndex index})'
  'ABPersonComparePeopleByName':
    'prefix': 'ABPersonComparePeopleByName'
    'body': 'ABPersonComparePeopleByName(${1:ABRecordRef person1}, ${2:ABRecordRef person2}, ${3:ABPersonSortOrdering ordering})'
  'ABPersonCopyArrayOfAllLinkedPeople':
    'prefix': 'ABPersonCopyArrayOfAllLinkedPeople'
    'body': 'ABPersonCopyArrayOfAllLinkedPeople(${1:ABRecordRef person})'
  'ABPersonCopyCompositeNameDelimiterForRecord':
    'prefix': 'ABPersonCopyCompositeNameDelimiterForRecord'
    'body': 'ABPersonCopyCompositeNameDelimiterForRecord(${1:ABRecordRef record})'
  'ABPersonCopyImageData':
    'prefix': 'ABPersonCopyImageData'
    'body': 'ABPersonCopyImageData(${1:ABRecordRef person})'
  'ABPersonCopyImageDataWithFormat':
    'prefix': 'ABPersonCopyImageDataWithFormat'
    'body': 'ABPersonCopyImageDataWithFormat(${1:ABRecordRef person}, ${2:ABPersonImageFormat format})'
  'ABPersonCopyLocalizedPropertyName':
    'prefix': 'ABPersonCopyLocalizedPropertyName'
    'body': 'ABPersonCopyLocalizedPropertyName(${1:ABPropertyID property})'
  'ABPersonCopySource':
    'prefix': 'ABPersonCopySource'
    'body': 'ABPersonCopySource(${1:ABRecordRef person})'
  'ABPersonCreate':
    'prefix': 'ABPersonCreate'
    'body': 'ABPersonCreate()'
  'ABPersonCreateInSource':
    'prefix': 'ABPersonCreateInSource'
    'body': 'ABPersonCreateInSource(${1:ABRecordRef source})'
  'ABPersonCreatePeopleInSourceWithVCardRepresentation':
    'prefix': 'ABPersonCreatePeopleInSourceWithVCardRepresentation'
    'body': 'ABPersonCreatePeopleInSourceWithVCardRepresentation(${1:ABRecordRef source}, ${2:CFDataRef vCardData})'
  'ABPersonCreateVCardRepresentationWithPeople':
    'prefix': 'ABPersonCreateVCardRepresentationWithPeople'
    'body': 'ABPersonCreateVCardRepresentationWithPeople(${1:CFArrayRef people})'
  'ABPersonGetCompositeNameFormat':
    'prefix': 'ABPersonGetCompositeNameFormat'
    'body': 'ABPersonGetCompositeNameFormat()'
  'ABPersonGetCompositeNameFormatForRecord':
    'prefix': 'ABPersonGetCompositeNameFormatForRecord'
    'body': 'ABPersonGetCompositeNameFormatForRecord(${1:ABRecordRef record})'
  'ABPersonGetSortOrdering':
    'prefix': 'ABPersonGetSortOrdering'
    'body': 'ABPersonGetSortOrdering()'
  'ABPersonGetTypeOfProperty':
    'prefix': 'ABPersonGetTypeOfProperty'
    'body': 'ABPersonGetTypeOfProperty(${1:ABPropertyID property})'
  'ABPersonHasImageData':
    'prefix': 'ABPersonHasImageData'
    'body': 'ABPersonHasImageData(${1:ABRecordRef person})'
  'ABPersonRemoveImageData':
    'prefix': 'ABPersonRemoveImageData'
    'body': 'ABPersonRemoveImageData(${1:ABRecordRef person}, ${2:CFErrorRef* error})'
  'ABPersonSetImageData':
    'prefix': 'ABPersonSetImageData'
    'body': 'ABPersonSetImageData(${1:ABRecordRef person}, ${2:CFDataRef imageData}, ${3:CFErrorRef* error})'
  'ABRecordCopyCompositeName':
    'prefix': 'ABRecordCopyCompositeName'
    'body': 'ABRecordCopyCompositeName(${1:ABRecordRef record})'
  'ABRecordCopyValue':
    'prefix': 'ABRecordCopyValue'
    'body': 'ABRecordCopyValue(${1:ABRecordRef record}, ${2:ABPropertyID property})'
  'ABRecordGetRecordID':
    'prefix': 'ABRecordGetRecordID'
    'body': 'ABRecordGetRecordID(${1:ABRecordRef record})'
  'ABRecordGetRecordType':
    'prefix': 'ABRecordGetRecordType'
    'body': 'ABRecordGetRecordType(${1:ABRecordRef record})'
  'ABRecordRemoveValue':
    'prefix': 'ABRecordRemoveValue'
    'body': 'ABRecordRemoveValue(${1:ABRecordRef record}, ${2:ABPropertyID property}, ${3:CFErrorRef* error})'
  'ABRecordSetValue':
    'prefix': 'ABRecordSetValue'
    'body': 'ABRecordSetValue(${1:ABRecordRef record}, ${2:ABPropertyID property}, ${3:CFTypeRef value}, ${4:CFErrorRef* error})'
