'.source.rubymotion':
  'kUTExportedTypeDeclarationsKey (CFStringRef)':
    'prefix': 'kUTExportedTypeDeclarationsKey'
    'body': 'KUTExportedTypeDeclarationsKey'
  'kUTImportedTypeDeclarationsKey (CFStringRef)':
    'prefix': 'kUTImportedTypeDeclarationsKey'
    'body': 'KUTImportedTypeDeclarationsKey'
  'kUTTagClassFilenameExtension (CFStringRef)':
    'prefix': 'kUTTagClassFilenameExtension'
    'body': 'KUTTagClassFilenameExtension'
  'kUTTagClassMIMEType (CFStringRef)':
    'prefix': 'kUTTagClassMIMEType'
    'body': 'KUTTagClassMIMEType'
  'kUTTypeAliasFile (CFStringRef)':
    'prefix': 'kUTTypeAliasFile'
    'body': 'KUTTypeAliasFile'
  'kUTTypeAliasRecord (CFStringRef)':
    'prefix': 'kUTTypeAliasRecord'
    'body': 'KUTTypeAliasRecord'
  'kUTTypeAppleICNS (CFStringRef)':
    'prefix': 'kUTTypeAppleICNS'
    'body': 'KUTTypeAppleICNS'
  'kUTTypeAppleProtectedMPEG4Audio (CFStringRef)':
    'prefix': 'kUTTypeAppleProtectedMPEG4Audio'
    'body': 'KUTTypeAppleProtectedMPEG4Audio'
  'kUTTypeApplication (CFStringRef)':
    'prefix': 'kUTTypeApplication'
    'body': 'KUTTypeApplication'
  'kUTTypeApplicationBundle (CFStringRef)':
    'prefix': 'kUTTypeApplicationBundle'
    'body': 'KUTTypeApplicationBundle'
  'kUTTypeApplicationFile (CFStringRef)':
    'prefix': 'kUTTypeApplicationFile'
    'body': 'KUTTypeApplicationFile'
  'kUTTypeArchive (CFStringRef)':
    'prefix': 'kUTTypeArchive'
    'body': 'KUTTypeArchive'
  'kUTTypeAudio (CFStringRef)':
    'prefix': 'kUTTypeAudio'
    'body': 'KUTTypeAudio'
  'kUTTypeAudiovisualContent (CFStringRef)':
    'prefix': 'kUTTypeAudiovisualContent'
    'body': 'KUTTypeAudiovisualContent'
  'kUTTypeBMP (CFStringRef)':
    'prefix': 'kUTTypeBMP'
    'body': 'KUTTypeBMP'
  'kUTTypeBundle (CFStringRef)':
    'prefix': 'kUTTypeBundle'
    'body': 'KUTTypeBundle'
  'kUTTypeCHeader (CFStringRef)':
    'prefix': 'kUTTypeCHeader'
    'body': 'KUTTypeCHeader'
  'kUTTypeCPlusPlusHeader (CFStringRef)':
    'prefix': 'kUTTypeCPlusPlusHeader'
    'body': 'KUTTypeCPlusPlusHeader'
  'kUTTypeCPlusPlusSource (CFStringRef)':
    'prefix': 'kUTTypeCPlusPlusSource'
    'body': 'KUTTypeCPlusPlusSource'
  'kUTTypeCSource (CFStringRef)':
    'prefix': 'kUTTypeCSource'
    'body': 'KUTTypeCSource'
  'kUTTypeCompositeContent (CFStringRef)':
    'prefix': 'kUTTypeCompositeContent'
    'body': 'KUTTypeCompositeContent'
  'kUTTypeConformsToKey (CFStringRef)':
    'prefix': 'kUTTypeConformsToKey'
    'body': 'KUTTypeConformsToKey'
  'kUTTypeContact (CFStringRef)':
    'prefix': 'kUTTypeContact'
    'body': 'KUTTypeContact'
  'kUTTypeContent (CFStringRef)':
    'prefix': 'kUTTypeContent'
    'body': 'KUTTypeContent'
  'kUTTypeData (CFStringRef)':
    'prefix': 'kUTTypeData'
    'body': 'KUTTypeData'
  'kUTTypeDescriptionKey (CFStringRef)':
    'prefix': 'kUTTypeDescriptionKey'
    'body': 'KUTTypeDescriptionKey'
  'kUTTypeDirectory (CFStringRef)':
    'prefix': 'kUTTypeDirectory'
    'body': 'KUTTypeDirectory'
  'kUTTypeDiskImage (CFStringRef)':
    'prefix': 'kUTTypeDiskImage'
    'body': 'KUTTypeDiskImage'
  'kUTTypeFileURL (CFStringRef)':
    'prefix': 'kUTTypeFileURL'
    'body': 'KUTTypeFileURL'
  'kUTTypeFlatRTFD (CFStringRef)':
    'prefix': 'kUTTypeFlatRTFD'
    'body': 'KUTTypeFlatRTFD'
  'kUTTypeFolder (CFStringRef)':
    'prefix': 'kUTTypeFolder'
    'body': 'KUTTypeFolder'
  'kUTTypeFramework (CFStringRef)':
    'prefix': 'kUTTypeFramework'
    'body': 'KUTTypeFramework'
  'kUTTypeGIF (CFStringRef)':
    'prefix': 'kUTTypeGIF'
    'body': 'KUTTypeGIF'
  'kUTTypeHTML (CFStringRef)':
    'prefix': 'kUTTypeHTML'
    'body': 'KUTTypeHTML'
  'kUTTypeICO (CFStringRef)':
    'prefix': 'kUTTypeICO'
    'body': 'KUTTypeICO'
  'kUTTypeIconFileKey (CFStringRef)':
    'prefix': 'kUTTypeIconFileKey'
    'body': 'KUTTypeIconFileKey'
  'kUTTypeIdentifierKey (CFStringRef)':
    'prefix': 'kUTTypeIdentifierKey'
    'body': 'KUTTypeIdentifierKey'
  'kUTTypeImage (CFStringRef)':
    'prefix': 'kUTTypeImage'
    'body': 'KUTTypeImage'
  'kUTTypeInkText (CFStringRef)':
    'prefix': 'kUTTypeInkText'
    'body': 'KUTTypeInkText'
  'kUTTypeItem (CFStringRef)':
    'prefix': 'kUTTypeItem'
    'body': 'KUTTypeItem'
  'kUTTypeJPEG (CFStringRef)':
    'prefix': 'kUTTypeJPEG'
    'body': 'KUTTypeJPEG'
  'kUTTypeJPEG2000 (CFStringRef)':
    'prefix': 'kUTTypeJPEG2000'
    'body': 'KUTTypeJPEG2000'
  'kUTTypeJavaSource (CFStringRef)':
    'prefix': 'kUTTypeJavaSource'
    'body': 'KUTTypeJavaSource'
  'kUTTypeMP3 (CFStringRef)':
    'prefix': 'kUTTypeMP3'
    'body': 'KUTTypeMP3'
  'kUTTypeMPEG (CFStringRef)':
    'prefix': 'kUTTypeMPEG'
    'body': 'KUTTypeMPEG'
  'kUTTypeMPEG4 (CFStringRef)':
    'prefix': 'kUTTypeMPEG4'
    'body': 'KUTTypeMPEG4'
  'kUTTypeMPEG4Audio (CFStringRef)':
    'prefix': 'kUTTypeMPEG4Audio'
    'body': 'KUTTypeMPEG4Audio'
  'kUTTypeMessage (CFStringRef)':
    'prefix': 'kUTTypeMessage'
    'body': 'KUTTypeMessage'
  'kUTTypeMountPoint (CFStringRef)':
    'prefix': 'kUTTypeMountPoint'
    'body': 'KUTTypeMountPoint'
  'kUTTypeMovie (CFStringRef)':
    'prefix': 'kUTTypeMovie'
    'body': 'KUTTypeMovie'
  'kUTTypeObjectiveCPlusPlusSource (CFStringRef)':
    'prefix': 'kUTTypeObjectiveCPlusPlusSource'
    'body': 'KUTTypeObjectiveCPlusPlusSource'
  'kUTTypeObjectiveCSource (CFStringRef)':
    'prefix': 'kUTTypeObjectiveCSource'
    'body': 'KUTTypeObjectiveCSource'
  'kUTTypePDF (CFStringRef)':
    'prefix': 'kUTTypePDF'
    'body': 'KUTTypePDF'
  'kUTTypePICT (CFStringRef)':
    'prefix': 'kUTTypePICT'
    'body': 'KUTTypePICT'
  'kUTTypePNG (CFStringRef)':
    'prefix': 'kUTTypePNG'
    'body': 'KUTTypePNG'
  'kUTTypePackage (CFStringRef)':
    'prefix': 'kUTTypePackage'
    'body': 'KUTTypePackage'
  'kUTTypePlainText (CFStringRef)':
    'prefix': 'kUTTypePlainText'
    'body': 'KUTTypePlainText'
  'kUTTypeQuickTimeImage (CFStringRef)':
    'prefix': 'kUTTypeQuickTimeImage'
    'body': 'KUTTypeQuickTimeImage'
  'kUTTypeQuickTimeMovie (CFStringRef)':
    'prefix': 'kUTTypeQuickTimeMovie'
    'body': 'KUTTypeQuickTimeMovie'
  'kUTTypeRTF (CFStringRef)':
    'prefix': 'kUTTypeRTF'
    'body': 'KUTTypeRTF'
  'kUTTypeRTFD (CFStringRef)':
    'prefix': 'kUTTypeRTFD'
    'body': 'KUTTypeRTFD'
  'kUTTypeReferenceURLKey (CFStringRef)':
    'prefix': 'kUTTypeReferenceURLKey'
    'body': 'KUTTypeReferenceURLKey'
  'kUTTypeResolvable (CFStringRef)':
    'prefix': 'kUTTypeResolvable'
    'body': 'KUTTypeResolvable'
  'kUTTypeSourceCode (CFStringRef)':
    'prefix': 'kUTTypeSourceCode'
    'body': 'KUTTypeSourceCode'
  'kUTTypeSymLink (CFStringRef)':
    'prefix': 'kUTTypeSymLink'
    'body': 'KUTTypeSymLink'
  'kUTTypeTIFF (CFStringRef)':
    'prefix': 'kUTTypeTIFF'
    'body': 'KUTTypeTIFF'
  'kUTTypeTXNTextAndMultimediaData (CFStringRef)':
    'prefix': 'kUTTypeTXNTextAndMultimediaData'
    'body': 'KUTTypeTXNTextAndMultimediaData'
  'kUTTypeTagSpecificationKey (CFStringRef)':
    'prefix': 'kUTTypeTagSpecificationKey'
    'body': 'KUTTypeTagSpecificationKey'
  'kUTTypeText (CFStringRef)':
    'prefix': 'kUTTypeText'
    'body': 'KUTTypeText'
  'kUTTypeURL (CFStringRef)':
    'prefix': 'kUTTypeURL'
    'body': 'KUTTypeURL'
  'kUTTypeUTF16ExternalPlainText (CFStringRef)':
    'prefix': 'kUTTypeUTF16ExternalPlainText'
    'body': 'KUTTypeUTF16ExternalPlainText'
  'kUTTypeUTF16PlainText (CFStringRef)':
    'prefix': 'kUTTypeUTF16PlainText'
    'body': 'KUTTypeUTF16PlainText'
  'kUTTypeUTF8PlainText (CFStringRef)':
    'prefix': 'kUTTypeUTF8PlainText'
    'body': 'KUTTypeUTF8PlainText'
  'kUTTypeVCard (CFStringRef)':
    'prefix': 'kUTTypeVCard'
    'body': 'KUTTypeVCard'
  'kUTTypeVersionKey (CFStringRef)':
    'prefix': 'kUTTypeVersionKey'
    'body': 'KUTTypeVersionKey'
  'kUTTypeVideo (CFStringRef)':
    'prefix': 'kUTTypeVideo'
    'body': 'KUTTypeVideo'
  'kUTTypeVolume (CFStringRef)':
    'prefix': 'kUTTypeVolume'
    'body': 'KUTTypeVolume'
  'kUTTypeWebArchive (CFStringRef)':
    'prefix': 'kUTTypeWebArchive'
    'body': 'KUTTypeWebArchive'
  'kUTTypeXML (CFStringRef)':
    'prefix': 'kUTTypeXML'
    'body': 'KUTTypeXML'
  'UTTypeConformsTo':
    'prefix': 'UTTypeConformsTo'
    'body': 'UTTypeConformsTo(${1:CFStringRef inUTI}, ${2:CFStringRef inConformsToUTI})'
  'UTTypeCopyDeclaration':
    'prefix': 'UTTypeCopyDeclaration'
    'body': 'UTTypeCopyDeclaration(${1:CFStringRef inUTI})'
  'UTTypeCopyDeclaringBundleURL':
    'prefix': 'UTTypeCopyDeclaringBundleURL'
    'body': 'UTTypeCopyDeclaringBundleURL(${1:CFStringRef inUTI})'
  'UTTypeCopyDescription':
    'prefix': 'UTTypeCopyDescription'
    'body': 'UTTypeCopyDescription(${1:CFStringRef inUTI})'
  'UTTypeCopyPreferredTagWithClass':
    'prefix': 'UTTypeCopyPreferredTagWithClass'
    'body': 'UTTypeCopyPreferredTagWithClass(${1:CFStringRef inUTI}, ${2:CFStringRef inTagClass})'
  'UTTypeCreateAllIdentifiersForTag':
    'prefix': 'UTTypeCreateAllIdentifiersForTag'
    'body': 'UTTypeCreateAllIdentifiersForTag(${1:CFStringRef inTagClass}, ${2:CFStringRef inTag}, ${3:CFStringRef inConformingToUTI})'
  'UTTypeCreatePreferredIdentifierForTag':
    'prefix': 'UTTypeCreatePreferredIdentifierForTag'
    'body': 'UTTypeCreatePreferredIdentifierForTag(${1:CFStringRef inTagClass}, ${2:CFStringRef inTag}, ${3:CFStringRef inConformingToUTI})'
  'UTTypeEqual':
    'prefix': 'UTTypeEqual'
    'body': 'UTTypeEqual(${1:CFStringRef inUTI1}, ${2:CFStringRef inUTI2})'
