'.source.rubymotion':
  'NKIssueDownloadCompletedNotification (NSString*)':
    'prefix': 'NKIssueDownloadCompletedNotification'
    'body': 'NKIssueDownloadCompletedNotification'
  'NKIssueContentStatusAvailable (2)':
    'prefix': 'NKIssueContentStatusAvailable'
    'body': 'NKIssueContentStatusAvailable'
  'NKIssueContentStatusDownloading (1)':
    'prefix': 'NKIssueContentStatusDownloading'
    'body': 'NKIssueContentStatusDownloading'
  'NKIssueContentStatusNone (0)':
    'prefix': 'NKIssueContentStatusNone'
    'body': 'NKIssueContentStatusNone'
  'URLRequest':
    'prefix': 'URLRequest'
    'body': 'URLRequest()'
  'downloadWithDelegate:':
    'prefix': 'downloadWithDelegate:'
    'body': 'downloadWithDelegate(${1:id delegate})'
  'identifier':
    'prefix': 'identifier'
    'body': 'identifier()'
  'issue':
    'prefix': 'issue'
    'body': 'issue()'
  'setUserInfo:':
    'prefix': 'setUserInfo:'
    'body': 'setUserInfo(${1:NSDictionary* userInfo})'
  'userInfo':
    'prefix': 'userInfo'
    'body': 'userInfo()'
  'addAssetWithRequest:':
    'prefix': 'addAssetWithRequest:'
    'body': 'addAssetWithRequest(${1:NSURLRequest* request})'
  'contentURL':
    'prefix': 'contentURL'
    'body': 'contentURL()'
  'date':
    'prefix': 'date'
    'body': 'date()'
  'downloadingAssets':
    'prefix': 'downloadingAssets'
    'body': 'downloadingAssets()'
  'name':
    'prefix': 'name'
    'body': 'name()'
  'status':
    'prefix': 'status'
    'body': 'status()'
  'addIssueWithName:date:':
    'prefix': 'addIssueWithName:date:'
    'body': 'addIssueWithName(${1:NSString* name}, date:${2:NSDate* date})'
  'currentlyReadingIssue':
    'prefix': 'currentlyReadingIssue'
    'body': 'currentlyReadingIssue()'
  'downloadingAssets':
    'prefix': 'downloadingAssets'
    'body': 'downloadingAssets()'
  'issueWithName:':
    'prefix': 'issueWithName:'
    'body': 'issueWithName(${1:NSString* name})'
  'issues':
    'prefix': 'issues'
    'body': 'issues()'
  'removeIssue:':
    'prefix': 'removeIssue:'
    'body': 'removeIssue(${1:NKIssue* issue})'
  'setCurrentlyReadingIssue:':
    'prefix': 'setCurrentlyReadingIssue:'
    'body': 'setCurrentlyReadingIssue(${1:NKIssue* currentlyReadingIssue})'
  'NKLibrary.sharedLibrary':
    'prefix': 'sharedLibrary'
    'body': 'NKLibrary.sharedLibrary()'
  'newsstandAssetDownload':
    'prefix': 'newsstandAssetDownload'
    'body': 'newsstandAssetDownload()'
