'.source.rubymotion':
  'ALC_ALL_ATTRIBUTES (4099)':
    'prefix': 'ALC_ALL_ATTRIBUTES'
    'body': 'ALC_ALL_ATTRIBUTES'
  'ALC_ALL_DEVICES_SPECIFIER (4115)':
    'prefix': 'ALC_ALL_DEVICES_SPECIFIER'
    'body': 'ALC_ALL_DEVICES_SPECIFIER'
  'ALC_ASA_OBSTRUCTION (1868723060)':
    'prefix': 'ALC_ASA_OBSTRUCTION'
    'body': 'ALC_ASA_OBSTRUCTION'
  'ALC_ASA_OCCLUSION (1868784492)':
    'prefix': 'ALC_ASA_OCCLUSION'
    'body': 'ALC_ASA_OCCLUSION'
  'ALC_ASA_REVERB_EQ_BANDWITH (1920361826)':
    'prefix': 'ALC_ASA_REVERB_EQ_BANDWITH'
    'body': 'ALC_ASA_REVERB_EQ_BANDWITH'
  'ALC_ASA_REVERB_EQ_FREQ (1920361830)':
    'prefix': 'ALC_ASA_REVERB_EQ_FREQ'
    'body': 'ALC_ASA_REVERB_EQ_FREQ'
  'ALC_ASA_REVERB_EQ_GAIN (1920361831)':
    'prefix': 'ALC_ASA_REVERB_EQ_GAIN'
    'body': 'ALC_ASA_REVERB_EQ_GAIN'
  'ALC_ASA_REVERB_GLOBAL_LEVEL (1920362348)':
    'prefix': 'ALC_ASA_REVERB_GLOBAL_LEVEL'
    'body': 'ALC_ASA_REVERB_GLOBAL_LEVEL'
  'ALC_ASA_REVERB_ON (1920364398)':
    'prefix': 'ALC_ASA_REVERB_ON'
    'body': 'ALC_ASA_REVERB_ON'
  'ALC_ASA_REVERB_ROOM_TYPE (1920365172)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE'
  'ALC_ASA_REVERB_ROOM_TYPE_Cathedral (8)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_Cathedral'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_Cathedral'
  'ALC_ASA_REVERB_ROOM_TYPE_LargeChamber (7)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_LargeChamber'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_LargeChamber'
  'ALC_ASA_REVERB_ROOM_TYPE_LargeHall (4)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_LargeHall'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_LargeHall'
  'ALC_ASA_REVERB_ROOM_TYPE_LargeHall2 (12)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_LargeHall2'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_LargeHall2'
  'ALC_ASA_REVERB_ROOM_TYPE_LargeRoom (2)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_LargeRoom'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_LargeRoom'
  'ALC_ASA_REVERB_ROOM_TYPE_LargeRoom2 (9)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_LargeRoom2'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_LargeRoom2'
  'ALC_ASA_REVERB_ROOM_TYPE_MediumChamber (6)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_MediumChamber'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_MediumChamber'
  'ALC_ASA_REVERB_ROOM_TYPE_MediumHall (3)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_MediumHall'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_MediumHall'
  'ALC_ASA_REVERB_ROOM_TYPE_MediumHall2 (10)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_MediumHall2'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_MediumHall2'
  'ALC_ASA_REVERB_ROOM_TYPE_MediumHall3 (11)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_MediumHall3'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_MediumHall3'
  'ALC_ASA_REVERB_ROOM_TYPE_MediumRoom (1)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_MediumRoom'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_MediumRoom'
  'ALC_ASA_REVERB_ROOM_TYPE_Plate (5)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_Plate'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_Plate'
  'ALC_ASA_REVERB_ROOM_TYPE_SmallRoom (0)':
    'prefix': 'ALC_ASA_REVERB_ROOM_TYPE_SmallRoom'
    'body': 'ALC_ASA_REVERB_ROOM_TYPE_SmallRoom'
  'ALC_ASA_REVERB_SEND_LEVEL (1920365420)':
    'prefix': 'ALC_ASA_REVERB_SEND_LEVEL'
    'body': 'ALC_ASA_REVERB_SEND_LEVEL'
  'ALC_ATTRIBUTES_SIZE (4098)':
    'prefix': 'ALC_ATTRIBUTES_SIZE'
    'body': 'ALC_ATTRIBUTES_SIZE'
  'ALC_CAPTURE_DEFAULT_DEVICE_SPECIFIER (785)':
    'prefix': 'ALC_CAPTURE_DEFAULT_DEVICE_SPECIFIER'
    'body': 'ALC_CAPTURE_DEFAULT_DEVICE_SPECIFIER'
  'ALC_CAPTURE_DEVICE_SPECIFIER (784)':
    'prefix': 'ALC_CAPTURE_DEVICE_SPECIFIER'
    'body': 'ALC_CAPTURE_DEVICE_SPECIFIER'
  'ALC_CAPTURE_SAMPLES (786)':
    'prefix': 'ALC_CAPTURE_SAMPLES'
    'body': 'ALC_CAPTURE_SAMPLES'
  'ALC_DEFAULT_ALL_DEVICES_SPECIFIER (4114)':
    'prefix': 'ALC_DEFAULT_ALL_DEVICES_SPECIFIER'
    'body': 'ALC_DEFAULT_ALL_DEVICES_SPECIFIER'
  'ALC_DEFAULT_DEVICE_SPECIFIER (4100)':
    'prefix': 'ALC_DEFAULT_DEVICE_SPECIFIER'
    'body': 'ALC_DEFAULT_DEVICE_SPECIFIER'
  'ALC_DEVICE_SPECIFIER (4101)':
    'prefix': 'ALC_DEVICE_SPECIFIER'
    'body': 'ALC_DEVICE_SPECIFIER'
  'ALC_EXTENSIONS (4102)':
    'prefix': 'ALC_EXTENSIONS'
    'body': 'ALC_EXTENSIONS'
  'ALC_FALSE (0)':
    'prefix': 'ALC_FALSE'
    'body': 'ALC_FALSE'
  'ALC_FREQUENCY (4103)':
    'prefix': 'ALC_FREQUENCY'
    'body': 'ALC_FREQUENCY'
  'ALC_INVALID (0)':
    'prefix': 'ALC_INVALID'
    'body': 'ALC_INVALID'
  'ALC_INVALID_CONTEXT (40962)':
    'prefix': 'ALC_INVALID_CONTEXT'
    'body': 'ALC_INVALID_CONTEXT'
  'ALC_INVALID_DEVICE (40961)':
    'prefix': 'ALC_INVALID_DEVICE'
    'body': 'ALC_INVALID_DEVICE'
  'ALC_INVALID_ENUM (40963)':
    'prefix': 'ALC_INVALID_ENUM'
    'body': 'ALC_INVALID_ENUM'
  'ALC_INVALID_VALUE (40964)':
    'prefix': 'ALC_INVALID_VALUE'
    'body': 'ALC_INVALID_VALUE'
  'ALC_IPHONE_SPATIAL_RENDERING_QUALITY_HEADPHONES (1751412840)':
    'prefix': 'ALC_IPHONE_SPATIAL_RENDERING_QUALITY_HEADPHONES'
    'body': 'ALC_IPHONE_SPATIAL_RENDERING_QUALITY_HEADPHONES'
  'ALC_MAC_OSX_RENDER_CHANNEL_COUNT_MULTICHANNEL (1919118691)':
    'prefix': 'ALC_MAC_OSX_RENDER_CHANNEL_COUNT_MULTICHANNEL'
    'body': 'ALC_MAC_OSX_RENDER_CHANNEL_COUNT_MULTICHANNEL'
  'ALC_MAC_OSX_RENDER_CHANNEL_COUNT_STEREO (1919120244)':
    'prefix': 'ALC_MAC_OSX_RENDER_CHANNEL_COUNT_STEREO'
    'body': 'ALC_MAC_OSX_RENDER_CHANNEL_COUNT_STEREO'
  'ALC_MAC_OSX_SPATIAL_RENDERING_QUALITY_HIGH (1920034921)':
    'prefix': 'ALC_MAC_OSX_SPATIAL_RENDERING_QUALITY_HIGH'
    'body': 'ALC_MAC_OSX_SPATIAL_RENDERING_QUALITY_HIGH'
  'ALC_MAC_OSX_SPATIAL_RENDERING_QUALITY_LOW (1919183983)':
    'prefix': 'ALC_MAC_OSX_SPATIAL_RENDERING_QUALITY_LOW'
    'body': 'ALC_MAC_OSX_SPATIAL_RENDERING_QUALITY_LOW'
  'ALC_MAJOR_VERSION (4096)':
    'prefix': 'ALC_MAJOR_VERSION'
    'body': 'ALC_MAJOR_VERSION'
  'ALC_MINOR_VERSION (4097)':
    'prefix': 'ALC_MINOR_VERSION'
    'body': 'ALC_MINOR_VERSION'
  'ALC_MONO_SOURCES (4112)':
    'prefix': 'ALC_MONO_SOURCES'
    'body': 'ALC_MONO_SOURCES'
  'ALC_NO_ERROR (0)':
    'prefix': 'ALC_NO_ERROR'
    'body': 'ALC_NO_ERROR'
  'ALC_OUT_OF_MEMORY (40965)':
    'prefix': 'ALC_OUT_OF_MEMORY'
    'body': 'ALC_OUT_OF_MEMORY'
  'ALC_REFRESH (4104)':
    'prefix': 'ALC_REFRESH'
    'body': 'ALC_REFRESH'
  'ALC_STEREO_SOURCES (4113)':
    'prefix': 'ALC_STEREO_SOURCES'
    'body': 'ALC_STEREO_SOURCES'
  'ALC_SYNC (4105)':
    'prefix': 'ALC_SYNC'
    'body': 'ALC_SYNC'
  'ALC_TRUE (1)':
    'prefix': 'ALC_TRUE'
    'body': 'ALC_TRUE'
  'ALC_VERSION_0_1 (1)':
    'prefix': 'ALC_VERSION_0_1'
    'body': 'ALC_VERSION_0_1'
  'AL_BITS (8194)':
    'prefix': 'AL_BITS'
    'body': 'AL_BITS'
  'AL_BUFFER (4105)':
    'prefix': 'AL_BUFFER'
    'body': 'AL_BUFFER'
  'AL_BUFFERS_PROCESSED (4118)':
    'prefix': 'AL_BUFFERS_PROCESSED'
    'body': 'AL_BUFFERS_PROCESSED'
  'AL_BUFFERS_QUEUED (4117)':
    'prefix': 'AL_BUFFERS_QUEUED'
    'body': 'AL_BUFFERS_QUEUED'
  'AL_BYTE_OFFSET (4134)':
    'prefix': 'AL_BYTE_OFFSET'
    'body': 'AL_BYTE_OFFSET'
  'AL_CHANNELS (8195)':
    'prefix': 'AL_CHANNELS'
    'body': 'AL_CHANNELS'
  'AL_CONE_INNER_ANGLE (4097)':
    'prefix': 'AL_CONE_INNER_ANGLE'
    'body': 'AL_CONE_INNER_ANGLE'
  'AL_CONE_OUTER_ANGLE (4098)':
    'prefix': 'AL_CONE_OUTER_ANGLE'
    'body': 'AL_CONE_OUTER_ANGLE'
  'AL_CONE_OUTER_GAIN (4130)':
    'prefix': 'AL_CONE_OUTER_GAIN'
    'body': 'AL_CONE_OUTER_GAIN'
  'AL_DIRECTION (4101)':
    'prefix': 'AL_DIRECTION'
    'body': 'AL_DIRECTION'
  'AL_DISTANCE_MODEL (53248)':
    'prefix': 'AL_DISTANCE_MODEL'
    'body': 'AL_DISTANCE_MODEL'
  'AL_DOPPLER_FACTOR (49152)':
    'prefix': 'AL_DOPPLER_FACTOR'
    'body': 'AL_DOPPLER_FACTOR'
  'AL_DOPPLER_VELOCITY (49153)':
    'prefix': 'AL_DOPPLER_VELOCITY'
    'body': 'AL_DOPPLER_VELOCITY'
  'AL_EXPONENT_DISTANCE (53253)':
    'prefix': 'AL_EXPONENT_DISTANCE'
    'body': 'AL_EXPONENT_DISTANCE'
  'AL_EXPONENT_DISTANCE_CLAMPED (53254)':
    'prefix': 'AL_EXPONENT_DISTANCE_CLAMPED'
    'body': 'AL_EXPONENT_DISTANCE_CLAMPED'
  'AL_EXTENSIONS (45060)':
    'prefix': 'AL_EXTENSIONS'
    'body': 'AL_EXTENSIONS'
  'AL_FALSE (0)':
    'prefix': 'AL_FALSE'
    'body': 'AL_FALSE'
  'AL_FORMAT_MONO16 (4353)':
    'prefix': 'AL_FORMAT_MONO16'
    'body': 'AL_FORMAT_MONO16'
  'AL_FORMAT_MONO8 (4352)':
    'prefix': 'AL_FORMAT_MONO8'
    'body': 'AL_FORMAT_MONO8'
  'AL_FORMAT_STEREO16 (4355)':
    'prefix': 'AL_FORMAT_STEREO16'
    'body': 'AL_FORMAT_STEREO16'
  'AL_FORMAT_STEREO8 (4354)':
    'prefix': 'AL_FORMAT_STEREO8'
    'body': 'AL_FORMAT_STEREO8'
  'AL_FREQUENCY (8193)':
    'prefix': 'AL_FREQUENCY'
    'body': 'AL_FREQUENCY'
  'AL_GAIN (4106)':
    'prefix': 'AL_GAIN'
    'body': 'AL_GAIN'
  'AL_GAMEKIT (1735095154)':
    'prefix': 'AL_GAMEKIT'
    'body': 'AL_GAMEKIT'
  'AL_ILLEGAL_COMMAND (40964)':
    'prefix': 'AL_ILLEGAL_COMMAND'
    'body': 'AL_ILLEGAL_COMMAND'
  'AL_ILLEGAL_ENUM (40962)':
    'prefix': 'AL_ILLEGAL_ENUM'
    'body': 'AL_ILLEGAL_ENUM'
  'AL_INITIAL (4113)':
    'prefix': 'AL_INITIAL'
    'body': 'AL_INITIAL'
  'AL_INVALID (-1)':
    'prefix': 'AL_INVALID'
    'body': 'AL_INVALID'
  'AL_INVALID_ENUM (40962)':
    'prefix': 'AL_INVALID_ENUM'
    'body': 'AL_INVALID_ENUM'
  'AL_INVALID_NAME (40961)':
    'prefix': 'AL_INVALID_NAME'
    'body': 'AL_INVALID_NAME'
  'AL_INVALID_OPERATION (40964)':
    'prefix': 'AL_INVALID_OPERATION'
    'body': 'AL_INVALID_OPERATION'
  'AL_INVALID_VALUE (40963)':
    'prefix': 'AL_INVALID_VALUE'
    'body': 'AL_INVALID_VALUE'
  'AL_INVERSE_DISTANCE (53249)':
    'prefix': 'AL_INVERSE_DISTANCE'
    'body': 'AL_INVERSE_DISTANCE'
  'AL_INVERSE_DISTANCE_CLAMPED (53250)':
    'prefix': 'AL_INVERSE_DISTANCE_CLAMPED'
    'body': 'AL_INVERSE_DISTANCE_CLAMPED'
  'AL_LINEAR_DISTANCE (53251)':
    'prefix': 'AL_LINEAR_DISTANCE'
    'body': 'AL_LINEAR_DISTANCE'
  'AL_LINEAR_DISTANCE_CLAMPED (53252)':
    'prefix': 'AL_LINEAR_DISTANCE_CLAMPED'
    'body': 'AL_LINEAR_DISTANCE_CLAMPED'
  'AL_LOOPING (4103)':
    'prefix': 'AL_LOOPING'
    'body': 'AL_LOOPING'
  'AL_MAX_DISTANCE (4131)':
    'prefix': 'AL_MAX_DISTANCE'
    'body': 'AL_MAX_DISTANCE'
  'AL_MAX_GAIN (4110)':
    'prefix': 'AL_MAX_GAIN'
    'body': 'AL_MAX_GAIN'
  'AL_MIN_GAIN (4109)':
    'prefix': 'AL_MIN_GAIN'
    'body': 'AL_MIN_GAIN'
  'AL_NONE (0)':
    'prefix': 'AL_NONE'
    'body': 'AL_NONE'
  'AL_NO_ERROR (0)':
    'prefix': 'AL_NO_ERROR'
    'body': 'AL_NO_ERROR'
  'AL_ORIENTATION (4111)':
    'prefix': 'AL_ORIENTATION'
    'body': 'AL_ORIENTATION'
  'AL_OUT_OF_MEMORY (40965)':
    'prefix': 'AL_OUT_OF_MEMORY'
    'body': 'AL_OUT_OF_MEMORY'
  'AL_PAUSED (4115)':
    'prefix': 'AL_PAUSED'
    'body': 'AL_PAUSED'
  'AL_PENDING (8209)':
    'prefix': 'AL_PENDING'
    'body': 'AL_PENDING'
  'AL_PITCH (4099)':
    'prefix': 'AL_PITCH'
    'body': 'AL_PITCH'
  'AL_PLAYING (4114)':
    'prefix': 'AL_PLAYING'
    'body': 'AL_PLAYING'
  'AL_POSITION (4100)':
    'prefix': 'AL_POSITION'
    'body': 'AL_POSITION'
  'AL_PROCESSED (8210)':
    'prefix': 'AL_PROCESSED'
    'body': 'AL_PROCESSED'
  'AL_QUEUE_HAS_LOOPED (36864)':
    'prefix': 'AL_QUEUE_HAS_LOOPED'
    'body': 'AL_QUEUE_HAS_LOOPED'
  'AL_REFERENCE_DISTANCE (4128)':
    'prefix': 'AL_REFERENCE_DISTANCE'
    'body': 'AL_REFERENCE_DISTANCE'
  'AL_RENDERER (45059)':
    'prefix': 'AL_RENDERER'
    'body': 'AL_RENDERER'
  'AL_ROLLOFF_FACTOR (4129)':
    'prefix': 'AL_ROLLOFF_FACTOR'
    'body': 'AL_ROLLOFF_FACTOR'
  'AL_SAMPLE_OFFSET (4133)':
    'prefix': 'AL_SAMPLE_OFFSET'
    'body': 'AL_SAMPLE_OFFSET'
  'AL_SEC_OFFSET (4132)':
    'prefix': 'AL_SEC_OFFSET'
    'body': 'AL_SEC_OFFSET'
  'AL_SIZE (8196)':
    'prefix': 'AL_SIZE'
    'body': 'AL_SIZE'
  'AL_SOURCE_RELATIVE (514)':
    'prefix': 'AL_SOURCE_RELATIVE'
    'body': 'AL_SOURCE_RELATIVE'
  'AL_SOURCE_STATE (4112)':
    'prefix': 'AL_SOURCE_STATE'
    'body': 'AL_SOURCE_STATE'
  'AL_SOURCE_TYPE (4135)':
    'prefix': 'AL_SOURCE_TYPE'
    'body': 'AL_SOURCE_TYPE'
  'AL_SPEED_OF_SOUND (49155)':
    'prefix': 'AL_SPEED_OF_SOUND'
    'body': 'AL_SPEED_OF_SOUND'
  'AL_STATIC (4136)':
    'prefix': 'AL_STATIC'
    'body': 'AL_STATIC'
  'AL_STOPPED (4116)':
    'prefix': 'AL_STOPPED'
    'body': 'AL_STOPPED'
  'AL_STREAMING (4137)':
    'prefix': 'AL_STREAMING'
    'body': 'AL_STREAMING'
  'AL_TRUE (1)':
    'prefix': 'AL_TRUE'
    'body': 'AL_TRUE'
  'AL_UNDETERMINED (4144)':
    'prefix': 'AL_UNDETERMINED'
    'body': 'AL_UNDETERMINED'
  'AL_UNUSED (8208)':
    'prefix': 'AL_UNUSED'
    'body': 'AL_UNUSED'
  'AL_VELOCITY (4102)':
    'prefix': 'AL_VELOCITY'
    'body': 'AL_VELOCITY'
  'AL_VENDOR (45057)':
    'prefix': 'AL_VENDOR'
    'body': 'AL_VENDOR'
  'AL_VERSION (45058)':
    'prefix': 'AL_VERSION'
    'body': 'AL_VERSION'
  'alBuffer3f':
    'prefix': 'alBuffer3f'
    'body': 'alBuffer3f(${1:ALuint bid}, ${2:ALenum param}, ${3:ALfloat value1}, ${4:ALfloat value2}, ${5:ALfloat value3})'
  'alBuffer3i':
    'prefix': 'alBuffer3i'
    'body': 'alBuffer3i(${1:ALuint bid}, ${2:ALenum param}, ${3:ALint value1}, ${4:ALint value2}, ${5:ALint value3})'
  'alBufferData':
    'prefix': 'alBufferData'
    'body': 'alBufferData(${1:ALuint bid}, ${2:ALenum format}, ${3:ALvoid* data}, ${4:ALsizei size}, ${5:ALsizei freq})'
  'alBufferf':
    'prefix': 'alBufferf'
    'body': 'alBufferf(${1:ALuint bid}, ${2:ALenum param}, ${3:ALfloat value})'
  'alBufferfv':
    'prefix': 'alBufferfv'
    'body': 'alBufferfv(${1:ALuint bid}, ${2:ALenum param}, ${3:ALfloat* values})'
  'alBufferi':
    'prefix': 'alBufferi'
    'body': 'alBufferi(${1:ALuint bid}, ${2:ALenum param}, ${3:ALint value})'
  'alBufferiv':
    'prefix': 'alBufferiv'
    'body': 'alBufferiv(${1:ALuint bid}, ${2:ALenum param}, ${3:ALint* values})'
  'alDeleteBuffers':
    'prefix': 'alDeleteBuffers'
    'body': 'alDeleteBuffers(${1:ALsizei n}, ${2:ALuint* buffers})'
  'alDeleteSources':
    'prefix': 'alDeleteSources'
    'body': 'alDeleteSources(${1:ALsizei n}, ${2:ALuint* sources})'
  'alDisable':
    'prefix': 'alDisable'
    'body': 'alDisable(${1:ALenum capability})'
  'alDistanceModel':
    'prefix': 'alDistanceModel'
    'body': 'alDistanceModel(${1:ALenum distanceModel})'
  'alDopplerFactor':
    'prefix': 'alDopplerFactor'
    'body': 'alDopplerFactor(${1:ALfloat value})'
  'alDopplerVelocity':
    'prefix': 'alDopplerVelocity'
    'body': 'alDopplerVelocity(${1:ALfloat value})'
  'alEnable':
    'prefix': 'alEnable'
    'body': 'alEnable(${1:ALenum capability})'
  'alGenBuffers':
    'prefix': 'alGenBuffers'
    'body': 'alGenBuffers(${1:ALsizei n}, ${2:ALuint* buffers})'
  'alGenSources':
    'prefix': 'alGenSources'
    'body': 'alGenSources(${1:ALsizei n}, ${2:ALuint* sources})'
  'alGetBoolean':
    'prefix': 'alGetBoolean'
    'body': 'alGetBoolean(${1:ALenum param})'
  'alGetBooleanv':
    'prefix': 'alGetBooleanv'
    'body': 'alGetBooleanv(${1:ALenum param}, ${2:ALboolean* data})'
  'alGetBuffer3f':
    'prefix': 'alGetBuffer3f'
    'body': 'alGetBuffer3f(${1:ALuint bid}, ${2:ALenum param}, ${3:ALfloat* value1}, ${4:ALfloat* value2}, ${5:ALfloat* value3})'
  'alGetBuffer3i':
    'prefix': 'alGetBuffer3i'
    'body': 'alGetBuffer3i(${1:ALuint bid}, ${2:ALenum param}, ${3:ALint* value1}, ${4:ALint* value2}, ${5:ALint* value3})'
  'alGetBufferf':
    'prefix': 'alGetBufferf'
    'body': 'alGetBufferf(${1:ALuint bid}, ${2:ALenum param}, ${3:ALfloat* value})'
  'alGetBufferfv':
    'prefix': 'alGetBufferfv'
    'body': 'alGetBufferfv(${1:ALuint bid}, ${2:ALenum param}, ${3:ALfloat* values})'
  'alGetBufferi':
    'prefix': 'alGetBufferi'
    'body': 'alGetBufferi(${1:ALuint bid}, ${2:ALenum param}, ${3:ALint* value})'
  'alGetBufferiv':
    'prefix': 'alGetBufferiv'
    'body': 'alGetBufferiv(${1:ALuint bid}, ${2:ALenum param}, ${3:ALint* values})'
  'alGetDouble':
    'prefix': 'alGetDouble'
    'body': 'alGetDouble(${1:ALenum param})'
  'alGetDoublev':
    'prefix': 'alGetDoublev'
    'body': 'alGetDoublev(${1:ALenum param}, ${2:ALdouble* data})'
  'alGetEnumValue':
    'prefix': 'alGetEnumValue'
    'body': 'alGetEnumValue(${1:ALchar* ename})'
  'alGetError':
    'prefix': 'alGetError'
    'body': 'alGetError()'
  'alGetFloat':
    'prefix': 'alGetFloat'
    'body': 'alGetFloat(${1:ALenum param})'
  'alGetFloatv':
    'prefix': 'alGetFloatv'
    'body': 'alGetFloatv(${1:ALenum param}, ${2:ALfloat* data})'
  'alGetInteger':
    'prefix': 'alGetInteger'
    'body': 'alGetInteger(${1:ALenum param})'
  'alGetIntegerv':
    'prefix': 'alGetIntegerv'
    'body': 'alGetIntegerv(${1:ALenum param}, ${2:ALint* data})'
  'alGetListener3f':
    'prefix': 'alGetListener3f'
    'body': 'alGetListener3f(${1:ALenum param}, ${2:ALfloat* value1}, ${3:ALfloat* value2}, ${4:ALfloat* value3})'
  'alGetListener3i':
    'prefix': 'alGetListener3i'
    'body': 'alGetListener3i(${1:ALenum param}, ${2:ALint* value1}, ${3:ALint* value2}, ${4:ALint* value3})'
  'alGetListenerf':
    'prefix': 'alGetListenerf'
    'body': 'alGetListenerf(${1:ALenum param}, ${2:ALfloat* value})'
  'alGetListenerfv':
    'prefix': 'alGetListenerfv'
    'body': 'alGetListenerfv(${1:ALenum param}, ${2:ALfloat* values})'
  'alGetListeneri':
    'prefix': 'alGetListeneri'
    'body': 'alGetListeneri(${1:ALenum param}, ${2:ALint* value})'
  'alGetListeneriv':
    'prefix': 'alGetListeneriv'
    'body': 'alGetListeneriv(${1:ALenum param}, ${2:ALint* values})'
  'alGetProcAddress':
    'prefix': 'alGetProcAddress'
    'body': 'alGetProcAddress(${1:ALchar* fname})'
  'alGetSource3f':
    'prefix': 'alGetSource3f'
    'body': 'alGetSource3f(${1:ALuint sid}, ${2:ALenum param}, ${3:ALfloat* value1}, ${4:ALfloat* value2}, ${5:ALfloat* value3})'
  'alGetSource3i':
    'prefix': 'alGetSource3i'
    'body': 'alGetSource3i(${1:ALuint sid}, ${2:ALenum param}, ${3:ALint* value1}, ${4:ALint* value2}, ${5:ALint* value3})'
  'alGetSourcef':
    'prefix': 'alGetSourcef'
    'body': 'alGetSourcef(${1:ALuint sid}, ${2:ALenum param}, ${3:ALfloat* value})'
  'alGetSourcefv':
    'prefix': 'alGetSourcefv'
    'body': 'alGetSourcefv(${1:ALuint sid}, ${2:ALenum param}, ${3:ALfloat* values})'
  'alGetSourcei':
    'prefix': 'alGetSourcei'
    'body': 'alGetSourcei(${1:ALuint sid}, ${2:ALenum param}, ${3:ALint* value})'
  'alGetSourceiv':
    'prefix': 'alGetSourceiv'
    'body': 'alGetSourceiv(${1:ALuint sid}, ${2:ALenum param}, ${3:ALint* values})'
  'alGetString':
    'prefix': 'alGetString'
    'body': 'alGetString(${1:ALenum param})'
  'alIsBuffer':
    'prefix': 'alIsBuffer'
    'body': 'alIsBuffer(${1:ALuint bid})'
  'alIsEnabled':
    'prefix': 'alIsEnabled'
    'body': 'alIsEnabled(${1:ALenum capability})'
  'alIsExtensionPresent':
    'prefix': 'alIsExtensionPresent'
    'body': 'alIsExtensionPresent(${1:ALchar* extname})'
  'alIsSource':
    'prefix': 'alIsSource'
    'body': 'alIsSource(${1:ALuint sid})'
  'alListener3f':
    'prefix': 'alListener3f'
    'body': 'alListener3f(${1:ALenum param}, ${2:ALfloat value1}, ${3:ALfloat value2}, ${4:ALfloat value3})'
  'alListener3i':
    'prefix': 'alListener3i'
    'body': 'alListener3i(${1:ALenum param}, ${2:ALint value1}, ${3:ALint value2}, ${4:ALint value3})'
  'alListenerf':
    'prefix': 'alListenerf'
    'body': 'alListenerf(${1:ALenum param}, ${2:ALfloat value})'
  'alListenerfv':
    'prefix': 'alListenerfv'
    'body': 'alListenerfv(${1:ALenum param}, ${2:ALfloat* values})'
  'alListeneri':
    'prefix': 'alListeneri'
    'body': 'alListeneri(${1:ALenum param}, ${2:ALint value})'
  'alListeneriv':
    'prefix': 'alListeneriv'
    'body': 'alListeneriv(${1:ALenum param}, ${2:ALint* values})'
  'alSource3f':
    'prefix': 'alSource3f'
    'body': 'alSource3f(${1:ALuint sid}, ${2:ALenum param}, ${3:ALfloat value1}, ${4:ALfloat value2}, ${5:ALfloat value3})'
  'alSource3i':
    'prefix': 'alSource3i'
    'body': 'alSource3i(${1:ALuint sid}, ${2:ALenum param}, ${3:ALint value1}, ${4:ALint value2}, ${5:ALint value3})'
  'alSourcePause':
    'prefix': 'alSourcePause'
    'body': 'alSourcePause(${1:ALuint sid})'
  'alSourcePausev':
    'prefix': 'alSourcePausev'
    'body': 'alSourcePausev(${1:ALsizei ns}, ${2:ALuint* sids})'
  'alSourcePlay':
    'prefix': 'alSourcePlay'
    'body': 'alSourcePlay(${1:ALuint sid})'
  'alSourcePlayv':
    'prefix': 'alSourcePlayv'
    'body': 'alSourcePlayv(${1:ALsizei ns}, ${2:ALuint* sids})'
  'alSourceQueueBuffers':
    'prefix': 'alSourceQueueBuffers'
    'body': 'alSourceQueueBuffers(${1:ALuint sid}, ${2:ALsizei numEntries}, ${3:ALuint* bids})'
  'alSourceRewind':
    'prefix': 'alSourceRewind'
    'body': 'alSourceRewind(${1:ALuint sid})'
  'alSourceRewindv':
    'prefix': 'alSourceRewindv'
    'body': 'alSourceRewindv(${1:ALsizei ns}, ${2:ALuint* sids})'
  'alSourceStop':
    'prefix': 'alSourceStop'
    'body': 'alSourceStop(${1:ALuint sid})'
  'alSourceStopv':
    'prefix': 'alSourceStopv'
    'body': 'alSourceStopv(${1:ALsizei ns}, ${2:ALuint* sids})'
  'alSourceUnqueueBuffers':
    'prefix': 'alSourceUnqueueBuffers'
    'body': 'alSourceUnqueueBuffers(${1:ALuint sid}, ${2:ALsizei numEntries}, ${3:ALuint* bids})'
  'alSourcef':
    'prefix': 'alSourcef'
    'body': 'alSourcef(${1:ALuint sid}, ${2:ALenum param}, ${3:ALfloat value})'
  'alSourcefv':
    'prefix': 'alSourcefv'
    'body': 'alSourcefv(${1:ALuint sid}, ${2:ALenum param}, ${3:ALfloat* values})'
  'alSourcei':
    'prefix': 'alSourcei'
    'body': 'alSourcei(${1:ALuint sid}, ${2:ALenum param}, ${3:ALint value})'
  'alSourceiv':
    'prefix': 'alSourceiv'
    'body': 'alSourceiv(${1:ALuint sid}, ${2:ALenum param}, ${3:ALint* values})'
  'alSpeedOfSound':
    'prefix': 'alSpeedOfSound'
    'body': 'alSpeedOfSound(${1:ALfloat value})'
  'alcCaptureCloseDevice':
    'prefix': 'alcCaptureCloseDevice'
    'body': 'alcCaptureCloseDevice(${1:ALCdevice* device})'
  'alcCaptureOpenDevice':
    'prefix': 'alcCaptureOpenDevice'
    'body': 'alcCaptureOpenDevice(${1:ALCchar* devicename}, ${2:ALCuint frequency}, ${3:ALCenum format}, ${4:ALCsizei buffersize})'
  'alcCaptureSamples':
    'prefix': 'alcCaptureSamples'
    'body': 'alcCaptureSamples(${1:ALCdevice* device}, ${2:ALCvoid* buffer}, ${3:ALCsizei samples})'
  'alcCaptureStart':
    'prefix': 'alcCaptureStart'
    'body': 'alcCaptureStart(${1:ALCdevice* device})'
  'alcCaptureStop':
    'prefix': 'alcCaptureStop'
    'body': 'alcCaptureStop(${1:ALCdevice* device})'
  'alcCloseDevice':
    'prefix': 'alcCloseDevice'
    'body': 'alcCloseDevice(${1:ALCdevice* device})'
  'alcCreateContext':
    'prefix': 'alcCreateContext'
    'body': 'alcCreateContext(${1:ALCdevice* device}, ${2:ALCint* attrlist})'
  'alcDestroyContext':
    'prefix': 'alcDestroyContext'
    'body': 'alcDestroyContext(${1:ALCcontext* context})'
  'alcGetContextsDevice':
    'prefix': 'alcGetContextsDevice'
    'body': 'alcGetContextsDevice(${1:ALCcontext* context})'
  'alcGetCurrentContext':
    'prefix': 'alcGetCurrentContext'
    'body': 'alcGetCurrentContext()'
  'alcGetEnumValue':
    'prefix': 'alcGetEnumValue'
    'body': 'alcGetEnumValue(${1:ALCdevice* device}, ${2:ALCchar* enumname})'
  'alcGetError':
    'prefix': 'alcGetError'
    'body': 'alcGetError(${1:ALCdevice* device})'
  'alcGetIntegerv':
    'prefix': 'alcGetIntegerv'
    'body': 'alcGetIntegerv(${1:ALCdevice* device}, ${2:ALCenum param}, ${3:ALCsizei size}, ${4:ALCint* data})'
  'alcGetProcAddress':
    'prefix': 'alcGetProcAddress'
    'body': 'alcGetProcAddress(${1:ALCdevice* device}, ${2:ALCchar* funcname})'
  'alcGetString':
    'prefix': 'alcGetString'
    'body': 'alcGetString(${1:ALCdevice* device}, ${2:ALCenum param})'
  'alcIsExtensionPresent':
    'prefix': 'alcIsExtensionPresent'
    'body': 'alcIsExtensionPresent(${1:ALCdevice* device}, ${2:ALCchar* extname})'
  'alcMakeContextCurrent':
    'prefix': 'alcMakeContextCurrent'
    'body': 'alcMakeContextCurrent(${1:ALCcontext* context})'
  'alcOpenDevice':
    'prefix': 'alcOpenDevice'
    'body': 'alcOpenDevice(${1:ALCchar* devicename})'
  'alcProcessContext':
    'prefix': 'alcProcessContext'
    'body': 'alcProcessContext(${1:ALCcontext* context})'
  'alcSuspendContext':
    'prefix': 'alcSuspendContext'
    'body': 'alcSuspendContext(${1:ALCcontext* context})'
