'.source.rubymotion':
  'numberOfPreviewItemsInPreviewController:':
    'prefix': 'numberOfPreviewItemsInPreviewController:'
    'body': 'numberOfPreviewItemsInPreviewController(${1:QLPreviewController* controller})'
  'previewController:frameForPreviewItem:inSourceView:':
    'prefix': 'previewController:frameForPreviewItem:inSourceView:'
    'body': 'previewController(${1:QLPreviewController* controller}, frameForPreviewItem:${2:id item}, inSourceView:${3:UIView** view})'
  'previewController:previewItemAtIndex:':
    'prefix': 'previewController:previewItemAtIndex:'
    'body': 'previewController(${1:QLPreviewController* controller}, previewItemAtIndex:${2:NSInteger index})'
  'previewController:shouldOpenURL:forPreviewItem:':
    'prefix': 'previewController:shouldOpenURL:forPreviewItem:'
    'body': 'previewController(${1:QLPreviewController* controller}, shouldOpenURL:${2:NSURL* url}, forPreviewItem:${3:id item})'
  'previewController:transitionImageForPreviewItem:contentRect:':
    'prefix': 'previewController:transitionImageForPreviewItem:contentRect:'
    'body': 'previewController(${1:QLPreviewController* controller}, transitionImageForPreviewItem:${2:id item}, contentRect:${3:CGRect* contentRect})'
  'previewControllerDidDismiss:':
    'prefix': 'previewControllerDidDismiss:'
    'body': 'previewControllerDidDismiss(${1:QLPreviewController* controller})'
  'previewControllerWillDismiss:':
    'prefix': 'previewControllerWillDismiss:'
    'body': 'previewControllerWillDismiss(${1:QLPreviewController* controller})'
  'previewItemTitle':
    'prefix': 'previewItemTitle'
    'body': 'previewItemTitle()'
  'previewItemURL':
    'prefix': 'previewItemURL'
    'body': 'previewItemURL()'
  'QLPreviewController.canPreviewItem:':
    'prefix': 'canPreviewItem:'
    'body': 'QLPreviewController.canPreviewItem(${1:id item})'
  'currentPreviewItem':
    'prefix': 'currentPreviewItem'
    'body': 'currentPreviewItem()'
  'currentPreviewItemIndex':
    'prefix': 'currentPreviewItemIndex'
    'body': 'currentPreviewItemIndex()'
  'dataSource':
    'prefix': 'dataSource'
    'body': 'dataSource()'
  'delegate':
    'prefix': 'delegate'
    'body': 'delegate()'
  'refreshCurrentPreviewItem':
    'prefix': 'refreshCurrentPreviewItem'
    'body': 'refreshCurrentPreviewItem()'
  'reloadData':
    'prefix': 'reloadData'
    'body': 'reloadData()'
  'setCurrentPreviewItemIndex:':
    'prefix': 'setCurrentPreviewItemIndex:'
    'body': 'setCurrentPreviewItemIndex(${1:NSInteger currentPreviewItemIndex})'
  'setDataSource:':
    'prefix': 'setDataSource:'
    'body': 'setDataSource(${1:id dataSource})'
  'setDelegate:':
    'prefix': 'setDelegate:'
    'body': 'setDelegate(${1:id delegate})'
  'numberOfPreviewItemsInPreviewController:':
    'prefix': 'numberOfPreviewItemsInPreviewController:'
    'body': 'numberOfPreviewItemsInPreviewController(${1:QLPreviewController* controller})'
  'previewController:previewItemAtIndex:':
    'prefix': 'previewController:previewItemAtIndex:'
    'body': 'previewController(${1:QLPreviewController* controller}, previewItemAtIndex:${2:NSInteger index})'
  'previewController:frameForPreviewItem:inSourceView:':
    'prefix': 'previewController:frameForPreviewItem:inSourceView:'
    'body': 'previewController(${1:QLPreviewController* controller}, frameForPreviewItem:${2:id item}, inSourceView:${3:UIView** view})'
  'previewController:shouldOpenURL:forPreviewItem:':
    'prefix': 'previewController:shouldOpenURL:forPreviewItem:'
    'body': 'previewController(${1:QLPreviewController* controller}, shouldOpenURL:${2:NSURL* url}, forPreviewItem:${3:id item})'
  'previewController:transitionImageForPreviewItem:contentRect:':
    'prefix': 'previewController:transitionImageForPreviewItem:contentRect:'
    'body': 'previewController(${1:QLPreviewController* controller}, transitionImageForPreviewItem:${2:id item}, contentRect:${3:CGRect* contentRect})'
  'previewControllerDidDismiss:':
    'prefix': 'previewControllerDidDismiss:'
    'body': 'previewControllerDidDismiss(${1:QLPreviewController* controller})'
  'previewControllerWillDismiss:':
    'prefix': 'previewControllerWillDismiss:'
    'body': 'previewControllerWillDismiss(${1:QLPreviewController* controller})'
  'previewItemTitle':
    'prefix': 'previewItemTitle'
    'body': 'previewItemTitle()'
  'previewItemURL':
    'prefix': 'previewItemURL'
    'body': 'previewItemURL()'
