'.source.rubymotion':
  'SLServiceTypeFacebook (NSString*)':
    'prefix': 'SLServiceTypeFacebook'
    'body': 'SLServiceTypeFacebook'
  'SLServiceTypeSinaWeibo (NSString*)':
    'prefix': 'SLServiceTypeSinaWeibo'
    'body': 'SLServiceTypeSinaWeibo'
  'SLServiceTypeTencentWeibo (NSString*)':
    'prefix': 'SLServiceTypeTencentWeibo'
    'body': 'SLServiceTypeTencentWeibo'
  'SLServiceTypeTwitter (NSString*)':
    'prefix': 'SLServiceTypeTwitter'
    'body': 'SLServiceTypeTwitter'
  'SLComposeViewControllerResultCancelled (0)':
    'prefix': 'SLComposeViewControllerResultCancelled'
    'body': 'SLComposeViewControllerResultCancelled'
  'SLComposeViewControllerResultDone (1)':
    'prefix': 'SLComposeViewControllerResultDone'
    'body': 'SLComposeViewControllerResultDone'
  'SLRequestMethodDELETE (2)':
    'prefix': 'SLRequestMethodDELETE'
    'body': 'SLRequestMethodDELETE'
  'SLRequestMethodGET (0)':
    'prefix': 'SLRequestMethodGET'
    'body': 'SLRequestMethodGET'
  'SLRequestMethodPOST (1)':
    'prefix': 'SLRequestMethodPOST'
    'body': 'SLRequestMethodPOST'
  'SLRequestMethodPUT (3)':
    'prefix': 'SLRequestMethodPUT'
    'body': 'SLRequestMethodPUT'
  'addImage:':
    'prefix': 'addImage:'
    'body': 'addImage(${1:UIImage* image})'
  'addURL:':
    'prefix': 'addURL:'
    'body': 'addURL(${1:NSURL* url})'
  'completionHandler':
    'prefix': 'completionHandler'
    'body': 'completionHandler()'
  'SLComposeViewController.composeViewControllerForServiceType:':
    'prefix': 'composeViewControllerForServiceType:'
    'body': 'SLComposeViewController.composeViewControllerForServiceType(${1:NSString* serviceType})'
  'SLComposeViewController.isAvailableForServiceType:':
    'prefix': 'isAvailableForServiceType:'
    'body': 'SLComposeViewController.isAvailableForServiceType(${1:NSString* serviceType})'
  'removeAllImages':
    'prefix': 'removeAllImages'
    'body': 'removeAllImages()'
  'removeAllURLs':
    'prefix': 'removeAllURLs'
    'body': 'removeAllURLs()'
  'serviceType':
    'prefix': 'serviceType'
    'body': 'serviceType()'
  'setCompletionHandler:':
    'prefix': 'setCompletionHandler:'
    'body': 'setCompletionHandler(${1:SLComposeViewControllerCompletionHandler completionHandler})'
  'setInitialText:':
    'prefix': 'setInitialText:'
    'body': 'setInitialText(${1:NSString* text})'
  'URL':
    'prefix': 'URL'
    'body': 'URL()'
  'account':
    'prefix': 'account'
    'body': 'account()'
  'addMultipartData:withName:type:filename:':
    'prefix': 'addMultipartData:withName:type:filename:'
    'body': 'addMultipartData(${1:NSData* data}, withName:${2:NSString* name}, type:${3:NSString* type}, filename:${4:NSString* filename})'
  'parameters':
    'prefix': 'parameters'
    'body': 'parameters()'
  'performRequestWithHandler:':
    'prefix': 'performRequestWithHandler:'
    'body': 'performRequestWithHandler(${1:SLRequestHandler handler})'
  'preparedURLRequest':
    'prefix': 'preparedURLRequest'
    'body': 'preparedURLRequest()'
  'SLRequest.requestForServiceType:requestMethod:URL:parameters:':
    'prefix': 'requestForServiceType:requestMethod:URL:parameters:'
    'body': 'SLRequest.requestForServiceType(${1:NSString* serviceType}, requestMethod:${2:SLRequestMethod requestMethod}, URL:${3:NSURL* url}, parameters:${4:NSDictionary* parameters})'
  'requestMethod':
    'prefix': 'requestMethod'
    'body': 'requestMethod()'
  'setAccount:':
    'prefix': 'setAccount:'
    'body': 'setAccount(${1:ACAccount* account})'
